<a id = 'top'></a>

# Crime in Boston, Revisited (Version 1.0)

**Ying Zhou**

**Table of contents**

[1.Data wrangling](#1)

[1.1 Exploration](#1.1)

[1.2 Removing irrelevant columns](#1.2)

[1.3 Process location data](#1.3)

[1.4 Process time](#1.4)

[1.5 Remove non-crimes](#1.5)

[1.6 Combine the two dataframes](#1.6)

[2.Regressions](#2)

[2.1 Preparation](#2.1)

[2.2 Select and split](#2.2A)

[2.3 Linear Regressor](#2.2)

[2.4 BaggingRegressor, AdaBoostRegressor, ExtraTreesRegressor](#2.4)

[2.5 GradientBoostingRegressor, RandomForestRegressor, LGBMRegressor](#2.4)

[2.6 KNeighborsRegressor, RadiusNeighborsRegressor](#2.5)

[2.7 DecisionTreeRegressor](#2.6)

[2.8 Ridge, RidgeCV, BayesianRidge](#2.7)

[2.9 HuberRegressor, TheilSenRegressor, RANSACRegressor](#2.8)

[2.10 MLPRegressor](#2.9)

[2.11 SVR](#2.10)

[3. Tuning hyperparameters](#3)

Now let's return to the problem of crime in Boston. This time we will predict the amount of crimes, do some validation and finally use all my data to make the prediction about crime in Boston in the future. We won't do preliminary analysis any more because especially for the last 3-4 years I think this is already explored in details in the last project.

Again let's first import the usual packages.

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import datetime
from bs4 import BeautifulSoup

Since we need to do some machine learning let's import regression-related parts of sklearn too. However this local computer can not handle deep learning which is why we won't import Keras. If necessary we will do some regression on Google Colab.

In [2]:
from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.preprocessing import OneHotEncoder, StandardScaler, RobustScaler

from sklearn.metrics import mean_squared_error, median_absolute_error, mean_absolute_error
from sklearn.metrics import r2_score, explained_variance_score
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.ensemble import BaggingRegressor, AdaBoostRegressor, ExtraTreesRegressor

from sklearn.neighbors import KNeighborsRegressor, RadiusNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.linear_model import Ridge, RidgeCV, BayesianRidge
from sklearn.linear_model import HuberRegressor, TheilSenRegressor, RANSACRegressor

from sklearn.svm import SVR

from sklearn.neural_network import MLPRegressor

import lightgbm as lgb

/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_9.4.1) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

Since we need to draw graphs we need to write our multiliner function here which can help us leave more room for tick labels if the tick labels are really long.

In [3]:
def multiliner(string_list, n):
    length = len(string_list)
    for i in range(length):
        rem = i % n
        string_list[i] = '\n' * rem + string_list[i]
    return string_list

Time to get the data!

In [4]:
#Since the new crime dataset is updated regularly the links may not be stable, hence we use the preview page to obtain the actual links
new_preview_url = 'https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system/resource/12cb3883-56f5-47de-afa5-3b1cf61b257b'
new_req = requests.get(new_preview_url)
new_req.raise_for_status()
if new_req.status_code == requests.codes.ok:
    new_soup = BeautifulSoup(new_req.text, 'html.parser')
    new_url = new_soup.find_all('a',{'class':'btn btn-primary resource-url-analytics resource-type-None'})[0]['href']
old_url = 'https://data.boston.gov/dataset/eefad66a-e805-4b35-b170-d26e2028c373/resource/ba5ed0e2-e901-438c-b2e0-4acfc3c452b9/download/crime-incident-reports-july-2012-august-2015-source-legacy-system.csv'

In [5]:
df_new = pd.read_csv(new_url)
df_old = pd.read_csv(old_url)

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

[Return to top](#top)
<a id = '1'></a>
# 1. Data Wrangling

<a id = '1.1'></a>
[Return to top](#top)
## 1.1 Exploration

In [6]:
df_new.shape

(404051, 17)

In [7]:
df_old.head()

,COMPNOS,NatureCode,INCIDENT_TYPE_DESCRIPTION,MAIN_CRIMECODE,REPTDISTRICT,REPORTINGAREA,FROMDATE,WEAPONTYPE,Shooting,DOMESTIC,SHIFT,Year,Month,DAY_WEEK,UCRPART,X,Y,STREETNAME,XSTREETNAME,Location
0,120420285.0,BERPTA,RESIDENTIAL BURGLARY,05RB,D4,629,07/08/2012 06:00:00 AM,Other,No,No,Last,2012,7,Sunday,Part One,763273.1791,2951498.962,ABERDEEN ST,NaN,"(42.34638135, -71.10379454)"
1,120419202.0,PSHOT,AGGRAVATED ASSAULT,04xx,B2,327,07/08/2012 06:03:00 AM,Firearm,Yes,No,Last,2012,7,Sunday,Part One,771223.1638,2940772.099,HOWARD AV,NaN,"(42.31684135, -71.07458456)"
2,120419213.0,ARMROB,ROBBERY,03xx,D4,625,07/08/2012 06:26:00 AM,Firearm,No,No,Last,2012,7,Sunday,Part One,765118.8605,2950217.536,JERSEY ST,QUEENSBERRY ST,"(42.34284135, -71.09698955)"
3,120419223.0,ALARMC,COMMERCIAL BURGLARY,05CB,B2,258,07/08/2012 06:56:00 AM,Other,No,No,Last,2012,7,Sunday,Part One,773591.8648,2940638.174,COLUMBIA RD,NaN,"(42.3164411, -71.06582908)"
4,120419236.0,ARMROB,ROBBERY,03xx,E18,496,07/08/2012 07:15:00 AM,Firearm,No,No,Last,2012,7,Sunday,Part One,759042.7315,2923832.681,COLLINS ST,NaN,"(42.27051636, -71.11989955)"

In [8]:
df_new.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192054879,3301,Verbal Disputes,VERBAL DISPUTE,B2,314,NaN,2019-07-16 20:35:00,2019,7,Tuesday,20,Part Three,HOWLAND ST,42.314448,-71.089934,"(42.31444840, -71.08993418)"
1,I192054875,2403,Disorderly Conduct,DISTURBING THE PEACE,C11,361,NaN,2019-07-16 21:10:00,2019,7,Tuesday,21,Part Two,MATHER ST,42.294686,-71.063125,"(42.29468596, -71.06312544)"
2,I192054874,3301,Verbal Disputes,VERBAL DISPUTE,B3,466,NaN,2019-07-16 20:34:00,2019,7,Tuesday,20,Part Three,OUTLOOK RD,42.282455,-71.094488,"(42.28245514, -71.09448768)"
3,I192054873,2662,Ballistics,BALLISTICS EVIDENCE/FOUND,B2,325,NaN,2019-07-16 21:18:00,2019,7,Tuesday,21,Part Two,QUINCY ST,42.313322,-71.075915,"(42.31332153, -71.07591511)"
4,I192054866,617,Larceny,LARCENY THEFT FROM BUILDING,C6,194,NaN,2019-07-16 20:37:00,2019,7,Tuesday,20,Part One,DORCHESTER AVE,42.330140,-71.056958,"(42.33014012, -71.05695787)"

In [9]:
df_old.shape

(268056, 20)

In [10]:
df_new.dtypes

INCIDENT_NUMBER         object
OFFENSE_CODE             int64
OFFENSE_CODE_GROUP      object
OFFENSE_DESCRIPTION     object
DISTRICT                object
REPORTING_AREA          object
SHOOTING                object
OCCURRED_ON_DATE        object
YEAR                     int64
MONTH                    int64
DAY_OF_WEEK             object
HOUR                     int64
UCR_PART                object
STREET                  object
Lat                    float64
Long                   float64
Location                object
dtype: object

In [11]:
df_old.dtypes

COMPNOS                      float64
NatureCode                    object
INCIDENT_TYPE_DESCRIPTION     object
MAIN_CRIMECODE                object
REPTDISTRICT                  object
REPORTINGAREA                  int64
FROMDATE                      object
WEAPONTYPE                    object
Shooting                      object
DOMESTIC                      object
SHIFT                         object
Year                           int64
Month                          int64
DAY_WEEK                      object
UCRPART                       object
X                            float64
Y                            float64
STREETNAME                    object
XSTREETNAME                   object
Location                      object
dtype: object

We are very interested in knowing whether the `Lat` / `Long` / `Location` data contains de facto NaN values that aren't labelled as NaN.

In [12]:
df_new['Lat'].value_counts()

 42.348624    1611
 42.361839    1573
 42.284826    1394
 42.328663    1286
 42.256216    1200
 42.297555    1055
 42.331521     969
 42.341288     965
-1.000000      905
 42.335119     883
 42.326966     835
 42.352312     832
 42.309719     822
 42.339542     811
 42.332108     803
 42.326968     787
 42.355123     766
 42.334018     706
 42.342850     687
 42.298489     684
 42.310434     670
 42.334288     654
 42.349802     626
 42.350959     624
 42.333679     620
 42.366435     607
 42.370818     602
 42.356024     600
 42.349056     591
 42.348406     591
              ...
 42.301570       1
 42.321381       1
 42.284653       1
 42.349891       1
 42.292743       1
 42.318082       1
 42.282142       1
 42.352737       1
 42.348822       1
 42.332089       1
 42.357649       1
 42.350426       1
 42.288607       1
 42.345610       1
 42.272102       1
 42.294009       1
 42.309141       1
 42.331083       1
 42.310795       1
 42.356965       1
 42.373353       1
 42.358054       1
 42.250168       1
 42.339568       1
 42.357124       1
 42.346812       1
 42.283126       1
 42.290786       1
 42.351462       1
 42.359110       1
Name: Lat, Length: 18766, dtype: int64

In [13]:
df_new['Long'].value_counts()

-71.082776    1611
-71.059765    1573
-71.091374    1394
-71.085634    1286
-71.124019    1200
-71.059709    1055
-71.070853     969
-71.054679     965
-1.000000      905
-71.074917     883
-71.061986     835
-71.063705     832
-71.104294     822
-71.069409     811
-71.070144     803
-71.080519     787
-71.060880     766
-71.076381     706
-71.065162     687
-71.063133     684
-71.061340     670
-71.072395     654
-71.078410     626
-71.074128     624
-71.091878     620
-71.061354     607
-71.039291     602
-71.061776     600
-71.086883     591
-71.150498     591
              ...
-71.084590       1
-71.123187       1
-71.140785       1
-71.142722       1
-71.051884       1
-71.060373       1
-71.061490       1
-71.086027       1
-71.052596       1
-71.048927       1
-71.050892       1
-71.096301       1
-71.120902       1
-71.127557       1
-71.026605       1
-71.053756       1
-71.050320       1
-71.068767       1
-71.064799       1
-71.164690       1
-71.075020       1
-71.105416       1
-71.060748       1
-71.048386       1
-71.078681       1
-71.117804       1
-71.115100       1
-71.157291       1
-71.158072       1
-71.121714       1
Name: Long, Length: 18768, dtype: int64

In [14]:
df_new['Location'].value_counts()

(0.00000000, 0.00000000)       26219
(42.34862382, -71.08277637)     1611
(42.36183857, -71.05976489)     1573
(42.28482577, -71.09137369)     1394
(42.32866284, -71.08563401)     1286
(42.25621592, -71.12401947)     1200
(42.29755533, -71.05970910)     1055
(42.33152148, -71.07085307)      969
(42.34128751, -71.05467933)      965
(-1.00000000, -1.00000000)       905
(42.33511904, -71.07491710)      883
(42.32696647, -71.06198607)      835
(42.35231190, -71.06370510)      832
(42.30971857, -71.10429432)      822
(42.33954199, -71.06940877)      811
(42.33210843, -71.07014395)      803
(42.32696802, -71.08051941)      787
(42.35512339, -71.06087980)      766
(42.33401829, -71.07638124)      706
(42.34285014, -71.06516235)      687
(42.29848866, -71.06313294)      684
(42.31043400, -71.06134010)      670
(42.33428841, -71.07239518)      654
(42.34980175, -71.07840978)      626
(42.35095909, -71.07412780)      624
(42.33367922, -71.09187755)      620
(42.36643546, -71.06135413)      607
(42.37081805, -71.03929078)      602
(42.35602373, -71.06177615)      600
(42.34905600, -71.15049850)      591
                               ...
(42.34915419, -71.08864146)        1
(42.32177367, -71.10476737)        1
(42.32985637, -71.11219607)        1
(42.35877059, -71.07171603)        1
(42.34583186, -71.14116760)        1
(42.38371266, -71.02281268)        1
(42.30941623, -71.11367541)        1
(42.24159056, -71.14077174)        1
(42.27533348, -71.15474658)        1
(42.28945011, -71.08963295)        1
(42.29539655, -71.11906226)        1
(42.25652992, -71.11278980)        1
(42.37532727, -71.06036416)        1
(42.27352980, -71.11717697)        1
(42.31673002, -71.07229587)        1
(42.37495400, -71.03869700)        1
(42.26885344, -71.10359379)        1
(42.30705168, -71.06403042)        1
(42.35336788, -71.15807896)        1
(42.34216760, -71.06289663)        1
(42.29131096, -71.16828645)        1
(42.34252847, -71.06648750)        1
(42.35209614, -71.07078521)        1
(42.27251160, -71.10777765)        1
(42.33152902, -71.03239584)        1
(42.29179690, -71.15844697)        1
(42.38309417, -71.07964478)        1
(42.34677042, -71.10535490)        1
(42.28906948, -71.13401691)        1
(42.33274717, -71.02653691)        1
Name: Location, Length: 18785, dtype: int64

Other than the (0,0)s and (-1,-1)s they are mostly reasonable. So I think we will do a filter and treat completely absurd outliers as NAs.

In [15]:
df_old['Location'].value_counts()

(0.0, 0.0)                               14981
(42.3286598, -71.08561842)                1506
(42.32543556, -71.06387302)               1008
(42.28486136, -71.09132455)                843
(42.34130529, -71.0547108)                 735
(42.31037135, -71.06123456)                714
(42.34865634, -71.08256955)                699
(42.29754136, -71.05973457)                695
(42.36164815, -71.05998657)                675
(42.33950635, -71.06938956)                635
(42.25642136, -71.12394954)                624
(42.35237134, -71.06490456)                597
(42.33325635, -71.07289955)                595
(42.35230134, -71.06367456)                580
(42.33372337, -71.09095643)                532
(42.28714136, -71.14857453)                463
(42.34898135, -71.15091453)                431
(42.32723569, -71.08059616)                426
(42.35505634, -71.06084456)                425
(42.30972244, -71.10427304)                416
(42.34710135, -71.07960455)                397
(42.35075635, -71.07485456)                389
(42.33151135, -71.07083456)                359
(42.29602136, -71.07718456)                339
(42.33109591, -71.09038894)                329
(42.37124634, -71.03886957)                328
(42.28405295, -71.11241077)                320
(42.34671135, -71.08008456)                316
(42.29848136, -71.06315456)                312
(42.35925134, -71.05941456)                310
                                         ...
(42.3376346169467, -71.0701302407963)        1
(42.3297253866472, -71.0341585965057)        1
(42.3574791158504, -71.0582785155767)        1
(42.38922134, -71.01068958)                  1
(42.286475654358, -71.1322127094273)         1
(42.28846136, -71.11231955)                  1
(42.36614134, -71.03575457)                  1
(42.38266134, -71.00015958)                  1
(42.3180673013857, -71.0788608811267)        1
(42.2541150987348, -71.1194655723059)        1
(42.28076136, -71.08632956)                  1
(42.2872074933357, -71.1493802352599)        1
(42.3154479528801, -71.0981761165483)        1
(42.3661509691424, -71.0527758238421)        1
(42.3515868723022, -71.1434910801062)        1
(42.264964736971, -71.1212316745395)         1
(42.27870136, -71.08470956)                  1
(42.3263011019989, -71.0776491967498)        1
(42.3247452402233, -71.0685100531142)        1
(42.2568102086188, -71.129183395519)         1
(42.2653365024468, -71.1525989971652)        1
(42.27692136, -71.13485954)                  1
(42.3523024379172, -71.0613334658046)        1
(42.33349135, -71.16714953)                  1
(42.34076635, -71.07713455)                  1
(42.37299135, -71.06268956)                  1
(42.25189137, -71.13240954)                  1
(42.33803135, -71.04637957)                  1
(42.2833855265318, -71.0557269454321)        1
(42.3429957170833, -71.0734406439234)        1
Name: Location, Length: 23199, dtype: int64

<a id = '1.2'></a>
[Return to top](#top)
## 1.2 Removing irrelevant columns

As usual we will filter out what's irrelevant. For example I haven't figured out what an RA number actually is. As for `X` and `Y` in the old table they are also irrelevant so we will get rid of them.

In [16]:
df_old_simplified = df_old[['INCIDENT_TYPE_DESCRIPTION', 'FROMDATE', 'Year' ,'Month', 'DAY_WEEK', 'UCRPART', 'STREETNAME', 'Location']]

In [17]:
df_old_simplified['INCIDENT_TYPE_DESCRIPTION'].value_counts()

VAL                                 27363
OTHER LARCENY                       24443
SIMPLE ASSAULT                      17697
MedAssist                           17128
MVAcc                               13832
VANDALISM                           13339
InvPer                              12937
LARCENY FROM MOTOR VEHICLE          12742
DRUG CHARGES                        12042
FRAUD                                8742
PropLost                             8522
TOWED                                7526
RESIDENTIAL BURGLARY                 6737
InvProp                              6592
AGGRAVATED ASSAULT                   5649
Service                              5353
ROBBERY                              4974
PersLoc                              4745
AUTO THEFT                           4620
PropFound                            4316
Argue                                2833
Arrest                               1959
OTHER                                1902
FIRE                                 1848
DISORDERLY                           1827
PhoneCalls                           1525
COMMERCIAL BURGLARY                  1497
Motor Vehicle Accident Response      1399
BENoProp                             1367
FORGERY                              1296
                                    ...
Landlord/Tenant Disputes               36
HateCrim                               35
License Plate Related Incidents        34
Indecent Assault                       34
ARSON                                  30
Runaway                                30
Assembly or Gathering Violations       29
Auto Theft Recovery                    29
Liquor Violation                       25
Operating Under the Influence          23
Other Burglary                         22
Sex Offender Registration              19
Search Warrants                        19
Aircraft                               18
Evading Fare                           16
Prisoner Related Incidents             14
Criminal Harassment                    13
GAMBLING OFFENSE                       13
Prostitution                           13
Manslaug                                9
Labor                                   8
Harbor Related Incidents                8
Embezzlement                            7
Homicide                                7
Firearm Discovery                       4
BioThreat                               3
Arson                                   3
Rape and Attempted                      2
Explosives                              2
Bomb Hoax                               1
Name: INCIDENT_TYPE_DESCRIPTION, Length: 127, dtype: int64

Oh so homogenizing the data can be hard. However this still has to be done.

In [18]:
df_new_simplified = df_new[['OFFENSE_CODE_GROUP','OCCURRED_ON_DATE','YEAR','MONTH','DAY_OF_WEEK','HOUR','UCR_PART','STREET','Lat','Long']]

In [19]:
df_new_simplified['OFFENSE_CODE_GROUP'].value_counts()

Motor Vehicle Accident Response              47057
Larceny                                      32780
Medical Assistance                           30702
Investigate Person                           23681
Other                                        22730
Drug Violation                               20957
Simple Assault                               20174
Vandalism                                    19053
Verbal Disputes                              16805
Investigate Property                         14310
Towed                                        14177
Larceny From Motor Vehicle                   13217
Property Lost                                12734
Warrant Arrests                              10513
Aggravated Assault                           10044
Fraud                                         7756
Violations                                    7591
Missing Person Located                        6834
Residential Burglary                          6591
Auto Theft                                    5884
Robbery                                       5525
Harassment                                    5214
Property Found                                4968
Missing Person Reported                       4570
Confidence Games                              3863
Police Service Incidents                      3772
Disorderly Conduct                            3146
Fire Related Reports                          2374
Firearm Violations                            2332
License Violation                             2191
                                             ...
Landlord/Tenant Disputes                      1253
Ballistics                                    1241
Property Related Damage                       1123
Assembly or Gathering Violations              1112
Firearm Discovery                              853
License Plate Related Incidents                724
Operating Under the Influence                  708
Offenses Against Child / Family                644
Other Burglary                                 561
Evading Fare                                   507
Embezzlement                                   384
Service                                        358
Prisoner Related Incidents                     334
Harbor Related Incidents                       292
Homicide                                       264
Prostitution                                   263
Criminal Harassment                            155
Bomb Hoax                                      108
Arson                                          107
HOME INVASION                                   92
Aircraft                                        55
Phone Call Complaints                           44
Explosives                                      31
Manslaughter                                    10
Gambling                                         8
HUMAN TRAFFICKING                                8
INVESTIGATE PERSON                               5
Burglary - No Property Taken                     5
HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE        3
Biological Threat                                2
Name: OFFENSE_CODE_GROUP, Length: 67, dtype: int64

I think we are definitely going to restrict our concerns to major crimes.

In [20]:
df_old_simplified.dtypes

INCIDENT_TYPE_DESCRIPTION    object
FROMDATE                     object
Year                          int64
Month                         int64
DAY_WEEK                     object
UCRPART                      object
STREETNAME                   object
Location                     object
dtype: object

<a id = '1.3'></a>
[Return to top](#top)
## 1.3 Process location data

In [21]:
def get_lat_long(loc_string):
    loc_list = loc_string.lstrip('(').rstrip(')').split()
    return loc_list[0].strip(','), loc_list[1]

In [22]:
get_lat_long('(42.34638135, -71.10379454)')

('42.34638135', '-71.10379454')

In [23]:
df_old_simplified['Lat'] = df_old_simplified['Location'].apply(lambda x: get_lat_long(x)[0])
df_old_simplified['Long'] = df_old_simplified['Location'].apply(lambda x: get_lat_long(x)[1])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
df_old_simplified.tail()

,INCIDENT_TYPE_DESCRIPTION,FROMDATE,Year,Month,DAY_WEEK,UCRPART,STREETNAME,Location,Lat,Long
268051,Motor Vehicle Accident Response,08/10/2015 02:38:00 AM,2015,8,Monday,Part Three,HARVARD ST,"(0.0, 0.0)",0.0,0.0
268052,Police Service Incidents,08/10/2015 04:46:00 AM,2015,8,Monday,Part Three,DORCHESTER AVE,"(0.0, 0.0)",0.0,0.0
268053,Motor Vehicle Accident Response,08/10/2015 04:48:00 AM,2015,8,Monday,Part Three,DECKARD ST,"(0.0, 0.0)",0.0,0.0
268054,Investigate Person,08/10/2015 05:01:00 AM,2015,8,Monday,Part Three,HAMMOND ST,"(0.0, 0.0)",0.0,0.0
268055,Motor Vehicle Accident Response,08/10/2015 05:20:00 AM,2015,8,Monday,Part Three,NaN,"(0.0, 0.0)",0.0,0.0

In [25]:
del df_old_simplified['Location']

Now we need to filter out NAs.

In [26]:
def lat_na_er(num_string):
    try:
        num = float(num_string)
        if num < 40 or num > 45:
            return np.nan
        return num
    except ValueError as e:
        return np.nan

In [27]:
def long_na_er(num_string):
    try:
        num = float(num_string)
        if num < -75 or num > -70:
            return np.nan
        return num
    except ValueError as e:
        return np.nan

In [28]:
df_old_simplified['Lat'] = df_old_simplified['Lat'].apply(lat_na_er)
df_old_simplified['Long'] = df_old_simplified['Long'].apply(long_na_er)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
df_old_simplified.head()

,INCIDENT_TYPE_DESCRIPTION,FROMDATE,Year,Month,DAY_WEEK,UCRPART,STREETNAME,Lat,Long
0,RESIDENTIAL BURGLARY,07/08/2012 06:00:00 AM,2012,7,Sunday,Part One,ABERDEEN ST,42.346381,-71.103795
1,AGGRAVATED ASSAULT,07/08/2012 06:03:00 AM,2012,7,Sunday,Part One,HOWARD AV,42.316841,-71.074585
2,ROBBERY,07/08/2012 06:26:00 AM,2012,7,Sunday,Part One,JERSEY ST,42.342841,-71.096990
3,COMMERCIAL BURGLARY,07/08/2012 06:56:00 AM,2012,7,Sunday,Part One,COLUMBIA RD,42.316441,-71.065829
4,ROBBERY,07/08/2012 07:15:00 AM,2012,7,Sunday,Part One,COLLINS ST,42.270516,-71.119900

In [30]:
df_old_simplified.describe()

                Year          Month            Lat           Long
count  268056.000000  268056.000000  253075.000000  253075.000000
mean     2013.538664       6.589134      42.323847     -71.083360
std         0.970562       3.323806       0.031772       0.030869
min      2012.000000       1.000000      42.232264     -71.178674
25%      2013.000000       4.000000      42.299386     -71.098625
50%      2014.000000       7.000000      42.328660     -71.078035
75%      2014.000000       9.000000      42.349236     -71.062280
max      2015.000000      12.000000      42.395105     -70.964365

Great. We need to do the same for the new one.

In [31]:
df_new_simplified['Lat'] = df_new_simplified['Lat'].apply(lat_na_er)
df_new_simplified['Long'] = df_new_simplified['Long'].apply(long_na_er)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
df_new_simplified.head()

,OFFENSE_CODE_GROUP,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long
0,Verbal Disputes,2019-07-16 20:35:00,2019,7,Tuesday,20,Part Three,HOWLAND ST,42.314448,-71.089934
1,Disorderly Conduct,2019-07-16 21:10:00,2019,7,Tuesday,21,Part Two,MATHER ST,42.294686,-71.063125
2,Verbal Disputes,2019-07-16 20:34:00,2019,7,Tuesday,20,Part Three,OUTLOOK RD,42.282455,-71.094488
3,Ballistics,2019-07-16 21:18:00,2019,7,Tuesday,21,Part Two,QUINCY ST,42.313322,-71.075915
4,Larceny,2019-07-16 20:37:00,2019,7,Tuesday,20,Part One,DORCHESTER AVE,42.330140,-71.056958

In [33]:
df_new_simplified.describe()

,YEAR,MONTH,HOUR,Lat,Long
count,404051.000000,404051.000000,404051.000000,376927.000000,376927.000000
mean,2016.985801,6.565981,13.112436,42.322150,-71.082957
std,1.235361,3.344443,6.292317,0.031900,0.029678
min,2015.000000,1.000000,0.000000,42.232413,-71.178674
25%,2016.000000,4.000000,9.000000,42.297521,-71.097273
50%,2017.000000,7.000000,14.000000,42.325586,-71.077665
75%,2018.000000,9.000000,18.000000,42.348601,-71.062607
max,2019.000000,12.000000,23.000000,42.395042,-70.963676

Now we need to process time.

<a id = '1.4'></a>
[Return to top](#top)
## 1.4 Process time

In [34]:
df_new_simplified['OCCURRED_ON_DATE'].isna().sum()

0

In [35]:
df_old_simplified['FROMDATE'].isna().sum()

0

At least there are no open NAs. Now let's check the timeline.

In [36]:
df_new_simplified.head()

,OFFENSE_CODE_GROUP,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long
0,Verbal Disputes,2019-07-16 20:35:00,2019,7,Tuesday,20,Part Three,HOWLAND ST,42.314448,-71.089934
1,Disorderly Conduct,2019-07-16 21:10:00,2019,7,Tuesday,21,Part Two,MATHER ST,42.294686,-71.063125
2,Verbal Disputes,2019-07-16 20:34:00,2019,7,Tuesday,20,Part Three,OUTLOOK RD,42.282455,-71.094488
3,Ballistics,2019-07-16 21:18:00,2019,7,Tuesday,21,Part Two,QUINCY ST,42.313322,-71.075915
4,Larceny,2019-07-16 20:37:00,2019,7,Tuesday,20,Part One,DORCHESTER AVE,42.330140,-71.056958

We need to round time to hours because police officers don't really document minutes and seconds carefully (to see why this is true please check out the old Crime in Boston project).

In [37]:
df_new_simplified['day'] = df_new_simplified['OCCURRED_ON_DATE'].apply(lambda x: int(x[8:10]))
df_new_simplified['min'] = df_new_simplified['OCCURRED_ON_DATE'].apply(lambda x: int(x[-5:-3]))
df_new_simplified['sec'] = df_new_simplified['OCCURRED_ON_DATE'].apply(lambda x: int(x[-2:]))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
df_new_simplified.head()

,OFFENSE_CODE_GROUP,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,day,min,sec
0,Verbal Disputes,2019-07-16 20:35:00,2019,7,Tuesday,20,Part Three,HOWLAND ST,42.314448,-71.089934,16,35,0
1,Disorderly Conduct,2019-07-16 21:10:00,2019,7,Tuesday,21,Part Two,MATHER ST,42.294686,-71.063125,16,10,0
2,Verbal Disputes,2019-07-16 20:34:00,2019,7,Tuesday,20,Part Three,OUTLOOK RD,42.282455,-71.094488,16,34,0
3,Ballistics,2019-07-16 21:18:00,2019,7,Tuesday,21,Part Two,QUINCY ST,42.313322,-71.075915,16,18,0
4,Larceny,2019-07-16 20:37:00,2019,7,Tuesday,20,Part One,DORCHESTER AVE,42.330140,-71.056958,16,37,0

In [39]:
del df_new_simplified['OCCURRED_ON_DATE']

In [40]:
def is_leap(year):
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

def num_of_days(month, year):
    non_leap = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if month != 2:
        return non_leap[month - 1]
    else:
        if is_leap(year):
            return 29
        else:
            return 28
tie_break_round_up = False #Tie break round up status
NEXT = {'Monday': 'Tuesday', 'Tuesday': 'Wednesday', 'Wednesday': 'Thursday', 'Thursday':'Friday','Friday':'Saturday','Saturday':'Sunday','Sunday':'Monday'}

In [41]:
for index, row in df_new_simplified.iterrows():
    round_up = False #Round up this time?
    if df_new_simplified.at[index, 'min'] == 30 and df_new_simplified.at[index, 'sec'] == 0: #Tie break
        if tie_break_round_up:
            round_up = True
        tie_break_round_up = not tie_break_round_up
    if df_new_simplified.at[index, 'min'] > 30 or (df_new_simplified.at[index, 'min'] == 30 and df_new_simplified.at[index, 'sec'] > 0):
        round_up = True
    if round_up:
        df_new_simplified.at[index, 'HOUR'] = df_new_simplified.at[index, 'HOUR'] + 1
        if df_new_simplified.at[index, 'HOUR'] == 24:
            df_new_simplified.at[index, 'HOUR'] = 0
            df_new_simplified.at[index, 'day'] = df_new_simplified.at[index, 'day'] + 1
            df_new_simplified.at[index, 'DAY_OF_WEEK'] = NEXT[df_new_simplified.at[index, 'DAY_OF_WEEK']]
            if df_new_simplified.at[index, 'day'] > num_of_days(df_new_simplified.at[index, 'MONTH'], df_new_simplified.at[index, 'YEAR']):
                df_new_simplified.at[index, 'day'] = 1
                df_new_simplified.at[index, 'MONTH'] = df_new_simplified.at[index, 'MONTH'] + 1
                if df_new_simplified.at[index,'MONTH'] == 13:
                    df_new_simplified.at[index,'MONTH'] = 1
                    df_new_simplified.at[index, 'YEAR'] = df_new_simplified.at[index, 'YEAR'] + 1

In [42]:
def extract_hour(old_string):
    hour = int(old_string[11:13])
    code = old_string[-2:]
    if hour == 12:
        hour = hour - 12
    if code == 'PM':
        hour = hour + 12
    return hour

In [43]:
df_old_simplified['day'] = df_old_simplified['FROMDATE'].apply(lambda x: int(x[3:5]))
df_old_simplified['min'] = df_old_simplified['FROMDATE'].apply(lambda x: int(x[14:16]))
df_old_simplified['sec'] = df_old_simplified['FROMDATE'].apply(lambda x: int(x[17:19]))
df_old_simplified['hour'] = df_old_simplified['FROMDATE'].apply(extract_hour)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [44]:
for index, row in df_old_simplified.iterrows():
    round_up = False #Round up this time?
    if df_old_simplified.at[index, 'min'] == 30 and df_old_simplified.at[index, 'sec'] == 0: #Tie break
        if tie_break_round_up:
            round_up = True
        tie_break_round_up = not tie_break_round_up
    if df_old_simplified.at[index, 'min'] > 30 or (df_old_simplified.at[index, 'min'] == 30 and df_old_simplified.at[index, 'sec'] > 0):
        round_up = True
    if round_up:
        df_old_simplified.at[index, 'hour'] = df_old_simplified.at[index, 'hour'] + 1
        if df_old_simplified.at[index, 'hour'] == 24:
            df_old_simplified.at[index, 'hour'] = 0
            df_old_simplified.at[index, 'day'] = df_old_simplified.at[index, 'day'] + 1
            df_old_simplified.at[index, 'DAY_WEEK'] = NEXT[df_old_simplified.at[index, 'DAY_WEEK']]
            if df_old_simplified.at[index, 'day'] > num_of_days(df_old_simplified.at[index, 'Month'], df_old_simplified.at[index, 'Year']):
                df_old_simplified.at[index, 'day'] = 1
                df_old_simplified.at[index, 'Month'] = df_old_simplified.at[index, 'Month'] + 1
                if df_old_simplified.at[index,'Month'] == 13:
                    df_old_simplified.at[index,'Month'] = 1
                    df_old_simplified.at[index, 'Year'] = df_old_simplified.at[index, 'Year'] + 1

In [45]:
df_old_simplified.head(10)

,INCIDENT_TYPE_DESCRIPTION,FROMDATE,Year,Month,DAY_WEEK,UCRPART,STREETNAME,Lat,Long,day,min,sec,hour
0,RESIDENTIAL BURGLARY,07/08/2012 06:00:00 AM,2012,7,Sunday,Part One,ABERDEEN ST,42.346381,-71.103795,8,0,0,6
1,AGGRAVATED ASSAULT,07/08/2012 06:03:00 AM,2012,7,Sunday,Part One,HOWARD AV,42.316841,-71.074585,8,3,0,6
2,ROBBERY,07/08/2012 06:26:00 AM,2012,7,Sunday,Part One,JERSEY ST,42.342841,-71.096990,8,26,0,6
3,COMMERCIAL BURGLARY,07/08/2012 06:56:00 AM,2012,7,Sunday,Part One,COLUMBIA RD,42.316441,-71.065829,8,56,0,7
4,ROBBERY,07/08/2012 07:15:00 AM,2012,7,Sunday,Part One,COLLINS ST,42.270516,-71.119900,8,15,0,7
5,ROBBERY,07/08/2012 07:32:00 AM,2012,7,Sunday,Part One,SYDNEY ST,42.313282,-71.053006,8,32,0,8
6,ROBBERY,07/08/2012 07:50:00 AM,2012,7,Sunday,Part One,REGENT ST,42.324251,-71.086210,8,50,0,8
7,SIMPLE ASSAULT,07/08/2012 07:50:00 AM,2012,7,Sunday,Part Two,WASHINGTON ST,42.349246,-71.063785,8,50,0,8
8,MedAssist,07/08/2012 07:53:00 AM,2012,7,Sunday,Part Three,FANEUIL ST,42.351746,-71.165910,8,53,0,8
9,MedAssist,07/08/2012 08:05:00 AM,2012,7,Sunday,Part Three,RIVER ST,42.259383,-71.117294,8,5,0,8

In [46]:
del df_new_simplified['min']
del df_new_simplified['sec']
del df_old_simplified['min']
del df_old_simplified['sec']
del df_old_simplified['FROMDATE']

In [47]:
df_old_simplified.head()

,INCIDENT_TYPE_DESCRIPTION,Year,Month,DAY_WEEK,UCRPART,STREETNAME,Lat,Long,day,hour
0,RESIDENTIAL BURGLARY,2012,7,Sunday,Part One,ABERDEEN ST,42.346381,-71.103795,8,6
1,AGGRAVATED ASSAULT,2012,7,Sunday,Part One,HOWARD AV,42.316841,-71.074585,8,6
2,ROBBERY,2012,7,Sunday,Part One,JERSEY ST,42.342841,-71.096990,8,6
3,COMMERCIAL BURGLARY,2012,7,Sunday,Part One,COLUMBIA RD,42.316441,-71.065829,8,7
4,ROBBERY,2012,7,Sunday,Part One,COLLINS ST,42.270516,-71.119900,8,7

<a id = '1.5'></a>
[Return to top](#top)
## 1.5 Remove non-crimes

As usual we only care about major crimes.

In [48]:
df_new_clean = df_new_simplified.loc[(df_new_simplified['UCR_PART'] == 'Part One') | (df_new_simplified['OFFENSE_CODE_GROUP'] == 'Arson')]

In [49]:
df_new_clean['UCR_PART'].value_counts()

Part One    76473
Other         107
Name: UCR_PART, dtype: int64

In [50]:
df_new_clean['OFFENSE_CODE_GROUP'].value_counts()

Larceny                       32780
Larceny From Motor Vehicle    13217
Aggravated Assault            10044
Residential Burglary           6591
Auto Theft                     5884
Robbery                        5525
Commercial Burglary            1607
Other Burglary                  561
Homicide                        264
Arson                           107
Name: OFFENSE_CODE_GROUP, dtype: int64

In [51]:
df_old_O = df_old_simplified.loc[df_old_simplified['UCRPART'] == 'Other']
df_old_NA = df_old_simplified.loc[df_old_simplified['UCRPART'].isnull()]

In [52]:
df_old_O['INCIDENT_TYPE_DESCRIPTION'].value_counts()

MVAcc                              9671
PersLoc                            3479
PersMiss                            780
07RV                                613
Hazardous                           493
Service                             260
Plates                               45
ARSON                                30
Auto Theft Recovery                  29
MedAssist                            22
HateCrim                             19
License Plate Related Incidents       5
Arson                                 3
Name: INCIDENT_TYPE_DESCRIPTION, dtype: int64

In [53]:
df_old_NA.shape

(0, 10)

In [54]:
df_old_simplified['UCRPART'].value_counts()

Part Two      98341
Part One      65261
Part three    55482
Part Three    33523
Other         15449
Name: UCRPART, dtype: int64

Unclean data. That's fine.

In [55]:
df_old_2 = df_old_simplified.loc[df_old_simplified['UCRPART'] == 'Part Two']
df_old_3 = df_old_simplified.loc[df_old_simplified['UCRPART'] == 'Part Three']
df_old_33 = df_old_simplified.loc[df_old_simplified['UCRPART'] == 'Part three']

In [56]:
df_old_33['INCIDENT_TYPE_DESCRIPTION'].value_counts()

MedAssist                   12401
InvPer                       9448
PropLost                     5890
TOWED                        5524
InvProp                      4862
Service                      3505
PropFound                    2964
Argue                        2065
Arrest                       1374
FIRE                         1294
PhoneCalls                    995
LICViol                       836
32GUN                         747
Gather                        718
Landlord                      716
DEATH INVESTIGATION           678
SearchWarr                    521
PropDam                       502
Plates                        228
Harbor                        150
VIOLATION OF LIQUOR LAWS       30
Explos                         23
Aircraft                        7
Labor                           4
Name: INCIDENT_TYPE_DESCRIPTION, dtype: int64

In [57]:
df_old_semiclean = df_old_simplified.loc[(df_old_simplified['UCRPART'] == 'Part One') | (df_old_simplified['UCRPART'] == 'Other')]

OK I think the Part Twos, Part Threes and others other than arson can be ignored.

In [58]:
df_old_semiclean['INCIDENT_TYPE_DESCRIPTION'] = df_old_semiclean['INCIDENT_TYPE_DESCRIPTION'].apply(lambda x: x.upper())

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [59]:
df_old_semiclean.head()

,INCIDENT_TYPE_DESCRIPTION,Year,Month,DAY_WEEK,UCRPART,STREETNAME,Lat,Long,day,hour
0,RESIDENTIAL BURGLARY,2012,7,Sunday,Part One,ABERDEEN ST,42.346381,-71.103795,8,6
1,AGGRAVATED ASSAULT,2012,7,Sunday,Part One,HOWARD AV,42.316841,-71.074585,8,6
2,ROBBERY,2012,7,Sunday,Part One,JERSEY ST,42.342841,-71.096990,8,6
3,COMMERCIAL BURGLARY,2012,7,Sunday,Part One,COLUMBIA RD,42.316441,-71.065829,8,7
4,ROBBERY,2012,7,Sunday,Part One,COLLINS ST,42.270516,-71.119900,8,7

In [60]:
df_old_semiclean['INCIDENT_TYPE_DESCRIPTION'].value_counts()

OTHER LARCENY                      24443
LARCENY FROM MOTOR VEHICLE         13265
MVACC                               9671
RESIDENTIAL BURGLARY                7119
AGGRAVATED ASSAULT                  6008
ROBBERY                             5193
AUTO THEFT                          4851
PERSLOC                             3479
COMMERCIAL BURGLARY                 1550
BENOPROP                            1367
LARCENY                             1288
PERSMISS                             780
07RV                                 613
HAZARDOUS                            493
SERVICE                              260
HOMICIDE                             144
PLATES                                45
ARSON                                 33
AUTO THEFT RECOVERY                   29
OTHER BURGLARY                        22
MEDASSIST                             22
HATECRIM                              19
MANSLAUG                               9
LICENSE PLATE RELATED INCIDENTS        5
RAPE AND ATTEMPTED                     2
Name: INCIDENT_TYPE_DESCRIPTION, dtype: int64

In [61]:
df_old_clean = df_old_semiclean.loc[(df_old_semiclean['UCRPART'] == 'Part One') | (df_old_semiclean['INCIDENT_TYPE_DESCRIPTION'] == 'Arson')]

In [62]:
df_old_clean['INCIDENT_TYPE_DESCRIPTION'].value_counts()

OTHER LARCENY                 24443
LARCENY FROM MOTOR VEHICLE    13265
RESIDENTIAL BURGLARY           7119
AGGRAVATED ASSAULT             6008
ROBBERY                        5193
AUTO THEFT                     4851
COMMERCIAL BURGLARY            1550
BENOPROP                       1367
LARCENY                        1288
HOMICIDE                        144
OTHER BURGLARY                   22
MANSLAUG                          9
RAPE AND ATTEMPTED                2
Name: INCIDENT_TYPE_DESCRIPTION, dtype: int64

`BENOPROP` means "Break and enter, no property taken". Since it is in `Other` in the new data source let's remove it. `RAPE AND ATTEMPTED` and `MANSLAUG` need to be removed as well because they are either not present in the new data source or is not in `Part One`.

In [63]:
df_old_clean = df_old_clean[df_old_clean['INCIDENT_TYPE_DESCRIPTION'] != 'BENOPROP'] 
df_old_clean = df_old_clean[df_old_clean['INCIDENT_TYPE_DESCRIPTION'] != 'MANSLAUG'] 
df_old_clean = df_old_clean[df_old_clean['INCIDENT_TYPE_DESCRIPTION'] != 'RAPE AND ATTEMPTED']

In [64]:
df_old_clean['INCIDENT_TYPE_DESCRIPTION'].value_counts()

OTHER LARCENY                 24443
LARCENY FROM MOTOR VEHICLE    13265
RESIDENTIAL BURGLARY           7119
AGGRAVATED ASSAULT             6008
ROBBERY                        5193
AUTO THEFT                     4851
COMMERCIAL BURGLARY            1550
LARCENY                        1288
HOMICIDE                        144
OTHER BURGLARY                   22
Name: INCIDENT_TYPE_DESCRIPTION, dtype: int64

Now we can drop the `UCR_PART`.

In [65]:
del df_old_clean['UCRPART']

In [66]:
del df_new_clean['UCR_PART']

Let's store the data so that it isn't lost.

In [67]:
df_old_clean.to_csv('old.csv')
df_new_clean.to_csv('new.csv')

<a id = '1.6'></a>
[Return to top](#top)
## 1.6 Combine the two dataframes

Now it's time to merge the two dataframes.

In [68]:
df_new_clean.head()

,OFFENSE_CODE_GROUP,YEAR,MONTH,DAY_OF_WEEK,HOUR,STREET,Lat,Long,day
4,Larceny,2019,7,Tuesday,21,DORCHESTER AVE,42.330140,-71.056958,16
11,Larceny,2019,7,Tuesday,18,TREMONT ST,42.336409,-71.085650,16
17,Larceny,2019,7,Tuesday,20,COLUMBIA RD,NaN,NaN,16
19,Larceny,2019,7,Thursday,23,COLUMBUS AVE,42.346575,-71.074387,11
22,Other Burglary,2019,7,Sunday,7,GREEN ST,42.311438,-71.109264,14

In [69]:
df_old_clean.head()

,INCIDENT_TYPE_DESCRIPTION,Year,Month,DAY_WEEK,STREETNAME,Lat,Long,day,hour
0,RESIDENTIAL BURGLARY,2012,7,Sunday,ABERDEEN ST,42.346381,-71.103795,8,6
1,AGGRAVATED ASSAULT,2012,7,Sunday,HOWARD AV,42.316841,-71.074585,8,6
2,ROBBERY,2012,7,Sunday,JERSEY ST,42.342841,-71.096990,8,6
3,COMMERCIAL BURGLARY,2012,7,Sunday,COLUMBIA RD,42.316441,-71.065829,8,7
4,ROBBERY,2012,7,Sunday,COLLINS ST,42.270516,-71.119900,8,7

In [70]:
df_new_clean.rename(index = str, columns = {'OFFENSE_CODE_GROUP':'crime', 'YEAR': 'year', 'MONTH': 'month', 'DAY_OF_WEEK': 'dayw', 'HOUR': 'hour','STREET':'street','Lat':'lat','Long':'long','day':'day'}, inplace = True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [71]:
df_new_clean.head()

,crime,year,month,dayw,hour,street,lat,long,day
4,Larceny,2019,7,Tuesday,21,DORCHESTER AVE,42.330140,-71.056958,16
11,Larceny,2019,7,Tuesday,18,TREMONT ST,42.336409,-71.085650,16
17,Larceny,2019,7,Tuesday,20,COLUMBIA RD,NaN,NaN,16
19,Larceny,2019,7,Thursday,23,COLUMBUS AVE,42.346575,-71.074387,11
22,Other Burglary,2019,7,Sunday,7,GREEN ST,42.311438,-71.109264,14

In [72]:
df_old_clean.rename(index = str, columns = {'INCIDENT_TYPE_DESCRIPTION':'crime', 'Year': 'year', 'Month': 'month', 'DAY_WEEK': 'dayw', 'hour': 'hour','STREETNAME':'street','Lat':'lat','Long':'long','day':'day'}, inplace = True)

In [73]:
df_old_clean.head()

,crime,year,month,dayw,street,lat,long,day,hour
0,RESIDENTIAL BURGLARY,2012,7,Sunday,ABERDEEN ST,42.346381,-71.103795,8,6
1,AGGRAVATED ASSAULT,2012,7,Sunday,HOWARD AV,42.316841,-71.074585,8,6
2,ROBBERY,2012,7,Sunday,JERSEY ST,42.342841,-71.096990,8,6
3,COMMERCIAL BURGLARY,2012,7,Sunday,COLUMBIA RD,42.316441,-71.065829,8,7
4,ROBBERY,2012,7,Sunday,COLLINS ST,42.270516,-71.119900,8,7

In [74]:
correct_order = ['crime','year','month','day','dayw','hour','street','lat','long']

In [75]:
df_old_clean = df_old_clean[correct_order]
df_new_clean = df_new_clean[correct_order]

In [76]:
df_old_clean.head()

,crime,year,month,day,dayw,hour,street,lat,long
0,RESIDENTIAL BURGLARY,2012,7,8,Sunday,6,ABERDEEN ST,42.346381,-71.103795
1,AGGRAVATED ASSAULT,2012,7,8,Sunday,6,HOWARD AV,42.316841,-71.074585
2,ROBBERY,2012,7,8,Sunday,6,JERSEY ST,42.342841,-71.096990
3,COMMERCIAL BURGLARY,2012,7,8,Sunday,7,COLUMBIA RD,42.316441,-71.065829
4,ROBBERY,2012,7,8,Sunday,7,COLLINS ST,42.270516,-71.119900

In [77]:
df_new_clean.head()

,crime,year,month,day,dayw,hour,street,lat,long
4,Larceny,2019,7,16,Tuesday,21,DORCHESTER AVE,42.330140,-71.056958
11,Larceny,2019,7,16,Tuesday,18,TREMONT ST,42.336409,-71.085650
17,Larceny,2019,7,16,Tuesday,20,COLUMBIA RD,NaN,NaN
19,Larceny,2019,7,11,Thursday,23,COLUMBUS AVE,42.346575,-71.074387
22,Other Burglary,2019,7,14,Sunday,7,GREEN ST,42.311438,-71.109264

In [78]:
frames = [df_old_clean, df_new_clean]

In [79]:
df_clean = pd.concat(frames, ignore_index = True)

In [80]:
df_clean.tail()

,crime,year,month,day,dayw,hour,street,lat,long
140458,Aggravated Assault,2015,11,20,Friday,11,BLUE HILL AVE,42.301897,-71.085549
140459,Larceny,2018,12,13,Thursday,0,BROOKLEDGE ST,42.309563,-71.089902
140460,Larceny,2018,12,13,Thursday,0,BROOKLEDGE ST,42.309563,-71.089902
140461,Larceny,2018,12,13,Thursday,0,BROOKLEDGE ST,42.309563,-71.089902
140462,Homicide,2015,7,9,Thursday,14,RIVER ST,42.255926,-71.123172

In [81]:
df_old_clean.shape

(63883, 9)

In [82]:
df_new_clean.shape

(76580, 9)

In [83]:
df_clean.shape

(140463, 9)

In [84]:
df_old_clean.shape[0] + df_new_clean.shape[0] == df_clean.shape[0]

True

Now we need to merge the crimes.

In [85]:
df_clean['crime'] = df_clean['crime'].apply(lambda x: x.upper())

In [86]:
df_clean['crime'].value_counts()

LARCENY                       34068
LARCENY FROM MOTOR VEHICLE    26482
OTHER LARCENY                 24443
AGGRAVATED ASSAULT            16052
RESIDENTIAL BURGLARY          13710
AUTO THEFT                    10735
ROBBERY                       10718
COMMERCIAL BURGLARY            3157
OTHER BURGLARY                  583
HOMICIDE                        408
ARSON                           107
Name: crime, dtype: int64

There is a disparity in what `LARCENY` means. Hence we will simply merge all larcenies into `LARCENY`.

In [87]:
df_clean['crime'] = df_clean['crime'].replace({'LARCENY FROM MOTOR VEHICLE': 'LARCENY', 'OTHER LARCENY': 'LARCENY'})

In [88]:
df_clean['crime'].value_counts()

LARCENY                 84993
AGGRAVATED ASSAULT      16052
RESIDENTIAL BURGLARY    13710
AUTO THEFT              10735
ROBBERY                 10718
COMMERCIAL BURGLARY      3157
OTHER BURGLARY            583
HOMICIDE                  408
ARSON                     107
Name: crime, dtype: int64

Now we can store the file.

In [89]:
df_clean.to_csv('final.csv')

<a id = '2'></a>
[Return to top](#top)
# 2. Regressions

In [90]:
df_clean = pd.read_csv('final.csv',index_col = 0)

In [91]:
df_clean.head()

,crime,year,month,day,dayw,hour,street,lat,long
0,RESIDENTIAL BURGLARY,2012,7,8,Sunday,6,ABERDEEN ST,42.346381,-71.103795
1,AGGRAVATED ASSAULT,2012,7,8,Sunday,6,HOWARD AV,42.316841,-71.074585
2,ROBBERY,2012,7,8,Sunday,6,JERSEY ST,42.342841,-71.096990
3,COMMERCIAL BURGLARY,2012,7,8,Sunday,7,COLUMBIA RD,42.316441,-71.065829
4,ROBBERY,2012,7,8,Sunday,7,COLLINS ST,42.270516,-71.119900

<a id = '2.1'></a>
[Return to top](#top)
## 2.1 Preparation

In [92]:
df_clean.isna().sum()

crime        0
year         0
month        0
day          0
dayw         0
hour         0
street    1529
lat       5834
long      5834
dtype: int64

Now we should drop the NAs.

In [93]:
df_final = df_clean.dropna()

In [94]:
df_final.shape

(134403, 9)

In [95]:
df_final.sort_values(['year','month','day'])

,crime,year,month,day,dayw,hour,street,lat,long
0,RESIDENTIAL BURGLARY,2012,7,8,Sunday,6,ABERDEEN ST,42.346381,-71.103795
1,AGGRAVATED ASSAULT,2012,7,8,Sunday,6,HOWARD AV,42.316841,-71.074585
2,ROBBERY,2012,7,8,Sunday,6,JERSEY ST,42.342841,-71.096990
3,COMMERCIAL BURGLARY,2012,7,8,Sunday,7,COLUMBIA RD,42.316441,-71.065829
4,ROBBERY,2012,7,8,Sunday,7,COLLINS ST,42.270516,-71.119900
5,ROBBERY,2012,7,8,Sunday,8,SYDNEY ST,42.313282,-71.053006
6,ROBBERY,2012,7,8,Sunday,8,REGENT ST,42.324251,-71.086210
7,RESIDENTIAL BURGLARY,2012,7,8,Sunday,11,CATBIRD COURT,42.288138,-71.094849
8,LARCENY,2012,7,8,Sunday,12,HILLSIDE ST,42.331666,-71.107630
9,AUTO THEFT,2012,7,8,Sunday,12,E 7TH ST,42.332171,-71.042240
10,LARCENY,2012,7,8,Sunday,12,CENTRE ST,42.294026,-71.060545
11,AGGRAVATED ASSAULT,2012,7,8,Sunday,13,W BROADWAY,42.336149,-71.046717
12,LARCENY,2012,7,8,Sunday,14,TYLER ST,42.350866,-71.060710
13,LARCENY,2012,7,8,Sunday,13,HOLLINGSWORTH ST,42.268090,-71.099099
14,LARCENY,2012,7,8,Sunday,14,PARK ST,42.297516,-71.064480
15,LARCENY,2012,7,8,Sunday,14,PARK ST,42.356936,-71.062495
16,LARCENY,2012,7,8,Sunday,14,SCIENCE PARK,42.367466,-71.070200
17,LARCENY,2012,7,8,Sunday,14,HEATH ST,42.326236,-71.103160
18,LARCENY,2012,7,8,Sunday,15,MERIDIAN ST,42.380541,-71.039260
19,LARCENY,2012,7,8,Sunday,15,SALMAN ST,42.263201,-71.165810
20,LARCENY,2012,7,8,Sunday,15,COLUMBIA RD,42.307461,-71.075970
21,LARCENY,2012,7,8,Sunday,16,POST OFFICE SQ,42.357256,-71.056315
22,LARCENY,2012,7,8,Sunday,16,FRANKLIN ST,42.356316,-71.054315
23,ROBBERY,2012,7,8,Sunday,16,FULLER ST,42.282456,-71.069815
24,AGGRAVATED ASSAULT,2012,7,8,Sunday,16,W BROADWAY,42.336149,-71.046717
25,LARCENY,2012,7,8,Sunday,17,FRANKLIN ST,42.356316,-71.054315
26,LARCENY,2012,7,8,Sunday,16,NEWBURY ST,42.348051,-71.088140
27,ROBBERY,2012,7,8,Sunday,17,SHAWMUT AV,42.333266,-71.083000
28,LARCENY,2012,7,8,Sunday,17,WIGET ST,42.363961,-71.055980
29,LARCENY,2012,7,8,Sunday,17,PEARL ST,42.354851,-71.053680
...,...,...,...,...,...,...,...,...,...
63962,LARCENY,2019,7,15,Monday,11,NEWBURY ST,42.348406,-71.086883
63963,AUTO THEFT,2019,7,15,Monday,0,BISHOP JOE L SMITH WAY,42.306604,-71.080550
63964,LARCENY,2019,7,15,Monday,10,ALBANY ST,42.334288,-71.072395
63965,LARCENY,2019,7,15,Monday,2,AKRON ST,42.325347,-71.084481
63967,OTHER BURGLARY,2019,7,15,Monday,9,SEAPORT BLVD,42.352651,-71.047577
63969,LARCENY,2019,7,15,Monday,6,EDWARDSON ST,42.263983,-71.109943
63970,LARCENY,2019,7,15,Monday,6,EXETER ST,42.350119,-71.079797
63971,AGGRAVATED ASSAULT,2019,7,15,Monday,4,CUSHING AVE,42.312495,-71.060220
63974,AGGRAVATED ASSAULT,2019,7,15,Monday,0,BORDER ST,42.371206,-71.042613
63977,AGGRAVATED ASSAULT,2019,7,15,Monday,0,COLUMBIA RD,42.317053,-71.065214
63883,LARCENY,2019,7,16,Tuesday,21,DORCHESTER AVE,42.330140,-71.056958
63884,LARCENY,2019,7,16,Tuesday,18,TREMONT ST,42.336409,-71.085650
63888,LARCENY,2019,7,16,Tuesday,19,NEWBURY ST,42.348406,-71.086883
63890,LARCENY,2019,7,16,Tuesday,19,CAMBRIDGE ST,42.354684,-71.134746
63892,LARCENY,2019,7,16,Tuesday,17,FANEUIL HALL MARKETPLACE,42.359980,-71.054741
63893,LARCENY,2019,7,16,Tuesday,19,BEECHER ST,42.318282,-71.107151
63894,LARCENY,2019,7,16,Tuesday,18,FANEUIL HALL MARKETPLACE,42.359980,-71.054741
63895,LARCENY,2019,7,16,Tuesday,0,ELDON ST,42.302944,-71.078225
63898,LARCENY,2019,7,16,Tuesday,6,SHETLAND ST,42.324745,-71.068510
63900,LARCENY,2019,7,16,Tuesday,16,HILLSIDE ST,42.330433,-71.102685
63905,AGGRAVATED ASSAULT,2019,7,16,Tuesday,13,CIRCUIT ST,42.325699,-71.087905
63907,LARCENY,2019,7,16,Tuesday,12,BLUE HILL AVE,42.292788,-71.088519
63910,LARCENY,2019,7,16,Tuesday,12,HUNTINGTON AVE,42.337923,-71.095266
63911,LARCENY,2019,7,16,Tuesday,11,MERCIER AVE,42.282299,-71.067780
63913,LARCENY,2019,7,16,Tuesday,10,GALLIVAN BLVD,42.285124,-71.044057
63914,RESIDENTIAL BURGLARY,2019,7,16,Tuesday,10,BEACON ST,42.354519,-71.075881
63916,LARCENY,2019,7,16,Tuesday,0,BRAGDON ST,42.318882,-71.099294
63918,LARCENY,2019,7,16,Tuesday,8,W NEWTON ST,42.344923,-71.081099
63919,ROBBERY,2019,7,16,Tuesday,9,FENWOOD RD,42.334472,-71.106653
63924,LARCENY,2019,7,16,Tuesday,1,HOLBORN ST,42.314072,-71.080107

In [96]:
def first_day(df):
    row = df.sort_values(['year','month','day']).iloc[0,:]
    return str(row.month) + '/' + str(row.day) + '/' + str(row.year)
def last_day(df):
    row = df.sort_values(['year','month','day']).iloc[-1,:]
    return str(row.month) + '/' + str(row.day) + '/' + str(row.year)

In [97]:
def count_crimes(df, crime, year, month, day, hour):
    df1 = df[(df['crime'] == crime) & (df['year'] == year)]
    df2 = df1[(df1['month'] == month) & (df1['day'] == day)]
    return df2[df2['hour'] == hour].shape[0]

In [98]:
time_tuple_list = pd.date_range(start = first_day(df_final), end = last_day(df_final)).tolist()

In [99]:
crime_list = df_final.crime.unique().tolist()

In [100]:
df_temp = df_final[['crime','year','month','day','dayw','hour']].groupby(['crime','year','month','day','dayw','hour']).size().unstack(fill_value = 0).stack().reset_index()

In [101]:
df_temp.rename(index = str, columns = {0:'counts'}, inplace = True)

In [102]:
df_temp[df_temp.crime == 'ARSON'].head(200)

       crime  year  month  day      dayw  hour  counts
61056  ARSON  2015      6   20  Saturday     0       0
61057  ARSON  2015      6   20  Saturday     1       0
61058  ARSON  2015      6   20  Saturday     2       0
61059  ARSON  2015      6   20  Saturday     3       0
61060  ARSON  2015      6   20  Saturday     4       0
61061  ARSON  2015      6   20  Saturday     5       0
61062  ARSON  2015      6   20  Saturday     6       0
61063  ARSON  2015      6   20  Saturday     7       0
61064  ARSON  2015      6   20  Saturday     8       0
61065  ARSON  2015      6   20  Saturday     9       0
61066  ARSON  2015      6   20  Saturday    10       0
61067  ARSON  2015      6   20  Saturday    11       0
61068  ARSON  2015      6   20  Saturday    12       0
61069  ARSON  2015      6   20  Saturday    13       0
61070  ARSON  2015      6   20  Saturday    14       0
61071  ARSON  2015      6   20  Saturday    15       0
61072  ARSON  2015      6   20  Saturday    16       0
61073  ARSON  2015      6   20  Saturday    17       0
61074  ARSON  2015      6   20  Saturday    18       0
61075  ARSON  2015      6   20  Saturday    19       1
61076  ARSON  2015      6   20  Saturday    20       0
61077  ARSON  2015      6   20  Saturday    21       0
61078  ARSON  2015      6   20  Saturday    22       0
61079  ARSON  2015      6   20  Saturday    23       0
61080  ARSON  2015      8   22  Saturday     0       0
61081  ARSON  2015      8   22  Saturday     1       0
61082  ARSON  2015      8   22  Saturday     2       0
61083  ARSON  2015      8   22  Saturday     3       0
61084  ARSON  2015      8   22  Saturday     4       0
61085  ARSON  2015      8   22  Saturday     5       0
...      ...   ...    ...  ...       ...   ...     ...
61226  ARSON  2015     10   22  Thursday     2       0
61227  ARSON  2015     10   22  Thursday     3       0
61228  ARSON  2015     10   22  Thursday     4       0
61229  ARSON  2015     10   22  Thursday     5       0
61230  ARSON  2015     10   22  Thursday     6       0
61231  ARSON  2015     10   22  Thursday     7       0
61232  ARSON  2015     10   22  Thursday     8       0
61233  ARSON  2015     10   22  Thursday     9       0
61234  ARSON  2015     10   22  Thursday    10       0
61235  ARSON  2015     10   22  Thursday    11       0
61236  ARSON  2015     10   22  Thursday    12       0
61237  ARSON  2015     10   22  Thursday    13       0
61238  ARSON  2015     10   22  Thursday    14       0
61239  ARSON  2015     10   22  Thursday    15       0
61240  ARSON  2015     10   22  Thursday    16       0
61241  ARSON  2015     10   22  Thursday    17       0
61242  ARSON  2015     10   22  Thursday    18       0
61243  ARSON  2015     10   22  Thursday    19       0
61244  ARSON  2015     10   22  Thursday    20       0
61245  ARSON  2015     10   22  Thursday    21       0
61246  ARSON  2015     10   22  Thursday    22       0
61247  ARSON  2015     10   22  Thursday    23       1
61248  ARSON  2015     11    3   Tuesday     0       0
61249  ARSON  2015     11    3   Tuesday     1       0
61250  ARSON  2015     11    3   Tuesday     2       0
61251  ARSON  2015     11    3   Tuesday     3       0
61252  ARSON  2015     11    3   Tuesday     4       0
61253  ARSON  2015     11    3   Tuesday     5       0
61254  ARSON  2015     11    3   Tuesday     6       0
61255  ARSON  2015     11    3   Tuesday     7       0

[200 rows x 7 columns]

For some unknown reasons we don't have information about arson before mid-2015 which is very weird. So we decided to drop `arson` for now until we can find other crime descriptions that are essentially arson.

In [103]:
crime_list.remove('ARSON')

In [104]:
df_al = df_final[df_final.crime != 'ARSON']
df_temp = df_al[['crime','year','month','day','dayw','hour']].groupby(['crime','year','month','day','dayw','hour']).size().unstack(fill_value = 0).stack().reset_index()

In [105]:
df_temp.head()

                crime  year  month  day    dayw  hour  0
0  AGGRAVATED ASSAULT  2012      7    8  Sunday     0  0
1  AGGRAVATED ASSAULT  2012      7    8  Sunday     1  0
2  AGGRAVATED ASSAULT  2012      7    8  Sunday     2  0
3  AGGRAVATED ASSAULT  2012      7    8  Sunday     3  0
4  AGGRAVATED ASSAULT  2012      7    8  Sunday     4  0

In [106]:
df_temp.shape

(359280, 7)

In [107]:
dicc = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3: 'Thursday',4: 'Friday', 5: 'Saturday', 6: 'Sunday'}
for ind, row in df_temp.iterrows():
    year = df_temp.at[ind, 'year']
    month = df_temp.at[ind, 'month']
    day = df_temp.at[ind, 'day']
    dayw = dicc[datetime.date(year, month, day).weekday()]
    if dayw != df_temp.at[ind, 'dayw']:
        print(row)

In [110]:
df_temp.hour.value_counts()

23    14970
22    14970
1     14970
2     14970
3     14970
4     14970
5     14970
6     14970
7     14970
8     14970
9     14970
10    14970
11    14970
12    14970
13    14970
14    14970
15    14970
16    14970
17    14970
18    14970
19    14970
20    14970
21    14970
0     14970
Name: hour, dtype: int64

In [111]:
cset = set()
for ind, row in df_temp.iterrows():
    item = (row.crime, row.year, row.month, row.day)
    cset.add(item)

In [112]:
len(cset)

14970

In [115]:
cset

{('AGGRAVATED ASSAULT', 2014, 6, 12),
 ('RESIDENTIAL BURGLARY', 2014, 12, 8),
 ('LARCENY', 2015, 7, 18),
 ('AUTO THEFT', 2018, 8, 11),
 ('COMMERCIAL BURGLARY', 2017, 7, 21),
 ('LARCENY', 2019, 1, 6),
 ('ROBBERY', 2018, 11, 16),
 ('AGGRAVATED ASSAULT', 2013, 8, 16),
 ('RESIDENTIAL BURGLARY', 2015, 6, 20),
 ('LARCENY', 2014, 11, 6),
 ('AUTO THEFT', 2013, 5, 12),
 ('ROBBERY', 2015, 1, 12),
 ('RESIDENTIAL BURGLARY', 2018, 9, 13),
 ('AGGRAVATED ASSAULT', 2016, 9, 7),
 ('RESIDENTIAL BURGLARY', 2013, 2, 13),
 ('ROBBERY', 2012, 10, 30),
 ('AGGRAVATED ASSAULT', 2015, 5, 30),
 ('ROBBERY', 2017, 11, 13),
 ('AUTO THEFT', 2012, 10, 9),
 ('AGGRAVATED ASSAULT', 2018, 12, 11),
 ('AUTO THEFT', 2017, 6, 14),
 ('ROBBERY', 2014, 1, 15),
 ('RESIDENTIAL BURGLARY', 2015, 5, 9),
 ('ROBBERY', 2019, 7, 4),
 ('LARCENY', 2018, 10, 22),
 ('AGGRAVATED ASSAULT', 2016, 4, 24),
 ('AUTO THEFT', 2014, 11, 9),
 ('AUTO THEFT', 2019, 1, 12),
 ('LARCENY', 2016, 6, 3),
 ('ROBBERY', 2017, 6, 30),
 ('COMMERCIAL BURGLARY', 2012, 10, 9),
 ('RESIDENTIAL BURGLARY', 2014, 5, 22),
 ('LARCENY', 2015, 8, 4),
 ('AGGRAVATED ASSAULT', 2017, 10, 5),
 ('COMMERCIAL BURGLARY', 2014, 6, 30),
 ('LARCENY', 2018, 9, 23),
 ('LARCENY', 2013, 3, 21),
 ('COMMERCIAL BURGLARY', 2017, 8, 9),
 ('RESIDENTIAL BURGLARY', 2019, 1, 12),
 ('COMMERCIAL BURGLARY', 2012, 9, 28),
 ('RESIDENTIAL BURGLARY', 2014, 2, 23),
 ('AUTO THEFT', 2016, 8, 24),
 ('COMMERCIAL BURGLARY', 2019, 3, 16),
 ('AUTO THEFT', 2013, 12, 14),
 ('ROBBERY', 2015, 8, 14),
 ('RESIDENTIAL BURGLARY', 2012, 9, 22),
 ('LARCENY', 2017, 1, 5),
 ('AUTO THEFT', 2019, 5, 29),
 ('RESIDENTIAL BURGLARY', 2019, 4, 27),
 ('AUTO THEFT', 2015, 3, 16),
 ('ROBBERY', 2013, 7, 16),
 ('AGGRAVATED ASSAULT', 2018, 7, 3),
 ('OTHER BURGLARY', 2015, 12, 9),
 ('LARCENY', 2019, 6, 17),
 ('AGGRAVATED ASSAULT', 2013, 5, 13),
 ('LARCENY', 2014, 6, 19),
 ('OTHER BURGLARY', 2018, 6, 4),
 ('AGGRAVATED ASSAULT', 2016, 12, 26),
 ('RESIDENTIAL BURGLARY', 2018, 6, 2),
 ('AUTO THEFT', 2014, 3, 11),
 ('ROBBERY', 2012, 7, 11),
 ('AGGRAVATED ASSAULT', 2015, 2, 9),
 ('RESIDENTIAL BURGLARY', 2016, 10, 13),
 ('AUTO THEFT', 2017, 1, 25),
 ('AGGRAVATED ASSAULT', 2017, 3, 21),
 ('AGGRAVATED ASSAULT', 2012, 9, 19),
 ('LARCENY', 2013, 8, 1),
 ('ROBBERY', 2016, 1, 31),
 ('AGGRAVATED ASSAULT', 2019, 4, 1),
 ('ROBBERY', 2013, 11, 25),
 ('RESIDENTIAL BURGLARY', 2014, 10, 9),
 ('LARCENY', 2019, 2, 22),
 ('ROBBERY', 2018, 8, 12),
 ('RESIDENTIAL BURGLARY', 2017, 1, 25),
 ('AUTO THEFT', 2013, 11, 8),
 ('AGGRAVATED ASSAULT', 2012, 12, 12),
 ('AUTO THEFT', 2013, 4, 16),
 ('LARCENY', 2017, 9, 23),
 ('COMMERCIAL BURGLARY', 2013, 2, 19),
 ('AUTO THEFT', 2015, 10, 10),
 ('COMMERCIAL BURGLARY', 2016, 10, 21),
 ('AUTO THEFT', 2016, 2, 11),
 ('ROBBERY', 2018, 5, 31),
 ('COMMERCIAL BURGLARY', 2015, 9, 10),
 ('RESIDENTIAL BURGLARY', 2015, 4, 23),
 ('LARCENY', 2014, 9, 3),
 ('AUTO THEFT', 2013, 7, 29),
 ('ROBBERY', 2015, 3, 29),
 ('AGGRAVATED ASSAULT', 2016, 11, 4),
 ('LARCENY', 2017, 10, 22),
 ('HOMICIDE', 2018, 8, 1),
 ('AGGRAVATED ASSAULT', 2015, 11, 1),
 ('COMMERCIAL BURGLARY', 2016, 9, 8),
 ('HOMICIDE', 2018, 7, 7),
 ('OTHER BURGLARY', 2015, 6, 26),
 ('RESIDENTIAL BURGLARY', 2016, 2, 11),
 ('LARCENY', 2015, 9, 24),
 ('RESIDENTIAL BURGLARY', 2015, 3, 22),
 ('AUTO THEFT', 2017, 9, 27),
 ('ROBBERY', 2019, 1, 13),
 ('RESIDENTIAL BURGLARY', 2018, 3, 23),
 ('AUTO THEFT', 2014, 9, 24),
 ('COMMERCIAL BURGLARY', 2017, 9, 23),
 ('AGGRAVATED ASSAULT', 2015, 8, 28),
 ('RESIDENTIAL BURGLARY', 2013, 8, 23),
 ('AUTO THEFT', 2016, 6, 28),
 ('RESIDENTIAL BURGLARY', 2016, 7, 24),
 ('ROBBERY', 2014, 4, 19),
 ('AGGRAVATED ASSAULT', 2017, 4, 2),
 ('LARCENY', 2018, 7, 16),
 ('AUTO THEFT', 2018, 7, 22),
 ('LARCENY', 2013, 5, 28),
 ('ROBBERY', 2016, 6, 8),
 ('RESIDENTIAL BURGLARY', 2019, 7, 5),
 ('COMMERCIAL BURGLARY', 2012, 7, 21),
 ('AUTO THEFT', 2016, 10, 9),
 ('AGGRAVATED ASSAULT', 2014, 3, 8),
 ('RESIDENTIAL BURGLARY', 2017, 11, 12),
 ('AGGRAVATED ASSAULT', 2016, 2, 18),
 ('LARCENY', 2017, 3, 4),
 ('AUTO THEFT', 2018, 11, 25),
 ('AGGRAVATED ASSAULT', 2015, 12, 13),
 ('COMMERCIAL BURGLARY', 2013, 7, 6),
 ('RESIDENTIAL BURGLARY', 2013, 4, 22),
 ('AGGRAVATED ASSAULT', 2015, 3, 19),
 ('OTHER BURGLARY', 2016, 9, 14),
 ('AUTO THEFT', 2012, 12, 24),
 ('ROBBERY', 2014, 8, 24),
 ('AGGRAVATED ASSAULT', 2013, 7, 28),
 ('RESIDENTIAL BURGLARY', 2015, 11, 8),
 ('LARCENY', 2014, 4, 14),
 ('RESIDENTIAL BURGLARY', 2018, 4, 7),
 ('AUTO THEFT', 2014, 1, 22),
 ('RESIDENTIAL BURGLARY', 2013, 7, 7),
 ('LARCENY', 2016, 8, 16),
 ('ROBBERY', 2017, 12, 3),
 ('AUTO THEFT', 2012, 9, 11),
 ('LARCENY', 2015, 6, 15),
 ('AUTO THEFT', 2017, 3, 10),
 ('COMMERCIAL BURGLARY', 2014, 8, 11),
 ('RESIDENTIAL BURGLARY', 2012, 7, 20),
 ('LARCENY', 2013, 10, 2),
 ('COMMERCIAL BURGLARY', 2017, 6, 8),
 ('AUTO THEFT', 2019, 2, 24),
 ('AGGRAVATED ASSAULT', 2019, 2, 14),
 ('LARCENY', 2016, 11, 21),
 ('AGGRAVATED ASSAULT', 2014, 10, 2),
 ('RESIDENTIAL BURGLARY', 2014, 8, 26),
 ('RESIDENTIAL BURGLARY', 2017, 3, 10),
 ('LARCENY', 2014, 8, 25),
 ('COMMERCIAL BURGLARY', 2014, 11, 18),
 ('AUTO THEFT', 2018, 12, 5),
 ('ROBBERY', 2016, 11, 5),
 ('RESIDENTIAL BURGLARY', 2019, 2, 24),
 ('AUTO THEFT', 2015, 8, 25),
 ('ROBBERY', 2013, 12, 25),
 ('AGGRAVATED ASSAULT', 2014, 9, 27),
 ('ROBBERY', 2018, 7, 18),
 ('RESIDENTIAL BURGLARY', 2017, 6, 25),
 ('AUTO THEFT', 2013, 1, 18),
 ('ROBBERY', 2015, 5, 18),
 ('AGGRAVATED ASSAULT', 2016, 5, 13),
 ('LARCENY', 2017, 4, 19),
 ('AUTO THEFT', 2019, 6, 23),
 ('ROBBERY', 2017, 7, 11),
 ('RESIDENTIAL BURGLARY', 2016, 4, 4),
 ('AGGRAVATED ASSAULT', 2018, 8, 13),
 ('OTHER BURGLARY', 2015, 9, 7),
 ('COMMERCIAL BURGLARY', 2015, 4, 20),
 ('RESIDENTIAL BURGLARY', 2015, 1, 27),
 ('AUTO THEFT', 2017, 11, 8),
 ('COMMERCIAL BURGLARY', 2018, 4, 16),
 ('LARCENY', 2014, 3, 25),
 ('RESIDENTIAL BURGLARY', 2018, 1, 10),
 ('AUTO THEFT', 2014, 6, 1),
 ('LARCENY', 2016, 2, 5),
 ('LARCENY', 2015, 12, 30),
 ('AGGRAVATED ASSAULT', 2014, 2, 20),
 ('ROBBERY', 2018, 3, 29),
 ('LARCENY', 2015, 3, 2),
 ('ROBBERY', 2015, 9, 27),
 ('HOMICIDE', 2017, 9, 5),
 ('AUTO THEFT', 2018, 5, 21),
 ('RESIDENTIAL BURGLARY', 2012, 8, 11),
 ('LARCENY', 2013, 7, 15),
 ('COMMERCIAL BURGLARY', 2017, 12, 27),
 ('ROBBERY', 2016, 4, 25),
 ('RESIDENTIAL BURGLARY', 2019, 5, 6),
 ('ROBBERY', 2013, 4, 23),
 ('AUTO THEFT', 2016, 12, 6),
 ('AGGRAVATED ASSAULT', 2014, 1, 25),
 ('LARCENY', 2019, 5, 14),
 ('AUTO THEFT', 2013, 8, 4),
 ('LARCENY', 2014, 7, 14),
 ('ROBBERY', 2015, 12, 4),
 ('OTHER BURGLARY', 2018, 1, 31),
 ('AUTO THEFT', 2018, 9, 8),
 ('LARCENY', 2017, 12, 29),
 ('COMMERCIAL BURGLARY', 2013, 5, 5),
 ('LARCENY', 2012, 11, 1),
 ('RESIDENTIAL BURGLARY', 2013, 6, 21),
 ('COMMERCIAL BURGLARY', 2016, 7, 11),
 ('AUTO THEFT', 2016, 1, 25),
 ('AGGRAVATED ASSAULT', 2018, 3, 1),
 ('OTHER BURGLARY', 2016, 6, 27),
 ('AGGRAVATED ASSAULT', 2013, 9, 3),
 ('RESIDENTIAL BURGLARY', 2015, 9, 25),
 ('COMMERCIAL BURGLARY', 2018, 11, 6),
 ('LARCENY', 2018, 1, 26),
 ('LARCENY', 2013, 11, 30),
 ('RESIDENTIAL BURGLARY', 2013, 1, 8),
 ('ROBBERY', 2012, 11, 25),
 ('AGGRAVATED ASSAULT', 2015, 6, 23),
 ('HOMICIDE', 2013, 12, 25),
 ('ROBBERY', 2017, 10, 6),
 ('RESIDENTIAL BURGLARY', 2016, 1, 25),
 ('AUTO THEFT', 2012, 11, 6),
 ('LARCENY', 2015, 4, 28),
 ('AGGRAVATED ASSAULT', 2013, 10, 26),
 ('LARCENY', 2013, 12, 15),
 ('AUTO THEFT', 2014, 12, 20),
 ('COMMERCIAL BURGLARY', 2017, 4, 25),
 ('ROBBERY', 2012, 8, 20),
 ('LARCENY', 2016, 5, 18),
 ('AUTO THEFT', 2016, 5, 16),
 ('AGGRAVATED ASSAULT', 2014, 8, 1),
 ('RESIDENTIAL BURGLARY', 2014, 6, 15),
 ('ROBBERY', 2018, 4, 10),
 ('RESIDENTIAL BURGLARY', 2017, 5, 7),
 ('AGGRAVATED ASSAULT', 2017, 11, 10),
 ('COMMERCIAL BURGLARY', 2014, 5, 23),
 ('LARCENY', 2018, 8, 28),
 ('ROBBERY', 2016, 9, 4),
 ('RESIDENTIAL BURGLARY', 2014, 3, 24),
 ('AUTO THEFT', 2016, 9, 27),
 ('AGGRAVATED ASSAULT', 2018, 11, 19),
 ('OTHER BURGLARY', 2015, 8, 25),
 ('HOMICIDE', 2014, 8, 23),
 ('RESIDENTIAL BURGLARY', 2017, 8, 24),
 ('AGGRAVATED ASSAULT', 2013, 1, 21),
 ('ROBBERY', 2019, 2, 26),
 ('LARCENY', 2014, 2, 3),
 ('AGGRAVATED ASSAULT', 2016, 7, 30),
 ('RESIDENTIAL BURGLARY', 2018, 2, 18),
 ('AUTO THEFT', 2019, 4, 18),
 ('AUTO THEFT', 2014, 7, 27),
 ('RESIDENTIAL BURGLARY', 2013, 9, 10),
 ('ROBBERY', 2017, 5, 24),
 ('RESIDENTIAL BURGLARY', 2016, 6, 5),
 ('OTHER BURGLARY', 2016, 12, 10),
 ('AGGRAVATED ASSAULT', 2018, 6, 20),
 ('ROBBERY', 2014, 7, 20),
 ('AGGRAVATED ASSAULT', 2013, 2, 24),
 ('RESIDENTIAL BURGLARY', 2015, 12, 12),
 ('COMMERCIAL BURGLARY', 2014, 1, 20),
 ('LARCENY', 2018, 4, 15),
 ('AUTO THEFT', 2014, 4, 2),
 ('COMMERCIAL BURGLARY', 2019, 4, 10),
 ('LARCENY', 2015, 1, 1),
 ('HOMICIDE', 2017, 11, 6),
 ('AGGRAVATED ASSAULT', 2012, 8, 4),
 ('RESIDENTIAL BURGLARY', 2012, 10, 24),
 ('LARCENY', 2017, 2, 25),
 ('ROBBERY', 2016, 2, 6),
 ('LARCENY', 2012, 10, 31),
 ('AGGRAVATED ASSAULT', 2019, 5, 22),
 ('ROBBERY', 2013, 10, 26),
 ('AGGRAVATED ASSAULT', 2014, 7, 22),
 ('RESIDENTIAL BURGLARY', 2014, 11, 26),
 ('LARCENY', 2019, 3, 25),
 ('ROBBERY', 2018, 9, 7),
 ('AUTO THEFT', 2013, 10, 7),
 ('LARCENY', 2014, 5, 19),
 ('AGGRAVATED ASSAULT', 2012, 11, 25),
 ('ROBBERY', 2013, 9, 19),
 ('AGGRAVATED ASSAULT', 2018, 1, 2),
 ('AUTO THEFT', 2017, 4, 17),
 ('AGGRAVATED ASSAULT', 2013, 11, 6),
 ('RESIDENTIAL BURGLARY', 2015, 7, 14),
 ('AUTO THEFT', 2013, 6, 26),
 ('ROBBERY', 2015, 2, 26),
 ('OTHER BURGLARY', 2018, 12, 27),
 ('AGGRAVATED ASSAULT', 2016, 10, 11),
 ('RESIDENTIAL BURGLARY', 2018, 8, 1),
 ('LARCENY', 2017, 11, 29),
 ('RESIDENTIAL BURGLARY', 2013, 3, 25),
 ('ROBBERY', 2012, 9, 8),
 ('AUTO THEFT', 2019, 3, 13),
 ('AGGRAVATED ASSAULT', 2019, 1, 25),
 ('ROBBERY', 2017, 8, 5),
 ('RESIDENTIAL BURGLARY', 2016, 3, 8),
 ('LARCENY', 2015, 10, 21),
 ('RESIDENTIAL BURGLARY', 2015, 2, 25),
 ('AUTO THEFT', 2017, 8, 28),
 ('AGGRAVATED ASSAULT', 2017, 8, 18),
 ('COMMERCIAL BURGLARY', 2018, 1, 28),
 ('AUTO THEFT', 2014, 10, 29),
 ('COMMERCIAL BURGLARY', 2017, 10, 14),
 ('LARCENY', 2013, 1, 4),
 ('ROBBERY', 2016, 10, 24),
 ('LARCENY', 2016, 7, 15),
 ('AUTO THEFT', 2016, 7, 19),
 ('AUTO THEFT', 2015, 6, 28),
 ('ROBBERY', 2013, 2, 28),
 ('ROBBERY', 2018, 6, 23),
 ('RESIDENTIAL BURGLARY', 2017, 7, 4),
 ('AGGRAVATED ASSAULT', 2017, 5, 21),
 ('AUTO THEFT', 2013, 2, 21),
 ('ROBBERY', 2015, 6, 21),
 ('LARCENY', 2017, 7, 12),
 ('ROBBERY', 2016, 7, 11),
 ('COMMERCIAL BURGLARY', 2013, 11, 30),
 ('AUTO THEFT', 2015, 5, 1),
 ('ROBBERY', 2013, 1, 1),
 ('AUTO THEFT', 2016, 11, 14),
 ('COMMERCIAL BURGLARY', 2015, 7, 11),
 ('AGGRAVATED ASSAULT', 2016, 1, 3),
 ('COMMERCIAL BURGLARY', 2013, 8, 15),
 ('LARCENY', 2016, 3, 24),
 ('ROBBERY', 2017, 3, 25),
 ('RESIDENTIAL BURGLARY', 2016, 8, 2),
 ('AGGRAVATED ASSAULT', 2018, 4, 23),
 ('ROBBERY', 2014, 9, 27),
 ('AGGRAVATED ASSAULT', 2013, 4, 25),
 ('RESIDENTIAL BURGLARY', 2015, 10, 27),
 ('COMMERCIAL BURGLARY', 2014, 3, 21),
 ('LARCENY', 2018, 2, 26),
 ('RESIDENTIAL BURGLARY', 2018, 5, 12),
 ('LARCENY', 2013, 6, 18),
 ('AGGRAVATED ASSAULT', 2015, 1, 25),
 ('ROBBERY', 2014, 10, 18),
 ('AGGRAVATED ASSAULT', 2017, 2, 1),
 ('AGGRAVATED ASSAULT', 2012, 10, 7),
 ('AUTO THEFT', 2018, 8, 29),
 ('COMMERCIAL BURGLARY', 2017, 7, 27),
 ('LARCENY', 2016, 10, 26),
 ('AUTO THEFT', 2015, 12, 9),
 ('ROBBERY', 2013, 8, 9),
 ('AGGRAVATED ASSAULT', 2014, 5, 11),
 ('RESIDENTIAL BURGLARY', 2014, 9, 9),
 ('LARCENY', 2019, 1, 8),
 ('ROBBERY', 2018, 11, 2),
 ('RESIDENTIAL BURGLARY', 2017, 2, 9),
 ('LARCENY', 2014, 11, 20),
 ('AUTO THEFT', 2013, 5, 2),
 ('AGGRAVATED ASSAULT', 2016, 9, 21),
 ('LARCENY', 2017, 8, 3),
 ('AGGRAVATED ASSAULT', 2015, 5, 16),
 ('AUTO THEFT', 2015, 11, 28),
 ('COMMERCIAL BURGLARY', 2016, 11, 9),
 ('ROBBERY', 2017, 11, 27),
 ('AGGRAVATED ASSAULT', 2018, 12, 5),
 ('AUTO THEFT', 2017, 6, 16),
 ('ROBBERY', 2014, 1, 29),
 ('AGGRAVATED ASSAULT', 2016, 4, 22),
 ('AUTO THEFT', 2019, 1, 30),
 ('LARCENY', 2016, 6, 13),
 ('ROBBERY', 2017, 6, 12),
 ('COMMERCIAL BURGLARY', 2012, 10, 31),
 ('AUTO THEFT', 2017, 10, 15),
 ('COMMERCIAL BURGLARY', 2014, 6, 8),
 ('LARCENY', 2018, 9, 1),
 ('LARCENY', 2013, 3, 7),
 ('RESIDENTIAL BURGLARY', 2019, 1, 30),
 ('AGGRAVATED ASSAULT', 2014, 12, 3),
 ('COMMERCIAL BURGLARY', 2012, 9, 14),
 ('RESIDENTIAL BURGLARY', 2014, 2, 5),
 ('COMMERCIAL BURGLARY', 2019, 3, 2),
 ('RESIDENTIAL BURGLARY', 2017, 9, 13),
 ('AGGRAVATED ASSAULT', 2017, 7, 20),
 ('AUTO THEFT', 2013, 12, 28),
 ('ROBBERY', 2015, 8, 28),
 ('RESIDENTIAL BURGLARY', 2012, 9, 4),
 ('LARCENY', 2017, 1, 27),
 ('ROBBERY', 2016, 5, 30),
 ('RESIDENTIAL BURGLARY', 2019, 4, 13),
 ('LARCENY', 2012, 7, 17),
 ('AUTO THEFT', 2015, 3, 30),
 ('ROBBERY', 2013, 7, 30),
 ('COMMERCIAL BURGLARY', 2015, 1, 30),
 ('LARCENY', 2019, 6, 7),
 ('ROBBERY', 2018, 12, 13),
 ('ROBBERY', 2015, 11, 17),
 ('COMMERCIAL BURGLARY', 2018, 7, 30),
 ('LARCENY', 2014, 6, 1),
 ('OTHER BURGLARY', 2018, 6, 22),
 ('AGGRAVATED ASSAULT', 2016, 12, 8),
 ('RESIDENTIAL BURGLARY', 2018, 6, 16),
 ('COMMERCIAL BURGLARY', 2013, 6, 24),
 ('RESIDENTIAL BURGLARY', 2013, 5, 8),
 ('ROBBERY', 2017, 1, 10),
 ('RESIDENTIAL BURGLARY', 2016, 10, 31),
 ('ROBBERY', 2014, 11, 14),
 ('AUTO THEFT', 2017, 1, 15),
 ('AGGRAVATED ASSAULT', 2013, 6, 10),
 ('RESIDENTIAL BURGLARY', 2015, 8, 6),
 ('OTHER BURGLARY', 2018, 3, 21),
 ('LARCENY', 2013, 8, 23),
 ('RESIDENTIAL BURGLARY', 2018, 11, 19),
 ('AGGRAVATED ASSAULT', 2019, 4, 19),
 ('LARCENY', 2016, 9, 2),
 ('AGGRAVATED ASSAULT', 2014, 4, 17),
 ('AUTO THEFT', 2012, 8, 31),
 ('LARCENY', 2015, 5, 3),
 ('ROBBERY', 2014, 12, 31),
 ('ROBBERY', 2018, 8, 26),
 ('AGGRAVATED ASSAULT', 2012, 12, 2),
 ('AUTO THEFT', 2013, 4, 30),
 ('AUTO THEFT', 2016, 2, 29),
 ('RESIDENTIAL BURGLARY', 2014, 7, 8),
 ('ROBBERY', 2018, 5, 13),
 ('COMMERCIAL BURGLARY', 2015, 9, 24),
 ('AUTO THEFT', 2013, 7, 15),
 ('ROBBERY', 2015, 3, 15),
 ('AUTO THEFT', 2018, 3, 21),
 ('RESIDENTIAL BURGLARY', 2016, 2, 29),
 ('AGGRAVATED ASSAULT', 2018, 10, 12),
 ('COMMERCIAL BURGLARY', 2015, 10, 13),
 ('RESIDENTIAL BURGLARY', 2015, 3, 4),
 ('LARCENY', 2014, 12, 18),
 ('ROBBERY', 2019, 1, 27),
 ('COMMERCIAL BURGLARY', 2018, 2, 3),
 ('OTHER BURGLARY', 2018, 8, 9),
 ('AGGRAVATED ASSAULT', 2016, 6, 21),
 ('RESIDENTIAL BURGLARY', 2018, 12, 3),
 ('RESIDENTIAL BURGLARY', 2018, 3, 5),
 ('AUTO THEFT', 2014, 9, 10),
 ('AUTO THEFT', 2019, 7, 3),
 ('AGGRAVATED ASSAULT', 2015, 8, 14),
 ('RESIDENTIAL BURGLARY', 2013, 8, 5),
 ('RESIDENTIAL BURGLARY', 2016, 7, 10),
 ('AGGRAVATED ASSAULT', 2018, 9, 25),
 ('ROBBERY', 2014, 4, 1),
 ('OTHER BURGLARY', 2017, 10, 18),
 ('AGGRAVATED ASSAULT', 2013, 3, 31),
 ('LARCENY', 2018, 7, 6),
 ('LARCENY', 2013, 5, 2),
 ('AUTO THEFT', 2014, 5, 17),
 ('LARCENY', 2016, 12, 23),
 ('COMMERCIAL BURGLARY', 2012, 7, 27),
 ('AUTO THEFT', 2016, 10, 27),
 ('ROBBERY', 2018, 2, 9),
 ('COMMERCIAL BURGLARY', 2019, 5, 5),
 ('LARCENY', 2015, 2, 12),
 ('RESIDENTIAL BURGLARY', 2017, 11, 30),
 ('OTHER BURGLARY', 2017, 6, 29),
 ('ROBBERY', 2015, 10, 15),
 ('AGGRAVATED ASSAULT', 2012, 7, 9),
 ('AUTO THEFT', 2018, 4, 1),
 ('COMMERCIAL BURGLARY', 2014, 12, 18),
 ('AUTO THEFT', 2018, 11, 7),
 ('LARCENY', 2017, 3, 22),
 ('RESIDENTIAL BURGLARY', 2012, 11, 7),
 ('COMMERCIAL BURGLARY', 2017, 2, 17),
 ('LARCENY', 2012, 9, 22),
 ('ROBBERY', 2016, 3, 9),
 ('AUTO THEFT', 2015, 1, 3),
 ('ROBBERY', 2013, 5, 3),
 ('OTHER BURGLARY', 2016, 9, 16),
 ('AGGRAVATED ASSAULT', 2018, 5, 18),
 ('RESIDENTIAL BURGLARY', 2014, 12, 19),
 ('COMMERCIAL BURGLARY', 2015, 3, 13),
 ('LARCENY', 2019, 4, 4),
 ('AUTO THEFT', 2013, 9, 30),
 ('COMMERCIAL BURGLARY', 2018, 9, 11),
 ('LARCENY', 2012, 12, 17),
 ('COMMERCIAL BURGLARY', 2016, 4, 7),
 ('ROBBERY', 2017, 12, 29),
 ('OTHER BURGLARY', 2016, 5, 15),
 ('AUTO THEFT', 2017, 3, 28),
 ('RESIDENTIAL BURGLARY', 2015, 6, 9),
 ('ROBBERY', 2019, 4, 14),
 ('COMMERCIAL BURGLARY', 2014, 8, 25),
 ('RESIDENTIAL BURGLARY', 2018, 9, 22),
 ('RESIDENTIAL BURGLARY', 2013, 2, 22),
 ('ROBBERY', 2012, 10, 5),
 ('AUTO THEFT', 2019, 2, 22),
 ('AGGRAVATED ASSAULT', 2019, 2, 28),
 ('LARCENY', 2016, 11, 7),
 ('AGGRAVATED ASSAULT', 2014, 10, 16),
 ('RESIDENTIAL BURGLARY', 2014, 8, 20),
 ('LARCENY', 2015, 11, 14),
 ('RESIDENTIAL BURGLARY', 2017, 3, 28),
 ('AGGRAVATED ASSAULT', 2017, 9, 13),
 ('COMMERCIAL BURGLARY', 2017, 11, 9),
 ('ROBBERY', 2016, 11, 11),
 ('RESIDENTIAL BURGLARY', 2019, 2, 6),
 ('ROBBERY', 2013, 12, 11),
 ('AUTO THEFT', 2016, 4, 2),
 ('AGGRAVATED ASSAULT', 2014, 9, 13),
 ('LARCENY', 2015, 8, 31),
 ('ROBBERY', 2018, 7, 28),
 ('RESIDENTIAL BURGLARY', 2017, 6, 11),
 ('AGGRAVATED ASSAULT', 2017, 10, 24),
 ('AUTO THEFT', 2018, 1, 20),
 ('RESIDENTIAL BURGLARY', 2012, 12, 16),
 ('LARCENY', 2017, 4, 1),
 ('ROBBERY', 2016, 8, 18),
 ('AGGRAVATED ASSAULT', 2015, 9, 18),
 ('COMMERCIAL BURGLARY', 2013, 12, 23),
 ('AUTO THEFT', 2015, 4, 22),
 ('RESIDENTIAL BURGLARY', 2016, 4, 18),
 ('RESIDENTIAL BURGLARY', 2015, 1, 5),
 ('ROBBERY', 2019, 3, 8),
 ('COMMERCIAL BURGLARY', 2018, 4, 6),
 ('LARCENY', 2014, 3, 15),
 ('RESIDENTIAL BURGLARY', 2018, 1, 4),
 ('COMMERCIAL BURGLARY', 2013, 9, 20),
 ('LARCENY', 2016, 2, 23),
 ('RESIDENTIAL BURGLARY', 2013, 10, 4),
 ('ROBBERY', 2017, 2, 10),
 ('RESIDENTIAL BURGLARY', 2016, 9, 21),
 ('LARCENY', 2015, 12, 8),
 ('ROBBERY', 2014, 6, 2),
 ('LARCENY', 2015, 3, 16),
 ('AGGRAVATED ASSAULT', 2017, 6, 17),
 ('LARCENY', 2018, 5, 3),
 ('LARCENY', 2013, 7, 1),
 ('AUTO THEFT', 2014, 3, 16),
 ('COMMERCIAL BURGLARY', 2017, 3, 11),
 ('ROBBERY', 2012, 7, 16),
 ('AGGRAVATED ASSAULT', 2019, 7, 1),
 ('AUTO THEFT', 2016, 12, 20),
 ('AGGRAVATED ASSAULT', 2014, 1, 11),
 ('COMMERCIAL BURGLARY', 2019, 7, 4),
 ('OTHER BURGLARY', 2017, 4, 12),
 ('HOMICIDE', 2012, 7, 31),
 ('AUTO THEFT', 2018, 9, 26),
 ('LARCENY', 2017, 12, 19),
 ('ROBBERY', 2013, 11, 4),
 ('AUTO THEFT', 2016, 1, 23),
 ('AGGRAVATED ASSAULT', 2018, 3, 31),
 ('LARCENY', 2019, 2, 13),
 ('AGGRAVATED ASSAULT', 2013, 9, 17),
 ('AUTO THEFT', 2013, 11, 19),
 ('LARCENY', 2014, 10, 15),
 ('AGGRAVATED ASSAULT', 2016, 8, 14),
 ('RESIDENTIAL BURGLARY', 2013, 1, 6),
 ('ROBBERY', 2012, 11, 23),
 ('AGGRAVATED ASSAULT', 2015, 6, 5),
 ('ROBBERY', 2017, 10, 20),
 ('RESIDENTIAL BURGLARY', 2016, 1, 7),
 ('AUTO THEFT', 2012, 11, 8),
 ('AUTO THEFT', 2017, 5, 5),
 ('AGGRAVATED ASSAULT', 2013, 10, 12),
 ('LARCENY', 2014, 9, 30),
 ('ROBBERY', 2019, 6, 29),
 ('AUTO THEFT', 2014, 12, 6),
 ('ROBBERY', 2012, 8, 6),
 ('ROBBERY', 2017, 9, 17),
 ('AGGRAVATED ASSAULT', 2014, 8, 19),
 ('RESIDENTIAL BURGLARY', 2014, 6, 29),
 ('HOMICIDE', 2014, 4, 12),
 ('AUTO THEFT', 2012, 7, 23),
 ('RESIDENTIAL BURGLARY', 2017, 5, 21),
 ('ROBBERY', 2014, 3, 23),
 ('COMMERCIAL BURGLARY', 2014, 5, 5),
 ('LARCENY', 2018, 8, 14),
 ('HOMICIDE', 2017, 12, 6),
 ('AUTO THEFT', 2016, 6, 7),
 ('RESIDENTIAL BURGLARY', 2014, 3, 14),
 ('ROBBERY', 2018, 1, 11),
 ('RESIDENTIAL BURGLARY', 2017, 8, 22),
 ('AUTO THEFT', 2013, 3, 1),
 ('LARCENY', 2014, 2, 17),
 ('OTHER BURGLARY', 2018, 11, 30),
 ('AGGRAVATED ASSAULT', 2016, 7, 16),
 ('ROBBERY', 2015, 7, 1),
 ('LARCENY', 2017, 6, 2),
 ('ROBBERY', 2016, 6, 23),
 ('COMMERCIAL BURGLARY', 2013, 10, 8),
 ('AUTO THEFT', 2015, 2, 17),
 ('ROBBERY', 2013, 6, 17),
 ('AGGRAVATED ASSAULT', 2018, 6, 2),
 ('COMMERCIAL BURGLARY', 2015, 6, 7),
 ('LARCENY', 2019, 7, 16),
 ('AGGRAVATED ASSAULT', 2013, 2, 10),
 ('LARCENY', 2014, 1, 28),
 ('RESIDENTIAL BURGLARY', 2018, 7, 3),
 ('AGGRAVATED ASSAULT', 2015, 12, 16),
 ('COMMERCIAL BURGLARY', 2013, 7, 27),
 ('RESIDENTIAL BURGLARY', 2013, 4, 11),
 ('COMMERCIAL BURGLARY', 2016, 1, 17),
 ('RESIDENTIAL BURGLARY', 2016, 11, 20),
 ('AUTO THEFT', 2012, 12, 7),
 ('ROBBERY', 2014, 8, 7),
 ('HOMICIDE', 2015, 1, 26),
 ('LARCENY', 2018, 3, 12),
 ('AGGRAVATED ASSAULT', 2012, 8, 18),
 ('RESIDENTIAL BURGLARY', 2018, 4, 26),
 ('ROBBERY', 2016, 2, 20),
 ('AGGRAVATED ASSAULT', 2014, 7, 4),
 ('RESIDENTIAL BURGLARY', 2014, 11, 8),
 ('LARCENY', 2015, 6, 18),
 ('ROBBERY', 2018, 9, 21),
 ('AUTO THEFT', 2013, 10, 9),
 ('AGGRAVATED ASSAULT', 2017, 12, 11),
 ('AGGRAVATED ASSAULT', 2012, 11, 11),
 ('HOMICIDE', 2017, 7, 5),
 ('LARCENY', 2013, 10, 29),
 ('COMMERCIAL BURGLARY', 2013, 3, 18),
 ('ROBBERY', 2013, 9, 5),
 ('AUTO THEFT', 2016, 3, 26),
 ('AGGRAVATED ASSAULT', 2018, 1, 12),
 ('AGGRAVATED ASSAULT', 2013, 11, 16),

In [116]:
crime_set = set(crime_list)
time_set = set(time_tuple_list)

In [117]:
full_set = {(crime, time.year, time.month, time.day) for crime in crime_set for time in time_set}

In [118]:
len(full_set)

20520

In [119]:
zeroset = full_set - cset

In [120]:
cset - full_set

set()

In [121]:
uzeroset = cset - full_set

In [122]:
len(zeroset) + len(cset) - len(full_set)

0

In [123]:
full_set.issuperset(cset)

True

In [124]:

def process_row(tup):
    dicc_list = []
    dayw = dicc[datetime.date(tup[1], tup[2], tup[3]).weekday()]
    for i in range(24):
        ind_dic = {'crime': tup[0], 'year': tup[1], 'month': tup[2], 'day': tup[3], 'dayw': dayw, 'hour': i, 'counts': 0}
        dicc_list.append(ind_dic)
    return dicc_list

In [125]:
def process_set(zeroset):
    dicc_list = []
    for row in zeroset:
        dicc_list.extend(process_row(row))
    return dicc_list

In [126]:
zero_dicc_list = process_set(zeroset)

In [127]:
len(zero_dicc_list)

133200

In [128]:
24 * len(zeroset)

133200

In [129]:
df_zero = pd.DataFrame(zero_dicc_list, columns = ['crime', 'year', 'month', 'day', 'dayw', 'hour', 'counts'])

In [130]:
df_zero.head()

                 crime  year  month  day      dayw  hour  counts
0  COMMERCIAL BURGLARY  2019      6   13  Thursday     0       0
1  COMMERCIAL BURGLARY  2019      6   13  Thursday     1       0
2  COMMERCIAL BURGLARY  2019      6   13  Thursday     2       0
3  COMMERCIAL BURGLARY  2019      6   13  Thursday     3       0
4  COMMERCIAL BURGLARY  2019      6   13  Thursday     4       0

In [131]:
df_zero.shape

(133200, 7)

In [132]:
df_temp.rename(index = str, columns = {0:'counts'}, inplace = True)

In [133]:
df_ag = pd.concat([df_temp, df_zero], ignore_index = True)

In [134]:
df_ag.to_csv('ag.csv')

In [135]:
df_ag.dayw.value_counts()

Tuesday      70464
Monday       70464
Sunday       70464
Saturday     70272
Friday       70272
Thursday     70272
Wednesday    70272
Name: dayw, dtype: int64

In [138]:
len(crime_set)

8

In [139]:
df_ag.head()

                crime  year  month  day    dayw  hour  counts
0  AGGRAVATED ASSAULT  2012      7    8  Sunday     0       0
1  AGGRAVATED ASSAULT  2012      7    8  Sunday     1       0
2  AGGRAVATED ASSAULT  2012      7    8  Sunday     2       0
3  AGGRAVATED ASSAULT  2012      7    8  Sunday     3       0
4  AGGRAVATED ASSAULT  2012      7    8  Sunday     4       0

In [140]:
df_ag['year'] = df_ag.year.astype('category')
df_ag['month'] = df_ag.month.astype('category')
df_ag['day'] = df_ag.day.astype('category')
df_ag['dayw'] = df_ag.dayw.astype('category')
df_ag['hour'] = df_ag.hour.astype('category')
df_ag['crime'] = df_ag.crime.astype('category')
df_ag['counts'] = df_ag.counts.astype(float)

In [141]:
df_ag.dtypes

crime     category
year      category
month     category
day       category
dayw      category
hour      category
counts     float64
dtype: object

In [142]:
df_ag.crime.value_counts()

ROBBERY                 61560
RESIDENTIAL BURGLARY    61560
OTHER BURGLARY          61560
LARCENY                 61560
HOMICIDE                61560
COMMERCIAL BURGLARY     61560
AUTO THEFT              61560
AGGRAVATED ASSAULT      61560
Name: crime, dtype: int64

<a id = '2.2A'></a>
[Return to top](#top)
## 2.2 Select and split

Since we already have clean data we need to do some feature engineering.

In [143]:
df_ag2 = df_ag.groupby(['crime', 'year', 'month', 'dayw'])['counts'].sum().reset_index(name = 'counts')

In [144]:
df_ag2

                   crime  year month       dayw  counts
0     AGGRAVATED ASSAULT  2012     7     Friday    25.0
1     AGGRAVATED ASSAULT  2012     7     Monday    27.0
2     AGGRAVATED ASSAULT  2012     7   Saturday    21.0
3     AGGRAVATED ASSAULT  2012     7     Sunday    25.0
4     AGGRAVATED ASSAULT  2012     7   Thursday    14.0
5     AGGRAVATED ASSAULT  2012     7    Tuesday    33.0
6     AGGRAVATED ASSAULT  2012     7  Wednesday    17.0
7     AGGRAVATED ASSAULT  2012     8     Friday    32.0
8     AGGRAVATED ASSAULT  2012     8     Monday    22.0
9     AGGRAVATED ASSAULT  2012     8   Saturday    38.0
10    AGGRAVATED ASSAULT  2012     8     Sunday    28.0
11    AGGRAVATED ASSAULT  2012     8   Thursday    27.0
12    AGGRAVATED ASSAULT  2012     8    Tuesday    24.0
13    AGGRAVATED ASSAULT  2012     8  Wednesday    34.0
14    AGGRAVATED ASSAULT  2012     9     Friday    21.0
15    AGGRAVATED ASSAULT  2012     9     Monday    23.0
16    AGGRAVATED ASSAULT  2012     9   Saturday    35.0
17    AGGRAVATED ASSAULT  2012     9     Sunday    47.0
18    AGGRAVATED ASSAULT  2012     9   Thursday    24.0
19    AGGRAVATED ASSAULT  2012     9    Tuesday    22.0
20    AGGRAVATED ASSAULT  2012     9  Wednesday    34.0
21    AGGRAVATED ASSAULT  2012    10     Friday    21.0
22    AGGRAVATED ASSAULT  2012    10     Monday    21.0
23    AGGRAVATED ASSAULT  2012    10   Saturday    17.0
24    AGGRAVATED ASSAULT  2012    10     Sunday    26.0
25    AGGRAVATED ASSAULT  2012    10   Thursday    17.0
26    AGGRAVATED ASSAULT  2012    10    Tuesday    19.0
27    AGGRAVATED ASSAULT  2012    10  Wednesday    19.0
28    AGGRAVATED ASSAULT  2012    11     Friday    22.0
29    AGGRAVATED ASSAULT  2012    11     Monday    12.0
...                  ...   ...   ...        ...     ...
4730             ROBBERY  2019     3    Tuesday     7.0
4731             ROBBERY  2019     3  Wednesday     8.0
4732             ROBBERY  2019     4     Friday     8.0
4733             ROBBERY  2019     4     Monday     8.0
4734             ROBBERY  2019     4   Saturday     9.0
4735             ROBBERY  2019     4     Sunday     7.0
4736             ROBBERY  2019     4   Thursday     5.0
4737             ROBBERY  2019     4    Tuesday    10.0
4738             ROBBERY  2019     4  Wednesday    10.0
4739             ROBBERY  2019     5     Friday    11.0
4740             ROBBERY  2019     5     Monday     7.0
4741             ROBBERY  2019     5   Saturday    14.0
4742             ROBBERY  2019     5     Sunday     4.0
4743             ROBBERY  2019     5   Thursday    18.0
4744             ROBBERY  2019     5    Tuesday     5.0
4745             ROBBERY  2019     5  Wednesday    20.0
4746             ROBBERY  2019     6     Friday     4.0
4747             ROBBERY  2019     6     Monday    15.0
4748             ROBBERY  2019     6   Saturday    13.0
4749             ROBBERY  2019     6     Sunday    19.0
4750             ROBBERY  2019     6   Thursday     7.0
4751             ROBBERY  2019     6    Tuesday     7.0
4752             ROBBERY  2019     6  Wednesday    13.0
4753             ROBBERY  2019     7     Friday     9.0
4754             ROBBERY  2019     7     Monday    10.0
4755             ROBBERY  2019     7   Saturday     3.0
4756             ROBBERY  2019     7     Sunday     7.0
4757             ROBBERY  2019     7   Thursday    10.0
4758             ROBBERY  2019     7    Tuesday     6.0
4759             ROBBERY  2019     7  Wednesday     1.0

[4760 rows x 5 columns]

In [145]:
df_dummies = pd.get_dummies(df_ag2)

In [146]:
df_dummies.head()

,counts,crime_AGGRAVATED ASSAULT,crime_AUTO THEFT,crime_COMMERCIAL BURGLARY,crime_HOMICIDE,crime_LARCENY,crime_OTHER BURGLARY,crime_RESIDENTIAL BURGLARY,crime_ROBBERY,year_2012,...,month_10,month_11,month_12,dayw_Friday,dayw_Monday,dayw_Saturday,dayw_Sunday,dayw_Thursday,dayw_Tuesday,dayw_Wednesday
0,25.0,1,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,27.0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,21.0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,25.0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,14.0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [147]:
df_dummies.columns

Index(['counts', 'crime_AGGRAVATED ASSAULT', 'crime_AUTO THEFT',
       'crime_COMMERCIAL BURGLARY', 'crime_HOMICIDE', 'crime_LARCENY',
       'crime_OTHER BURGLARY', 'crime_RESIDENTIAL BURGLARY', 'crime_ROBBERY',
       'year_2012', 'year_2013', 'year_2014', 'year_2015', 'year_2016',
       'year_2017', 'year_2018', 'year_2019', 'month_1', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'month_12', 'dayw_Friday', 'dayw_Monday',
       'dayw_Saturday', 'dayw_Sunday', 'dayw_Thursday', 'dayw_Tuesday',
       'dayw_Wednesday'],
      dtype='object')

In [148]:
X = df_dummies.iloc[:,1:]
y = df_dummies['counts']

In [149]:
y.shape

(4760,)

In [150]:
y.head()

0    25.0
1    27.0
2    21.0
3    25.0
4    14.0
Name: counts, dtype: float64

In [151]:
X_trainn, X_test, y_trainn, y_test = train_test_split(X, y, test_size=0.2, random_state=52)
X_train, X_val, y_train, y_val = train_test_split(X_trainn, y_trainn, test_size=0.2, random_state=52)

In [152]:
X_train.shape

(3046, 35)

In [153]:
regressor_list = []
ev_train = []
ev_test = []
r2_train = []
r2_test = []
mse_train = []
mse_test = []
mae_train = []
mae_test = []
mdae_train = []
mdae_test = []

In [154]:
def regression(regressor, x_train, x_test, y_train):
    reg = regressor
    reg.fit(x_train, y_train)
    
    y_train_reg = reg.predict(x_train)
    y_test_reg = reg.predict(x_test)
    
    return y_train_reg, y_test_reg

In [155]:
def scores(regressor, y_train, y_test, y_train_reg, y_test_reg):
    regressor_list.append(str(regressor))
    
    ev_train_c = explained_variance_score(y_train, y_train_reg)
    ev_train.append(ev_train_c)
    ev_test_c = explained_variance_score(y_test, y_test_reg)
    ev_test.append(ev_test_c)
    
    r2_train_c = r2_score(y_train, y_train_reg)
    r2_train.append(r2_train_c)
    r2_test_c = r2_score(y_test, y_test_reg)
    r2_test.append(r2_test_c)
    
    mse_train_c = mean_squared_error(y_train, y_train_reg)
    mse_train.append(mse_train_c)
    mse_test_c = mean_squared_error(y_test, y_test_reg)
    mse_test.append(mse_test_c)

    mae_train_c = mean_absolute_error(y_train, y_train_reg)
    mae_train.append(mae_train_c)
    mae_test_c = mean_absolute_error(y_test, y_test_reg)
    mae_test.append(mae_test_c)  
    
    mdae_train_c = median_absolute_error(y_train, y_train_reg)
    mdae_train.append(mdae_train_c)
    mdae_test_c = median_absolute_error(y_test, y_test_reg)
    mdae_test.append(mdae_test_c)
    
    print("______________________________________________________________________________")
    print(str(regressor))
    print("______________________________________________________________________________")
    print("EV score. Train: ", ev_train_c)
    print("EV score. Test: ", ev_test_c)
    print("---------")
    print("R2 score. Train: ", r2_train_c)
    print("R2 score. Test: ", r2_test_c)
    print("---------")
    print("MSE score. Train: ", mse_train_c)
    print("MSE score. Test: ", mse_test_c)
    print("---------")
    print("MAE score. Train: ", mae_train_c)
    print("MAE score. Test: ", mae_test_c)
    print("---------")
    print("MdAE score. Train: ", mdae_train_c)
    print("MdAE score. Test: ", mdae_test_c)

<a id = '2.2'></a>
[Return to top](#top)
## 2.3 Linear Regressor

Let's first try linear regression.

In [156]:
lreg = LinearRegression()
lreg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(lreg, X_train, X_val, y_train)
scores(lreg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)
______________________________________________________________________________
EV score. Train:  0.9143945432873462
EV score. Test:  0.8827995315420987
---------
R2 score. Train:  0.9143945262730107
R2 score. Test:  0.8827992274044586
---------
MSE score. Train:  170.25226815938166
MSE score. Test:  233.90416895748749
---------
MAE score. Train:  7.529039108667105
MAE score. Test:  8.118243520341208
---------
MdAE score. Train:  4.65625
MdAE score. Test:  4.91015625

In [157]:
sgd_reg = SGDRegressor()
sgd_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(sgd_reg, X_train, X_val, y_train)
scores(sgd_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
       eta0=0.01, fit_intercept=True, l1_ratio=0.15,
       learning_rate='invscaling', loss='squared_loss', max_iter=None,
       n_iter=None, n_iter_no_change=5, penalty='l2', power_t=0.25,
       random_state=None, shuffle=True, tol=None, validation_fraction=0.1,
       verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.9054579782838977
EV score. Test:  0.8730438206672417
---------
R2 score. Train:  0.9054503434555083
R2 score. Test:  0.8730325025847367
---------
MSE score. Train:  188.04046960510124
MSE score. Test:  253.39617060390353
---------
MAE score. Train:  7.745740899775923
MAE score. Test:  8.143369530164447
---------
MdAE score. Train:  4.930616293433571
MdAE score. Test:  5.11858268049243

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDRegressor in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDRegressor in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

<a id = '2.3'></a>
[Return to top](#top)
## 2.4 BaggingRegressor, AdaBoostRegressor, ExtraTreesRegressor

In [158]:
ba_reg = BaggingRegressor()
ba_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(ba_reg, X_train, X_val, y_train)
scores(ba_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
BaggingRegressor(base_estimator=None, bootstrap=True,
         bootstrap_features=False, max_features=1.0, max_samples=1.0,
         n_estimators=10, n_jobs=None, oob_score=False, random_state=None,
         verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.9908782098682681
EV score. Test:  0.951245415609386
---------
R2 score. Train:  0.9908779716495478
R2 score. Test:  0.9512317155118306
---------
MSE score. Train:  18.141900853578466
MSE score. Test:  97.3296062992126
---------
MAE score. Train:  2.2193368351936966
MAE score. Test:  5.548556430446194
---------
MdAE score. Train:  1.0
MdAE score. Test:  2.9000000000000004

In [159]:
ada_reg = AdaBoostRegressor(learning_rate=1,n_estimators=100)
ada_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(ada_reg, X_train, X_val, y_train)
scores(ada_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
AdaBoostRegressor(base_estimator=None, learning_rate=1, loss='linear',
         n_estimators=100, random_state=None)
______________________________________________________________________________
EV score. Train:  0.9067996317974019
EV score. Test:  0.873257042123503
---------
R2 score. Train:  0.9059081651990938
R2 score. Test:  0.8729562921466618
---------
MSE score. Train:  187.12995317589844
MSE score. Test:  253.54826805845966
---------
MAE score. Train:  9.413667303591383
MAE score. Test:  9.975730284832332
---------
MdAE score. Train:  7.269639781987321
MdAE score. Test:  7.269639781987321

In [160]:
et_reg = ExtraTreesRegressor(n_estimators=100)
et_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(et_reg, X_train, X_val, y_train)
scores(et_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
          max_features='auto', max_leaf_nodes=None,
          min_impurity_decrease=0.0, min_impurity_split=None,
          min_samples_leaf=1, min_samples_split=2,
          min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
          oob_score=False, random_state=None, verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  1.0
EV score. Test:  0.919522358923459
---------
R2 score. Train:  1.0
R2 score. Test:  0.9195195630832128
---------
MSE score. Train:  0.0
MSE score. Test:  160.61933123359577
---------
MAE score. Train:  0.0
MAE score. Test:  6.938477690288715
---------
MdAE score. Train:  0.0
MdAE score. Test:  3.7399999999999993

<a id = '2.4'></a>
[Return to top](#top)
## 2.5 GradientBoostingRegressor, RandomForestRegressor, LGBMRegressor

In [161]:
gb_reg = GradientBoostingRegressor()
gb_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(gb_reg, X_train, X_val, y_train)
scores(gb_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.9513838884549657
EV score. Test:  0.9223412832864206
---------
R2 score. Train:  0.9513838884549657
R2 score. Test:  0.9223009688448833
---------
MSE score. Train:  96.68778057380284
MSE score. Test:  155.06832343041123
---------
MAE score. Train:  5.565297417861016
MAE score. Test:  6.336416399476434
---------
MdAE score. Train:  2.95827407282592
MdAE score. Test:  3.3335979044794257

In [162]:
rf_reg = RandomForestRegressor(n_estimators=100)
rf_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(rf_reg, X_train, X_val, y_train)
scores(rf_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.9923313967267854
EV score. Test:  0.9537432524190378
---------
R2 score. Train:  0.9923312787386604
R2 score. Test:  0.9537275974117084
---------
MSE score. Train:  15.25156198292843
MSE score. Test:  92.3484345144357
---------
MAE score. Train:  2.08919238345371
MAE score. Test:  5.3308792650918635
---------
MdAE score. Train:  0.9900000000000047
MdAE score. Test:  2.705

In [163]:

gbm = lgb.LGBMRegressor(num_leaves=31,
                        learning_rate=0.01,
                        n_estimators=1000)
gbm.fit(X_train, y_train,
        eval_set=[(X_test, y_test)],
        eval_metric='l1',
        early_stopping_rounds=5)

#print('Starting predicting...')
# predict
y_train_reg = gbm.predict(X_train, num_iteration=gbm.best_iteration_)
y_val_reg = gbm.predict(X_val, num_iteration=gbm.best_iteration_)
scores(gbm, y_train, y_val, y_train_reg, y_val_reg)

[1]	valid_0's l1: 27.5675	valid_0's l2: 1921.27
Training until validation scores don't improve for 5 rounds.
[2]	valid_0's l1: 27.3076	valid_0's l2: 1886.27
[3]	valid_0's l1: 27.0514	valid_0's l2: 1851.97
[4]	valid_0's l1: 26.7975	valid_0's l2: 1818.34
[5]	valid_0's l1: 26.5462	valid_0's l2: 1785.39
[6]	valid_0's l1: 26.2972	valid_0's l2: 1753.08
[7]	valid_0's l1: 26.0509	valid_0's l2: 1721.41
[8]	valid_0's l1: 25.8071	valid_0's l2: 1690.37
[9]	valid_0's l1: 25.5656	valid_0's l2: 1659.95
[10]	valid_0's l1: 25.3266	valid_0's l2: 1630.12
[11]	valid_0's l1: 25.0905	valid_0's l2: 1600.89
[12]	valid_0's l1: 24.8571	valid_0's l2: 1572.25
[13]	valid_0's l1: 24.6262	valid_0's l2: 1544.17
[14]	valid_0's l1: 24.3978	valid_0's l2: 1516.65
[15]	valid_0's l1: 24.1711	valid_0's l2: 1489.67
[16]	valid_0's l1: 23.9472	valid_0's l2: 1463.23
[17]	valid_0's l1: 23.7251	valid_0's l2: 1437.31
[18]	valid_0's l1: 23.5054	valid_0's l2: 1411.89
[19]	valid_0's l1: 23.2884	valid_0's l2: 1387
[20]	valid_0's l1: 23.073	valid_0's l2: 1362.58
[21]	valid_0's l1: 22.8607	valid_0's l2: 1338.66
[22]	valid_0's l1: 22.6497	valid_0's l2: 1315.2
[23]	valid_0's l1: 22.4431	valid_0's l2: 1292.37
[24]	valid_0's l1: 22.2377	valid_0's l2: 1270.03
[25]	valid_0's l1: 22.0347	valid_0's l2: 1248.13
[26]	valid_0's l1: 21.8332	valid_0's l2: 1226.47
[27]	valid_0's l1: 21.6335	valid_0's l2: 1205.24
[28]	valid_0's l1: 21.4377	valid_0's l2: 1184.58
[29]	valid_0's l1: 21.2431	valid_0's l2: 1164.32
[30]	valid_0's l1: 21.0487	valid_0's l2: 1144.27
[31]	valid_0's l1: 20.8589	valid_0's l2: 1124.81
[32]	valid_0's l1: 20.6698	valid_0's l2: 1105.72
[33]	valid_0's l1: 20.4838	valid_0's l2: 1087.01
[34]	valid_0's l1: 20.2983	valid_0's l2: 1068.62
[35]	valid_0's l1: 20.1163	valid_0's l2: 1050.64
[36]	valid_0's l1: 19.936	valid_0's l2: 1033.01
[37]	valid_0's l1: 19.7554	valid_0's l2: 1015.56
[38]	valid_0's l1: 19.578	valid_0's l2: 998.428
[39]	valid_0's l1: 19.4028	valid_0's l2: 981.815
[40]	valid_0's l1: 19.2286	valid_0's l2: 965.337
[41]	valid_0's l1: 19.0551	valid_0's l2: 949.21
[42]	valid_0's l1: 18.8858	valid_0's l2: 933.575
[43]	valid_0's l1: 18.7175	valid_0's l2: 918.226
[44]	valid_0's l1: 18.5498	valid_0's l2: 903.055
[45]	valid_0's l1: 18.3847	valid_0's l2: 888.142
[46]	valid_0's l1: 18.2203	valid_0's l2: 873.554
[47]	valid_0's l1: 18.06	valid_0's l2: 859.386
[48]	valid_0's l1: 17.8998	valid_0's l2: 845.363
[49]	valid_0's l1: 17.7409	valid_0's l2: 831.418
[50]	valid_0's l1: 17.5836	valid_0's l2: 817.755
[51]	valid_0's l1: 17.4283	valid_0's l2: 804.543
[52]	valid_0's l1: 17.275	valid_0's l2: 791.42
[53]	valid_0's l1: 17.1222	valid_0's l2: 778.531
[54]	valid_0's l1: 16.9728	valid_0's l2: 766.11
[55]	valid_0's l1: 16.8232	valid_0's l2: 753.719
[56]	valid_0's l1: 16.6768	valid_0's l2: 741.6
[57]	valid_0's l1: 16.5313	valid_0's l2: 729.875
[58]	valid_0's l1: 16.3876	valid_0's l2: 718.222
[59]	valid_0's l1: 16.245	valid_0's l2: 706.694
[60]	valid_0's l1: 16.1039	valid_0's l2: 695.647
[61]	valid_0's l1: 15.965	valid_0's l2: 684.579
[62]	valid_0's l1: 15.8263	valid_0's l2: 673.7
[63]	valid_0's l1: 15.6911	valid_0's l2: 663.299
[64]	valid_0's l1: 15.5557	valid_0's l2: 652.844
[65]	valid_0's l1: 15.4225	valid_0's l2: 642.612
[66]	valid_0's l1: 15.2915	valid_0's l2: 632.813
[67]	valid_0's l1: 15.1613	valid_0's l2: 623.001
[68]	valid_0's l1: 15.0312	valid_0's l2: 613.358
[69]	valid_0's l1: 14.9038	valid_0's l2: 604.125
[70]	valid_0's l1: 14.7792	valid_0's l2: 595.13
[71]	valid_0's l1: 14.6534	valid_0's l2: 586.02
[72]	valid_0's l1: 14.5311	valid_0's l2: 577.373
[73]	valid_0's l1: 14.4087	valid_0's l2: 568.614
[74]	valid_0's l1: 14.2907	valid_0's l2: 560.313
[75]	valid_0's l1: 14.1724	valid_0's l2: 551.906
[76]	valid_0's l1: 14.0565	valid_0's l2: 543.9
[77]	valid_0's l1: 13.941	valid_0's l2: 535.821
[78]	valid_0's l1: 13.8274	valid_0's l2: 528.166
[79]	valid_0's l1: 13.7138	valid_0's l2: 520.382
[80]	valid_0's l1: 13.6017	valid_0's l2: 512.757
[81]	valid_0's l1: 13.4917	valid_0's l2: 505.445
[82]	valid_0's l1: 13.3826	valid_0's l2: 498.37
[83]	valid_0's l1: 13.2753	valid_0's l2: 491.353
[84]	valid_0's l1: 13.1679	valid_0's l2: 484.292
[85]	valid_0's l1: 13.0637	valid_0's l2: 477.546
[86]	valid_0's l1: 12.9614	valid_0's l2: 471.014
[87]	valid_0's l1: 12.858	valid_0's l2: 464.35
[88]	valid_0's l1: 12.7561	valid_0's l2: 457.813
[89]	valid_0's l1: 12.6546	valid_0's l2: 451.395
[90]	valid_0's l1: 12.5568	valid_0's l2: 445.455
[91]	valid_0's l1: 12.4602	valid_0's l2: 439.623
[92]	valid_0's l1: 12.3615	valid_0's l2: 433.559
[93]	valid_0's l1: 12.2643	valid_0's l2: 427.613
[94]	valid_0's l1: 12.1687	valid_0's l2: 421.928
[95]	valid_0's l1: 12.0731	valid_0's l2: 416.202
[96]	valid_0's l1: 11.98	valid_0's l2: 410.741
[97]	valid_0's l1: 11.8867	valid_0's l2: 405.229
[98]	valid_0's l1: 11.7965	valid_0's l2: 400.065
[99]	valid_0's l1: 11.7051	valid_0's l2: 394.765
[100]	valid_0's l1: 11.6155	valid_0's l2: 389.575
[101]	valid_0's l1: 11.5277	valid_0's l2: 384.678
[102]	valid_0's l1: 11.4397	valid_0's l2: 379.683
[103]	valid_0's l1: 11.3535	valid_0's l2: 374.981
[104]	valid_0's l1: 11.2671	valid_0's l2: 370.17
[105]	valid_0's l1: 11.1833	valid_0's l2: 365.626
[106]	valid_0's l1: 11.1006	valid_0's l2: 361.179
[107]	valid_0's l1: 11.019	valid_0's l2: 356.966
[108]	valid_0's l1: 10.9382	valid_0's l2: 352.679
[109]	valid_0's l1: 10.8575	valid_0's l2: 348.468
[110]	valid_0's l1: 10.7785	valid_0's l2: 344.362
[111]	valid_0's l1: 10.7006	valid_0's l2: 340.32
[112]	valid_0's l1: 10.6239	valid_0's l2: 336.514
[113]	valid_0's l1: 10.5464	valid_0's l2: 332.455
[114]	valid_0's l1: 10.4704	valid_0's l2: 328.782
[115]	valid_0's l1: 10.3959	valid_0's l2: 325.044
[116]	valid_0's l1: 10.3207	valid_0's l2: 321.341
[117]	valid_0's l1: 10.2479	valid_0's l2: 317.895
[118]	valid_0's l1: 10.1736	valid_0's l2: 314.204
[119]	valid_0's l1: 10.1016	valid_0's l2: 310.884
[120]	valid_0's l1: 10.0305	valid_0's l2: 307.472
[121]	valid_0's l1: 9.96114	valid_0's l2: 304.135
[122]	valid_0's l1: 9.89226	valid_0's l2: 301.004
[123]	valid_0's l1: 9.82403	valid_0's l2: 297.649
[124]	valid_0's l1: 9.75655	valid_0's l2: 294.63
[125]	valid_0's l1: 9.69185	valid_0's l2: 291.542
[126]	valid_0's l1: 9.62705	valid_0's l2: 288.695
[127]	valid_0's l1: 9.56202	valid_0's l2: 285.85
[128]	valid_0's l1: 9.49808	valid_0's l2: 282.793
[129]	valid_0's l1: 9.43559	valid_0's l2: 280.111
[130]	valid_0's l1: 9.37088	valid_0's l2: 277.146
[131]	valid_0's l1: 9.30888	valid_0's l2: 274.374
[132]	valid_0's l1: 9.24772	valid_0's l2: 271.808
[133]	valid_0's l1: 9.18564	valid_0's l2: 269.005
[134]	valid_0's l1: 9.12642	valid_0's l2: 266.529
[135]	valid_0's l1: 9.06605	valid_0's l2: 263.83
[136]	valid_0's l1: 9.00844	valid_0's l2: 261.448
[137]	valid_0's l1: 8.95089	valid_0's l2: 258.862
[138]	valid_0's l1: 8.89458	valid_0's l2: 256.563
[139]	valid_0's l1: 8.83992	valid_0's l2: 254.067
[140]	valid_0's l1: 8.78669	valid_0's l2: 251.869
[141]	valid_0's l1: 8.73436	valid_0's l2: 249.578
[142]	valid_0's l1: 8.68305	valid_0's l2: 247.466
[143]	valid_0's l1: 8.62989	valid_0's l2: 245.135
[144]	valid_0's l1: 8.57899	valid_0's l2: 243.1
[145]	valid_0's l1: 8.52733	valid_0's l2: 240.861
[146]	valid_0's l1: 8.47783	valid_0's l2: 238.899
[147]	valid_0's l1: 8.43001	valid_0's l2: 236.862
[148]	valid_0's l1: 8.38146	valid_0's l2: 234.971
[149]	valid_0's l1: 8.33334	valid_0's l2: 232.906
[150]	valid_0's l1: 8.28636	valid_0's l2: 231.096
[151]	valid_0's l1: 8.23793	valid_0's l2: 229.082
[152]	valid_0's l1: 8.19156	valid_0's l2: 227.216
[153]	valid_0's l1: 8.14669	valid_0's l2: 225.518
[154]	valid_0's l1: 8.10229	valid_0's l2: 223.719
[155]	valid_0's l1: 8.05834	valid_0's l2: 222.045
[156]	valid_0's l1: 8.01417	valid_0's l2: 220.206
[157]	valid_0's l1: 7.97148	valid_0's l2: 218.597
[158]	valid_0's l1: 7.92893	valid_0's l2: 216.831
[159]	valid_0's l1: 7.88842	valid_0's l2: 215.197
[160]	valid_0's l1: 7.84754	valid_0's l2: 213.679
[161]	valid_0's l1: 7.8066	valid_0's l2: 212.012
[162]	valid_0's l1: 7.76654	valid_0's l2: 210.552
[163]	valid_0's l1: 7.72729	valid_0's l2: 209.019
[164]	valid_0's l1: 7.68788	valid_0's l2: 207.635
[165]	valid_0's l1: 7.64841	valid_0's l2: 206.053
[166]	valid_0's l1: 7.6109	valid_0's l2: 204.606
[167]	valid_0's l1: 7.57378	valid_0's l2: 203.312

[168]	valid_0's l1: 7.53564	valid_0's l2: 201.835
[169]	valid_0's l1: 7.49984	valid_0's l2: 200.62
[170]	valid_0's l1: 7.46238	valid_0's l2: 199.169
[171]	valid_0's l1: 7.427	valid_0's l2: 197.848
[172]	valid_0's l1: 7.39207	valid_0's l2: 196.675
[173]	valid_0's l1: 7.35638	valid_0's l2: 195.327
[174]	valid_0's l1: 7.32259	valid_0's l2: 194.19
[175]	valid_0's l1: 7.28897	valid_0's l2: 192.894
[176]	valid_0's l1: 7.25716	valid_0's l2: 191.681
[177]	valid_0's l1: 7.22495	valid_0's l2: 190.619
[178]	valid_0's l1: 7.19263	valid_0's l2: 189.456
[179]	valid_0's l1: 7.16066	valid_0's l2: 188.316
[180]	valid_0's l1: 7.12927	valid_0's l2: 187.143
[181]	valid_0's l1: 7.09891	valid_0's l2: 186.023
[182]	valid_0's l1: 7.06714	valid_0's l2: 184.845
[183]	valid_0's l1: 7.03788	valid_0's l2: 183.873
[184]	valid_0's l1: 7.0072	valid_0's l2: 182.759
[185]	valid_0's l1: 6.97745	valid_0's l2: 181.705
[186]	valid_0's l1: 6.94943	valid_0's l2: 180.735
[187]	valid_0's l1: 6.92027	valid_0's l2: 179.693
[188]	valid_0's l1: 6.89353	valid_0's l2: 178.818
[189]	valid_0's l1: 6.86502	valid_0's l2: 177.787
[190]	valid_0's l1: 6.8385	valid_0's l2: 176.88
[191]	valid_0's l1: 6.81104	valid_0's l2: 175.946
[192]	valid_0's l1: 6.7834	valid_0's l2: 174.967
[193]	valid_0's l1: 6.75671	valid_0's l2: 174.066
[194]	valid_0's l1: 6.73122	valid_0's l2: 173.209
[195]	valid_0's l1: 6.70483	valid_0's l2: 172.299
[196]	valid_0's l1: 6.67998	valid_0's l2: 171.46
[197]	valid_0's l1: 6.65513	valid_0's l2: 170.614
[198]	valid_0's l1: 6.63214	valid_0's l2: 169.84
[199]	valid_0's l1: 6.60829	valid_0's l2: 169.167
[200]	valid_0's l1: 6.58504	valid_0's l2: 168.51
[201]	valid_0's l1: 6.56362	valid_0's l2: 167.746
[202]	valid_0's l1: 6.54162	valid_0's l2: 167.118
[203]	valid_0's l1: 6.52005	valid_0's l2: 166.504
[204]	valid_0's l1: 6.49977	valid_0's l2: 165.781
[205]	valid_0's l1: 6.47895	valid_0's l2: 165.197
[206]	valid_0's l1: 6.45976	valid_0's l2: 164.643
[207]	valid_0's l1: 6.44056	valid_0's l2: 164.104
[208]	valid_0's l1: 6.4217	valid_0's l2: 163.426
[209]	valid_0's l1: 6.40296	valid_0's l2: 162.91
[210]	valid_0's l1: 6.3843	valid_0's l2: 162.386
[211]	valid_0's l1: 6.36698	valid_0's l2: 161.762
[212]	valid_0's l1: 6.34914	valid_0's l2: 161.278
[213]	valid_0's l1: 6.33195	valid_0's l2: 160.788
[214]	valid_0's l1: 6.31596	valid_0's l2: 160.196
[215]	valid_0's l1: 6.29943	valid_0's l2: 159.746
[216]	valid_0's l1: 6.28309	valid_0's l2: 159.289
[217]	valid_0's l1: 6.26768	valid_0's l2: 158.727
[218]	valid_0's l1: 6.2518	valid_0's l2: 158.304
[219]	valid_0's l1: 6.23686	valid_0's l2: 157.898
[220]	valid_0's l1: 6.22155	valid_0's l2: 157.366
[221]	valid_0's l1: 6.20606	valid_0's l2: 156.958
[222]	valid_0's l1: 6.19097	valid_0's l2: 156.356
[223]	valid_0's l1: 6.17625	valid_0's l2: 155.853
[224]	valid_0's l1: 6.16137	valid_0's l2: 155.342
[225]	valid_0's l1: 6.14661	valid_0's l2: 154.769
[226]	valid_0's l1: 6.13226	valid_0's l2: 154.288
[227]	valid_0's l1: 6.11749	valid_0's l2: 153.722
[228]	valid_0's l1: 6.10328	valid_0's l2: 153.248
[229]	valid_0's l1: 6.08788	valid_0's l2: 152.717
[230]	valid_0's l1: 6.07454	valid_0's l2: 152.281
[231]	valid_0's l1: 6.05925	valid_0's l2: 151.755
[232]	valid_0's l1: 6.04546	valid_0's l2: 151.234
[233]	valid_0's l1: 6.03238	valid_0's l2: 150.81
[234]	valid_0's l1: 6.01744	valid_0's l2: 150.321
[235]	valid_0's l1: 6.00471	valid_0's l2: 149.863
[236]	valid_0's l1: 5.99025	valid_0's l2: 149.388
[237]	valid_0's l1: 5.97831	valid_0's l2: 148.941
[238]	valid_0's l1: 5.9641	valid_0's l2: 148.466
[239]	valid_0's l1: 5.95233	valid_0's l2: 148.044
[240]	valid_0's l1: 5.93984	valid_0's l2: 147.59
[241]	valid_0's l1: 5.92814	valid_0's l2: 147.175
[242]	valid_0's l1: 5.91552	valid_0's l2: 146.744
[243]	valid_0's l1: 5.90494	valid_0's l2: 146.345
[244]	valid_0's l1: 5.89366	valid_0's l2: 145.913
[245]	valid_0's l1: 5.88342	valid_0's l2: 145.538
[246]	valid_0's l1: 5.87119	valid_0's l2: 145.132
[247]	valid_0's l1: 5.86089	valid_0's l2: 144.762
[248]	valid_0's l1: 5.85067	valid_0's l2: 144.389
[249]	valid_0's l1: 5.84051	valid_0's l2: 144.019
[250]	valid_0's l1: 5.8298	valid_0's l2: 143.624
[251]	valid_0's l1: 5.8205	valid_0's l2: 143.285
[252]	valid_0's l1: 5.811	valid_0's l2: 142.983
[253]	valid_0's l1: 5.80102	valid_0's l2: 142.59
[254]	valid_0's l1: 5.79201	valid_0's l2: 142.252
[255]	valid_0's l1: 5.78269	valid_0's l2: 141.955
[256]	valid_0's l1: 5.77438	valid_0's l2: 141.599
[257]	valid_0's l1: 5.76603	valid_0's l2: 141.274
[258]	valid_0's l1: 5.75783	valid_0's l2: 140.914
[259]	valid_0's l1: 5.75003	valid_0's l2: 140.611
[260]	valid_0's l1: 5.74272	valid_0's l2: 140.343
[261]	valid_0's l1: 5.73395	valid_0's l2: 139.99
[262]	valid_0's l1: 5.72733	valid_0's l2: 139.737
[263]	valid_0's l1: 5.71928	valid_0's l2: 139.454
[264]	valid_0's l1: 5.71234	valid_0's l2: 139.174
[265]	valid_0's l1: 5.70401	valid_0's l2: 138.89
[266]	valid_0's l1: 5.69615	valid_0's l2: 138.602
[267]	valid_0's l1: 5.68865	valid_0's l2: 138.329
[268]	valid_0's l1: 5.68231	valid_0's l2: 138.066
[269]	valid_0's l1: 5.67477	valid_0's l2: 137.8
[270]	valid_0's l1: 5.66705	valid_0's l2: 137.497
[271]	valid_0's l1: 5.65827	valid_0's l2: 137.179
[272]	valid_0's l1: 5.65257	valid_0's l2: 136.938
[273]	valid_0's l1: 5.64624	valid_0's l2: 136.718
[274]	valid_0's l1: 5.63883	valid_0's l2: 136.528
[275]	valid_0's l1: 5.63311	valid_0's l2: 136.29
[276]	valid_0's l1: 5.62649	valid_0's l2: 136.052
[277]	valid_0's l1: 5.61964	valid_0's l2: 135.784
[278]	valid_0's l1: 5.6131	valid_0's l2: 135.524
[279]	valid_0's l1: 5.60648	valid_0's l2: 135.314
[280]	valid_0's l1: 5.60068	valid_0's l2: 135.155
[281]	valid_0's l1: 5.59526	valid_0's l2: 134.91
[282]	valid_0's l1: 5.59003	valid_0's l2: 134.731
[283]	valid_0's l1: 5.58466	valid_0's l2: 134.583
[284]	valid_0's l1: 5.5794	valid_0's l2: 134.369
[285]	valid_0's l1: 5.57441	valid_0's l2: 134.194
[286]	valid_0's l1: 5.56771	valid_0's l2: 134.022
[287]	valid_0's l1: 5.56108	valid_0's l2: 133.854
[288]	valid_0's l1: 5.5549	valid_0's l2: 133.628
[289]	valid_0's l1: 5.54854	valid_0's l2: 133.467
[290]	valid_0's l1: 5.54273	valid_0's l2: 133.249
[291]	valid_0's l1: 5.53718	valid_0's l2: 133.073
[292]	valid_0's l1: 5.53169	valid_0's l2: 132.88
[293]	valid_0's l1: 5.52561	valid_0's l2: 132.664
[294]	valid_0's l1: 5.51986	valid_0's l2: 132.457
[295]	valid_0's l1: 5.51562	valid_0's l2: 132.309
[296]	valid_0's l1: 5.51126	valid_0's l2: 132.143
[297]	valid_0's l1: 5.50575	valid_0's l2: 131.978
[298]	valid_0's l1: 5.50022	valid_0's l2: 131.784
[299]	valid_0's l1: 5.49496	valid_0's l2: 131.625
[300]	valid_0's l1: 5.49115	valid_0's l2: 131.475
[301]	valid_0's l1: 5.48636	valid_0's l2: 131.308
[302]	valid_0's l1: 5.48157	valid_0's l2: 131.119
[303]	valid_0's l1: 5.47634	valid_0's l2: 130.932
[304]	valid_0's l1: 5.47156	valid_0's l2: 130.786
[305]	valid_0's l1: 5.46719	valid_0's l2: 130.634
[306]	valid_0's l1: 5.46319	valid_0's l2: 130.456
[307]	valid_0's l1: 5.45847	valid_0's l2: 130.3
[308]	valid_0's l1: 5.45511	valid_0's l2: 130.158
[309]	valid_0's l1: 5.45069	valid_0's l2: 129.993
[310]	valid_0's l1: 5.44639	valid_0's l2: 129.812
[311]	valid_0's l1: 5.44315	valid_0's l2: 129.655
[312]	valid_0's l1: 5.43839	valid_0's l2: 129.496
[313]	valid_0's l1: 5.43536	valid_0's l2: 129.478
[314]	valid_0's l1: 5.43197	valid_0's l2: 129.33
[315]	valid_0's l1: 5.42826	valid_0's l2: 129.178
[316]	valid_0's l1: 5.42506	valid_0's l2: 129.062
[317]	valid_0's l1: 5.4222	valid_0's l2: 128.942
[318]	valid_0's l1: 5.41853	valid_0's l2: 128.795
[319]	valid_0's l1: 5.41603	valid_0's l2: 128.658
[320]	valid_0's l1: 5.41238	valid_0's l2: 128.531
[321]	valid_0's l1: 5.40953	valid_0's l2: 128.408
[322]	valid_0's l1: 5.40707	valid_0's l2: 128.275
[323]	valid_0's l1: 5.40376	valid_0's l2: 128.114
[324]	valid_0's l1: 5.40183	valid_0's l2: 128.021
[325]	valid_0's l1: 5.39845	valid_0's l2: 127.9
[326]	valid_0's l1: 5.39585	valid_0's l2: 127.803
[327]	valid_0's l1: 5.39378	valid_0's l2: 127.681
[328]	valid_0's l1: 5.39192	valid_0's l2: 127.556
[329]	valid_0's l1: 5.38828	valid_0's l2: 127.429
[330]	valid_0's l1: 5.38554	valid_0's l2: 127.336
[331]	valid_0's l1: 5.38342	valid_0's l2: 127.218
[332]	valid_0's l1: 5.38154	valid_0's l2: 127.102
[333]	valid_0's l1: 5.3795	valid_0's l2: 126.978
[334]	valid_0's l1: 5.37783	valid_0's l2: 126.862
[335]	valid_0's l1: 5.37463	valid_0's l2: 126.751
[336]	valid_0's l1: 5.37195	valid_0's l2: 126.655
[337]	valid_0's l1: 5.36981	valid_0's l2: 126.543
[338]	valid_0's l1: 5.36791	valid_0's l2: 126.422
[339]	valid_0's l1: 5.36634	valid_0's l2: 126.436
[340]	valid_0's l1: 5.36354	valid_0's l2: 126.295
[341]	valid_0's l1: 5.36188	valid_0's l2: 126.188
[342]	valid_0's l1: 5.35945	valid_0's l2: 126.115

[343]	valid_0's l1: 5.35754	valid_0's l2: 126.049
[344]	valid_0's l1: 5.35593	valid_0's l2: 125.943
[345]	valid_0's l1: 5.35364	valid_0's l2: 125.874
[346]	valid_0's l1: 5.35278	valid_0's l2: 125.784
[347]	valid_0's l1: 5.3509	valid_0's l2: 125.704
[348]	valid_0's l1: 5.349	valid_0's l2: 125.576
[349]	valid_0's l1: 5.34744	valid_0's l2: 125.518
[350]	valid_0's l1: 5.34518	valid_0's l2: 125.454
[351]	valid_0's l1: 5.344	valid_0's l2: 125.369
[352]	valid_0's l1: 5.34175	valid_0's l2: 125.286
[353]	valid_0's l1: 5.33998	valid_0's l2: 125.161
[354]	valid_0's l1: 5.33745	valid_0's l2: 125.079
[355]	valid_0's l1: 5.33589	valid_0's l2: 125.006
[356]	valid_0's l1: 5.33432	valid_0's l2: 124.917
[357]	valid_0's l1: 5.33275	valid_0's l2: 124.858
[358]	valid_0's l1: 5.33138	valid_0's l2: 124.769
[359]	valid_0's l1: 5.32944	valid_0's l2: 124.703
[360]	valid_0's l1: 5.32731	valid_0's l2: 124.641
[361]	valid_0's l1: 5.32637	valid_0's l2: 124.555
[362]	valid_0's l1: 5.32458	valid_0's l2: 124.483
[363]	valid_0's l1: 5.324	valid_0's l2: 124.408
[364]	valid_0's l1: 5.32192	valid_0's l2: 124.348
[365]	valid_0's l1: 5.32009	valid_0's l2: 124.28
[366]	valid_0's l1: 5.31875	valid_0's l2: 124.196
[367]	valid_0's l1: 5.31716	valid_0's l2: 124.133
[368]	valid_0's l1: 5.31601	valid_0's l2: 124.052
[369]	valid_0's l1: 5.31444	valid_0's l2: 124.014
[370]	valid_0's l1: 5.31264	valid_0's l2: 123.97
[371]	valid_0's l1: 5.312	valid_0's l2: 123.899
[372]	valid_0's l1: 5.31032	valid_0's l2: 123.858
[373]	valid_0's l1: 5.30955	valid_0's l2: 123.785
[374]	valid_0's l1: 5.3079	valid_0's l2: 123.745
[375]	valid_0's l1: 5.30705	valid_0's l2: 123.67
[376]	valid_0's l1: 5.30537	valid_0's l2: 123.608
[377]	valid_0's l1: 5.30441	valid_0's l2: 123.577
[378]	valid_0's l1: 5.30334	valid_0's l2: 123.504
[379]	valid_0's l1: 5.30219	valid_0's l2: 123.47
[380]	valid_0's l1: 5.30111	valid_0's l2: 123.399
[381]	valid_0's l1: 5.29975	valid_0's l2: 123.364
[382]	valid_0's l1: 5.2978	valid_0's l2: 123.309
[383]	valid_0's l1: 5.29707	valid_0's l2: 123.218
[384]	valid_0's l1: 5.29557	valid_0's l2: 123.164
[385]	valid_0's l1: 5.29452	valid_0's l2: 123.093
[386]	valid_0's l1: 5.2932	valid_0's l2: 123.059
[387]	valid_0's l1: 5.29189	valid_0's l2: 123.027
[388]	valid_0's l1: 5.29147	valid_0's l2: 122.977
[389]	valid_0's l1: 5.29026	valid_0's l2: 122.947
[390]	valid_0's l1: 5.28979	valid_0's l2: 122.893
[391]	valid_0's l1: 5.28823	valid_0's l2: 122.855
[392]	valid_0's l1: 5.2873	valid_0's l2: 122.825
[393]	valid_0's l1: 5.28671	valid_0's l2: 122.738
[394]	valid_0's l1: 5.28534	valid_0's l2: 122.687
[395]	valid_0's l1: 5.28484	valid_0's l2: 122.636
[396]	valid_0's l1: 5.2837	valid_0's l2: 122.607
[397]	valid_0's l1: 5.28251	valid_0's l2: 122.563
[398]	valid_0's l1: 5.28169	valid_0's l2: 122.51
[399]	valid_0's l1: 5.28098	valid_0's l2: 122.486
[400]	valid_0's l1: 5.2802	valid_0's l2: 122.436
[401]	valid_0's l1: 5.27903	valid_0's l2: 122.407
[402]	valid_0's l1: 5.27788	valid_0's l2: 122.378
[403]	valid_0's l1: 5.27714	valid_0's l2: 122.328
[404]	valid_0's l1: 5.2757	valid_0's l2: 122.283
[405]	valid_0's l1: 5.27408	valid_0's l2: 122.176
[406]	valid_0's l1: 5.27248	valid_0's l2: 122.074
[407]	valid_0's l1: 5.27091	valid_0's l2: 121.971
[408]	valid_0's l1: 5.26919	valid_0's l2: 121.871
[409]	valid_0's l1: 5.26791	valid_0's l2: 121.773
[410]	valid_0's l1: 5.26618	valid_0's l2: 121.676
[411]	valid_0's l1: 5.26492	valid_0's l2: 121.58
[412]	valid_0's l1: 5.26367	valid_0's l2: 121.486
[413]	valid_0's l1: 5.26198	valid_0's l2: 121.393
[414]	valid_0's l1: 5.26106	valid_0's l2: 121.324
[415]	valid_0's l1: 5.26007	valid_0's l2: 121.27
[416]	valid_0's l1: 5.25876	valid_0's l2: 121.188
[417]	valid_0's l1: 5.25768	valid_0's l2: 121.133
[418]	valid_0's l1: 5.25658	valid_0's l2: 121.045
[419]	valid_0's l1: 5.25521	valid_0's l2: 120.964
[420]	valid_0's l1: 5.25444	valid_0's l2: 120.88
[421]	valid_0's l1: 5.2533	valid_0's l2: 120.84
[422]	valid_0's l1: 5.2528	valid_0's l2: 120.765
[423]	valid_0's l1: 5.25182	valid_0's l2: 120.73
[424]	valid_0's l1: 5.2514	valid_0's l2: 120.655
[425]	valid_0's l1: 5.25035	valid_0's l2: 120.617
[426]	valid_0's l1: 5.24957	valid_0's l2: 120.566
[427]	valid_0's l1: 5.24932	valid_0's l2: 120.493
[428]	valid_0's l1: 5.24854	valid_0's l2: 120.455
[429]	valid_0's l1: 5.24738	valid_0's l2: 120.404
[430]	valid_0's l1: 5.24684	valid_0's l2: 120.347
[431]	valid_0's l1: 5.24621	valid_0's l2: 120.276
[432]	valid_0's l1: 5.24562	valid_0's l2: 120.242
[433]	valid_0's l1: 5.24461	valid_0's l2: 120.192
[434]	valid_0's l1: 5.24415	valid_0's l2: 120.136
[435]	valid_0's l1: 5.24339	valid_0's l2: 120.103
[436]	valid_0's l1: 5.24309	valid_0's l2: 120.034
[437]	valid_0's l1: 5.24237	valid_0's l2: 119.999
[438]	valid_0's l1: 5.24111	valid_0's l2: 119.948
[439]	valid_0's l1: 5.24039	valid_0's l2: 119.893
[440]	valid_0's l1: 5.23971	valid_0's l2: 119.844
[441]	valid_0's l1: 5.23948	valid_0's l2: 119.794
[442]	valid_0's l1: 5.2392	valid_0's l2: 119.725
[443]	valid_0's l1: 5.23872	valid_0's l2: 119.696
[444]	valid_0's l1: 5.23774	valid_0's l2: 119.646
[445]	valid_0's l1: 5.23724	valid_0's l2: 119.594
[446]	valid_0's l1: 5.23606	valid_0's l2: 119.561
[447]	valid_0's l1: 5.23512	valid_0's l2: 119.511
[448]	valid_0's l1: 5.23493	valid_0's l2: 119.461
[449]	valid_0's l1: 5.23438	valid_0's l2: 119.392
[450]	valid_0's l1: 5.23345	valid_0's l2: 119.354
[451]	valid_0's l1: 5.23287	valid_0's l2: 119.308
[452]	valid_0's l1: 5.23203	valid_0's l2: 119.233
[453]	valid_0's l1: 5.2315	valid_0's l2: 119.189
[454]	valid_0's l1: 5.23095	valid_0's l2: 119.136
[455]	valid_0's l1: 5.23034	valid_0's l2: 119.105
[456]	valid_0's l1: 5.22996	valid_0's l2: 119.037
[457]	valid_0's l1: 5.22953	valid_0's l2: 119.009
[458]	valid_0's l1: 5.2288	valid_0's l2: 118.96
[459]	valid_0's l1: 5.22847	valid_0's l2: 118.894
[460]	valid_0's l1: 5.22774	valid_0's l2: 118.845
[461]	valid_0's l1: 5.22718	valid_0's l2: 118.794
[462]	valid_0's l1: 5.22678	valid_0's l2: 118.725
[463]	valid_0's l1: 5.22634	valid_0's l2: 118.696
[464]	valid_0's l1: 5.22567	valid_0's l2: 118.664
[465]	valid_0's l1: 5.22517	valid_0's l2: 118.622
[466]	valid_0's l1: 5.22466	valid_0's l2: 118.573
[467]	valid_0's l1: 5.2241	valid_0's l2: 118.527
[468]	valid_0's l1: 5.22382	valid_0's l2: 118.462
[469]	valid_0's l1: 5.22338	valid_0's l2: 118.412
[470]	valid_0's l1: 5.22282	valid_0's l2: 118.382
[471]	valid_0's l1: 5.22223	valid_0's l2: 118.336
[472]	valid_0's l1: 5.22204	valid_0's l2: 118.273
[473]	valid_0's l1: 5.22144	valid_0's l2: 118.242
[474]	valid_0's l1: 5.22121	valid_0's l2: 118.178
[475]	valid_0's l1: 5.22077	valid_0's l2: 118.151
[476]	valid_0's l1: 5.22003	valid_0's l2: 118.107
[477]	valid_0's l1: 5.21946	valid_0's l2: 118.057
[478]	valid_0's l1: 5.21898	valid_0's l2: 118.015
[479]	valid_0's l1: 5.21873	valid_0's l2: 117.951
[480]	valid_0's l1: 5.21818	valid_0's l2: 117.925
[481]	valid_0's l1: 5.21774	valid_0's l2: 117.86
[482]	valid_0's l1: 5.21675	valid_0's l2: 117.83
[483]	valid_0's l1: 5.21589	valid_0's l2: 117.788
[484]	valid_0's l1: 5.21565	valid_0's l2: 117.724
[485]	valid_0's l1: 5.21501	valid_0's l2: 117.684
[486]	valid_0's l1: 5.21451	valid_0's l2: 117.621
[487]	valid_0's l1: 5.21342	valid_0's l2: 117.582
[488]	valid_0's l1: 5.213	valid_0's l2: 117.519
[489]	valid_0's l1: 5.21217	valid_0's l2: 117.484
[490]	valid_0's l1: 5.21142	valid_0's l2: 117.441
[491]	valid_0's l1: 5.21095	valid_0's l2: 117.37
[492]	valid_0's l1: 5.21018	valid_0's l2: 117.319
[493]	valid_0's l1: 5.21005	valid_0's l2: 117.26
[494]	valid_0's l1: 5.20903	valid_0's l2: 117.223
[495]	valid_0's l1: 5.20848	valid_0's l2: 117.151
[496]	valid_0's l1: 5.20783	valid_0's l2: 117.127
[497]	valid_0's l1: 5.2071	valid_0's l2: 117.076
[498]	valid_0's l1: 5.20697	valid_0's l2: 117.025
[499]	valid_0's l1: 5.20701	valid_0's l2: 116.991
[500]	valid_0's l1: 5.20609	valid_0's l2: 116.964
[501]	valid_0's l1: 5.20617	valid_0's l2: 116.927
[502]	valid_0's l1: 5.2055	valid_0's l2: 116.909
[503]	valid_0's l1: 5.20584	valid_0's l2: 116.875
[504]	valid_0's l1: 5.20484	valid_0's l2: 116.838
[505]	valid_0's l1: 5.20391	valid_0's l2: 116.805
[506]	valid_0's l1: 5.2038	valid_0's l2: 116.754
[507]	valid_0's l1: 5.20288	valid_0's l2: 116.721
[508]	valid_0's l1: 5.20226	valid_0's l2: 116.691
[509]	valid_0's l1: 5.20211	valid_0's l2: 116.634
[510]	valid_0's l1: 5.20199	valid_0's l2: 116.579
[511]	valid_0's l1: 5.20144	valid_0's l2: 116.564
[512]	valid_0's l1: 5.20152	valid_0's l2: 116.527
[513]	valid_0's l1: 5.20068	valid_0's l2: 116.503
[514]	valid_0's l1: 5.19989	valid_0's l2: 116.47
[515]	valid_0's l1: 5.1999	valid_0's l2: 116.423
[516]	valid_0's l1: 5.19914	valid_0's l2: 116.394
[517]	valid_0's l1: 5.19847	valid_0's l2: 116.365
[518]	valid_0's l1: 5.19824	valid_0's l2: 116.308
[519]	valid_0's l1: 5.19815	valid_0's l2: 116.256

[520]	valid_0's l1: 5.19795	valid_0's l2: 116.245
[521]	valid_0's l1: 5.19809	valid_0's l2: 116.209
[522]	valid_0's l1: 5.1976	valid_0's l2: 116.189
[523]	valid_0's l1: 5.19668	valid_0's l2: 116.159
[524]	valid_0's l1: 5.19673	valid_0's l2: 116.101
[525]	valid_0's l1: 5.19661	valid_0's l2: 116.089
[526]	valid_0's l1: 5.19569	valid_0's l2: 116.046
[527]	valid_0's l1: 5.19605	valid_0's l2: 116.003
[528]	valid_0's l1: 5.19608	valid_0's l2: 115.944
[529]	valid_0's l1: 5.19527	valid_0's l2: 115.922
[530]	valid_0's l1: 5.19452	valid_0's l2: 115.895
[531]	valid_0's l1: 5.19407	valid_0's l2: 115.858
[532]	valid_0's l1: 5.19434	valid_0's l2: 115.812
[533]	valid_0's l1: 5.19356	valid_0's l2: 115.769
[534]	valid_0's l1: 5.19411	valid_0's l2: 115.739
[535]	valid_0's l1: 5.19414	valid_0's l2: 115.687
[536]	valid_0's l1: 5.19369	valid_0's l2: 115.659
[537]	valid_0's l1: 5.19377	valid_0's l2: 115.62
[538]	valid_0's l1: 5.19342	valid_0's l2: 115.61
[539]	valid_0's l1: 5.19352	valid_0's l2: 115.543
[540]	valid_0's l1: 5.19293	valid_0's l2: 115.516
[541]	valid_0's l1: 5.19269	valid_0's l2: 115.455
[542]	valid_0's l1: 5.19236	valid_0's l2: 115.382
[543]	valid_0's l1: 5.19191	valid_0's l2: 115.308
[544]	valid_0's l1: 5.19189	valid_0's l2: 115.248
[545]	valid_0's l1: 5.19184	valid_0's l2: 115.18
[546]	valid_0's l1: 5.1916	valid_0's l2: 115.114
[547]	valid_0's l1: 5.19116	valid_0's l2: 115.046
[548]	valid_0's l1: 5.19102	valid_0's l2: 114.994
[549]	valid_0's l1: 5.19092	valid_0's l2: 114.926
[550]	valid_0's l1: 5.19084	valid_0's l2: 114.866
[551]	valid_0's l1: 5.19065	valid_0's l2: 114.804
[552]	valid_0's l1: 5.19074	valid_0's l2: 114.745
[553]	valid_0's l1: 5.19084	valid_0's l2: 114.696
[554]	valid_0's l1: 5.19057	valid_0's l2: 114.632
[555]	valid_0's l1: 5.19075	valid_0's l2: 114.581
[556]	valid_0's l1: 5.19079	valid_0's l2: 114.526
[557]	valid_0's l1: 5.19075	valid_0's l2: 114.467
[558]	valid_0's l1: 5.19084	valid_0's l2: 114.413
[559]	valid_0's l1: 5.19087	valid_0's l2: 114.361
Early stopping, best iteration is:
[554]	valid_0's l1: 5.19057	valid_0's l2: 114.632
______________________________________________________________________________
LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       importance_type='split', learning_rate=0.01, max_depth=-1,
       min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
       n_estimators=1000, n_jobs=-1, num_leaves=31, objective=None,
       random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
       subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
______________________________________________________________________________
EV score. Train:  0.9589521676386353
EV score. Test:  0.9386451455694743
---------
R2 score. Train:  0.9589521676386353
R2 score. Test:  0.9386082622903216
---------
MSE score. Train:  81.63597791463536
MSE score. Test:  122.52294137508669
---------
MAE score. Train:  4.838066066625082
MAE score. Test:  5.5666939039882415
---------
MdAE score. Train:  2.372482775353869
MdAE score. Test:  2.9245108115633878

<a id = '2.5'></a>
[Return to top](#top)
## 2.6 KNeighborsRegressor, RadiusNeighborsRegressor

In [164]:
kn_reg = KNeighborsRegressor(n_neighbors=15)
kn_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(kn_reg, X_train, X_val, y_train)
scores(kn_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=15, p=2,
          weights='uniform')
______________________________________________________________________________
EV score. Train:  0.8788201260222026
EV score. Test:  0.8510219200568501
---------
R2 score. Train:  0.8788186529821859
R2 score. Test:  0.85099129024237
---------
MSE score. Train:  241.00560735390675
MSE score. Test:  297.38505686789154
---------
MAE score. Train:  9.043838914423286
MAE score. Test:  9.609448818897638
---------
MdAE score. Train:  5.800000000000001
MdAE score. Test:  6.266666666666664

In [165]:
rn_reg = RadiusNeighborsRegressor()
rn_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(rn_reg, X_train, X_val, y_train)
scores(rn_reg, y_train, y_val, y_train_reg, y_val_reg)

/anaconda3/lib/python3.7/site-packages/sklearn/neighbors/regression.py:327: UserWarning: One or more samples have no neighbors within specified radius; predicting NaN.
  warnings.warn(empty_warning_msg)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

<a id = '2.6'></a>
[Return to top](#top)
## 2.7 DecisionTreeRegressor

In [166]:
dt_reg = DecisionTreeRegressor()
dt_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(dt_reg, X_train, X_val, y_train)
scores(dt_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')
______________________________________________________________________________
EV score. Train:  1.0
EV score. Test:  0.9205177432206231
---------
R2 score. Train:  1.0
R2 score. Test:  0.9205137529679716
---------
MSE score. Train:  0.0
MSE score. Test:  158.63517060367454
---------
MAE score. Train:  0.0
MAE score. Test:  7.044619422572178
---------
MdAE score. Train:  0.0
MdAE score. Test:  4.0

<a id = '2.7'></a>
[Return to top](#top)
## 2.8 Ridge, RidgeCV, BayesianRidge

In [167]:
rid_reg = Ridge()
rid_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(rid_reg, X_train, X_val, y_train)
scores(rid_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)
______________________________________________________________________________
EV score. Train:  0.9145347104027429
EV score. Test:  0.882768654058932
---------
R2 score. Train:  0.9145347104027429
R2 score. Test:  0.8827680888111018
---------
MSE score. Train:  169.9734697951207
MSE score. Test:  233.96631399834618
---------
MAE score. Train:  7.46700585346394
MAE score. Test:  8.075628439716919
---------
MdAE score. Train:  4.585740758048404
MdAE score. Test:  4.786096187970363

In [168]:
ric_reg = RidgeCV()
ric_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(ric_reg, X_train, X_val, y_train)
scores(ric_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=None, fit_intercept=True,
    gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)
______________________________________________________________________________
EV score. Train:  0.9145408245979972
EV score. Test:  0.8827918055209272
---------
R2 score. Train:  0.9145408245979972
R2 score. Test:  0.8827912307626803
---------
MSE score. Train:  169.9613098763129
MSE score. Test:  233.92012830492345
---------
MAE score. Train:  7.471854301634164
MAE score. Test:  8.084360713438809
---------
MdAE score. Train:  4.589682625790569
MdAE score. Test:  4.772476909789841

In [169]:
br_reg = BayesianRidge()
br_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(br_reg, X_train, X_val, y_train)
scores(br_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, tol=0.001, verbose=False)
______________________________________________________________________________
EV score. Train:  0.9145400405534609
EV score. Test:  0.8827858697472574
---------
R2 score. Train:  0.9145400405534609
R2 score. Test:  0.8827852978420795
---------
MSE score. Train:  169.9628691850211
MSE score. Test:  233.93196896801706
---------
MAE score. Train:  7.470338527172346
MAE score. Test:  8.081688849244465
---------
MdAE score. Train:  4.587430666085272
MdAE score. Test:  4.764661097083625

<a id = '2.8'></a>
[Return to top](#top)
## 2.9 HuberRegressor, TheilSenRegressor, RANSACRegressor

In [172]:
hu_reg = HuberRegressor()
hu_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(hu_reg, X_train, X_val, y_train)
scores(hu_reg, y_train, y_val, y_train_reg, y_val_reg)

ValueError: HuberRegressor convergence failed: l-BFGS-b solver terminated with ABNORMAL_TERMINATION_IN_LNSRCH

In [173]:
ts_reg = TheilSenRegressor()
ts_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(ts_reg, X_train, X_val, y_train)
scores(ts_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
TheilSenRegressor(copy_X=True, fit_intercept=True, max_iter=300,
         max_subpopulation=10000, n_jobs=None, n_subsamples=None,
         random_state=None, tol=0.001, verbose=False)
______________________________________________________________________________
EV score. Train:  0.9140037764667392
EV score. Test:  0.8816885743768864
---------
R2 score. Train:  0.913968955575851
R2 score. Test:  0.8816661051029172
---------
MSE score. Train:  171.09864366902104
MSE score. Test:  236.16560482006412
---------
MAE score. Train:  7.265004004882804
MAE score. Test:  7.841129494372931
---------
MdAE score. Train:  4.303513460283774
MdAE score. Test:  4.408136681506226

In [174]:
ran_reg = RANSACRegressor()
ran_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(ran_reg, X_train, X_val, y_train)
scores(ran_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
RANSACRegressor(base_estimator=None, is_data_valid=None, is_model_valid=None,
        loss='absolute_loss', max_skips=inf, max_trials=100,
        min_samples=None, random_state=None, residual_threshold=None,
        stop_n_inliers=inf, stop_probability=0.99, stop_score=inf)
______________________________________________________________________________
EV score. Train:  -1.4966453012597644e+24
EV score. Test:  -1.4639210852020116e+24
---------
R2 score. Train:  -1.712540040434718e+24
R2 score. Test:  -1.669921956472948e+24
---------
MSE score. Train:  3.405901673152552e+27
MSE score. Test:  3.332757103919688e+27
---------
MAE score. Train:  20721286507857.785
MAE score. Test:  20276279657685.297
---------
MdAE score. Train:  3.23046875
MdAE score. Test:  3.640625

<a id = '2.9'></a>
[Return to top](#top)
## 2.10 MLPRegressor

In [175]:
mlp_reg = MLPRegressor(max_iter=3000)
mlp_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(mlp_reg, X_train, X_val, y_train)
scores(mlp_reg, y_train, y_val, y_train_reg, y_val_reg)

/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

______________________________________________________________________________
MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=3000, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.9808386218201977
EV score. Test:  0.9487174518816162
---------
R2 score. Train:  0.9808074545491883
R2 score. Test:  0.9486641365827317
---------
MSE score. Train:  38.1701572632328
MSE score. Test:  102.45386787482674
---------
MAE score. Train:  3.966820190595234
MAE score. Test:  6.041489458745662
---------
MdAE score. Train:  2.4904955212390756
MdAE score. Test:  3.8125986496018864

<a id = '2.10'></a>
[Return to top](#top)
## 2.11 SVR

In [176]:

svr_reg = SVR(degree = 7)
svr_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(svr_reg, X_train, X_val, y_train)
scores(svr_reg, y_train, y_val, y_train_reg, y_val_reg)

/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

______________________________________________________________________________
SVR(C=1.0, cache_size=200, coef0=0.0, degree=7, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)
______________________________________________________________________________
EV score. Train:  0.3099166488249139
EV score. Test:  0.2921215679782172
---------
R2 score. Train:  0.20836396906827515
R2 score. Test:  0.19344291444113937
---------
MSE score. Train:  1574.4066816643797
MSE score. Test:  1609.6913069461746
---------
MAE score. Train:  17.07964623542133
MAE score. Test:  16.873520880698724
---------
MdAE score. Train:  3.243198098022847
MdAE score. Test:  3.6300865944170266

<a id = '3'></a>
[Return to top](#top)
# 3. Tuning hyperparameters

We will use one ensemble method: random forest.

<a id = '3.1'></a>
[Return to top](#top)
## 3.1 Tuning random forests

In [179]:
rf_params = {"n_estimators": np.arange(40,2000,20)}

In [180]:
rf_reg = RandomForestRegressor()
regs = GridSearchCV(rf_reg, rf_params)
regs.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(regs, X_train, X_val, y_train)
print(regs.best_estimator_)
scores(regs, y_train, y_val, y_train_reg, y_val_reg)

/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1140, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)
______________________________________________________________________________
GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': array([  40,   60, ..., 1960, 1980])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)
______________________________________________________________________________
EV score. Train:  0.992661440958738
EV score. Test:  0.955325546534792
---------
R2 score. Train:  0.9926613376981053
R2 score. Test:  0.9553077481068752
---------
MSE score. Train:  14.59514033107212
MSE score. Test:  89.19483896215998
---------
MAE score. Train:  2.0561633894322147
MAE score. Test:  5.260255790394622
---------
MdAE score. Train:  1.0083333333333337
MdAE score. Test:  2.644298245614035

In [181]:
rf_reg = RandomForestRegressor(n_estimators=1140)
rf_reg.fit(X_trainn, y_trainn)
y_trainn_reg, y_test_reg = regression(rf_reg, X_trainn, X_test, y_trainn)
scores(rf_reg, y_trainn, y_test, y_trainn_reg, y_test_reg)

______________________________________________________________________________
RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1140, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.9932817452476971
EV score. Test:  0.9523165082641395
---------
R2 score. Train:  0.9932815512677632
R2 score. Test:  0.9523163096763901
---------
MSE score. Train:  13.371063414227649
MSE score. Test:  93.30776531434365
---------
MAE score. Train:  2.0049282212885156
MAE score. Test:  5.288408521303259
---------
MdAE score. Train:  0.992543859649123
MdAE score. Test:  2.7214912280701755

Now it is time to train and save the model.

In [182]:
rf_reg_final = RandomForestRegressor(n_estimators=1140)
rf_reg_final.fit(X, y)

NameError: name 'pickle' is not defined

In [183]:
import pickle
pickle.dump(rf_reg_final, open('/Users/CatLover/Documents/DataScience/BostonCrime/final_predictor.p','wb'))