<a id = 'top'></a>

# Crime in Boston, Revisited (Version 1.0)

**Ying Zhou**

**Table of contents**

[1.Data wrangling](#1)

[1.1 Exploration](#1.1)

[1.2 Removing irrelevant columns](#1.2)

[1.3 Process location data](#1.3)

[1.4 Process time](#1.4)

[1.5 Remove non-crimes](#1.5)

[1.6 Combine the two dataframes](#1.6)

[2.Regressions](#2)

[2.1 Preparation](#2.1)

Now let's return to the problem of crime in Boston. This time we will predict the amount of crimes, do some validation and finally use all my data to make the prediction about crime in Boston in the future. We won't do preliminary analysis any more because especially for the last 3-4 years I think this is already explored in details in the last project.

Again let's first import the usual packages.

In [42]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

Since we need to do some machine learning let's import regression-related parts of sklearn too. However this local computer can not handle deep learning which is why we won't import Keras. If necessary we will do some regression on Google Colab.

In [43]:
from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.preprocessing import OneHotEncoder, StandardScaler, RobustScaler

from sklearn.metrics import mean_squared_error, median_absolute_error, mean_absolute_error
from sklearn.metrics import r2_score, explained_variance_score
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.ensemble import BaggingRegressor, AdaBoostRegressor, ExtraTreesRegressor

from sklearn.neighbors import KNeighborsRegressor, RadiusNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.linear_model import Ridge, RidgeCV, BayesianRidge
from sklearn.linear_model import HuberRegressor, TheilSenRegressor, RANSACRegressor

from sklearn.neural_network import MLPRegressor

Since we need to draw graphs we need to write our multiliner function here which can help us leave more room for tick labels if the tick labels are really long.

In [44]:
def multiliner(string_list, n):
    length = len(string_list)
    for i in range(length):
        rem = i % n
        string_list[i] = '\n' * rem + string_list[i]
    return string_list

Time to get the data!

In [45]:
new_url = 'https://og-production-open-data-bostonma-892364687672.s3.amazonaws.com/resources/12cb3883-56f5-47de-afa5-3b1cf61b257b/tmp1p_14w73.csv?Signature=hTv6kOtEmk7LU%2FyPwJOZQRPcoaI%3D&Expires=1562293070&AWSAccessKeyId=AKIAJJIENTAPKHZMIPXQ'
old_url = 'https://og-production-open-data-bostonma-892364687672.s3.amazonaws.com/resources/ba5ed0e2-e901-438c-b2e0-4acfc3c452b9/crime-incident-reports-july-2012-august-2015-source-legacy-system.csv?Signature=Pbn3ZMyGYO0c3aoiQWD%2FS3N%2FqXE%3D&Expires=1562293047&AWSAccessKeyId=AKIAJJIENTAPKHZMIPXQ'

In [46]:
df_new = pd.read_csv(new_url)
df_old = pd.read_csv(old_url)

[Return to top](#top)
<a id = '1'></a>
# 1. Data Wrangling

<a id = '1.1'></a>
[Return to top](#top)
## 1.1 Exploration

In [47]:
df_new.shape

(400303, 17)

In [48]:
df_old.head()

,COMPNOS,NatureCode,INCIDENT_TYPE_DESCRIPTION,MAIN_CRIMECODE,REPTDISTRICT,REPORTINGAREA,FROMDATE,WEAPONTYPE,Shooting,DOMESTIC,SHIFT,Year,Month,DAY_WEEK,UCRPART,X,Y,STREETNAME,XSTREETNAME,Location
0,120420285.0,BERPTA,RESIDENTIAL BURGLARY,05RB,D4,629,07/08/2012 06:00:00 AM,Other,No,No,Last,2012,7,Sunday,Part One,763273.1791,2951498.962,ABERDEEN ST,NaN,"(42.34638135, -71.10379454)"
1,120419202.0,PSHOT,AGGRAVATED ASSAULT,04xx,B2,327,07/08/2012 06:03:00 AM,Firearm,Yes,No,Last,2012,7,Sunday,Part One,771223.1638,2940772.099,HOWARD AV,NaN,"(42.31684135, -71.07458456)"
2,120419213.0,ARMROB,ROBBERY,03xx,D4,625,07/08/2012 06:26:00 AM,Firearm,No,No,Last,2012,7,Sunday,Part One,765118.8605,2950217.536,JERSEY ST,QUEENSBERRY ST,"(42.34284135, -71.09698955)"
3,120419223.0,ALARMC,COMMERCIAL BURGLARY,05CB,B2,258,07/08/2012 06:56:00 AM,Other,No,No,Last,2012,7,Sunday,Part One,773591.8648,2940638.174,COLUMBIA RD,NaN,"(42.3164411, -71.06582908)"
4,120419236.0,ARMROB,ROBBERY,03xx,E18,496,07/08/2012 07:15:00 AM,Firearm,No,No,Last,2012,7,Sunday,Part One,759042.7315,2923832.681,COLLINS ST,NaN,"(42.27051636, -71.11989955)"

In [49]:
df_new.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192050967,1845,Drug Violation,DRUGS - POSS CLASS D,E13,510,NaN,2019-07-03 21:58:00,2019,7,Wednesday,21,Part Two,WASHINGTON ST,42.300555,-71.113124,"(42.30055518, -71.11312439)"
1,I192050964,2914,Violations,VAL - OPERATING W/O AUTHORIZATION LAWFUL,B2,320,NaN,2019-07-01 15:00:00,2019,7,Monday,15,Part Two,HOWLAND ST,42.311659,-71.084244,"(42.31165937, -71.08424352)"
2,I192050961,3115,Investigate Person,INVESTIGATE PERSON,E13,574,NaN,2019-07-03 16:00:00,2019,7,Wednesday,16,Part Three,WASHINGTON ST,42.309719,-71.104294,"(42.30971857, -71.10429432)"
3,I192050958,2907,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,329,NaN,2019-07-03 18:47:00,2019,7,Wednesday,18,Part Two,COLUMBIA RD,NaN,NaN,"(0.00000000, 0.00000000)"
4,I192050957,3115,Investigate Person,INVESTIGATE PERSON,B3,441,NaN,2019-07-03 20:48:00,2019,7,Wednesday,20,Part Three,KINGSDALE ST,42.294787,-71.082069,"(42.29478707, -71.08206875)"

In [50]:
df_old.shape

(268056, 20)

In [51]:
df_new.dtypes

INCIDENT_NUMBER         object
OFFENSE_CODE             int64
OFFENSE_CODE_GROUP      object
OFFENSE_DESCRIPTION     object
DISTRICT                object
REPORTING_AREA          object
SHOOTING                object
OCCURRED_ON_DATE        object
YEAR                     int64
MONTH                    int64
DAY_OF_WEEK             object
HOUR                     int64
UCR_PART                object
STREET                  object
Lat                    float64
Long                   float64
Location                object
dtype: object

In [52]:
df_old.dtypes

COMPNOS                      float64
NatureCode                    object
INCIDENT_TYPE_DESCRIPTION     object
MAIN_CRIMECODE                object
REPTDISTRICT                  object
REPORTINGAREA                  int64
FROMDATE                      object
WEAPONTYPE                    object
Shooting                      object
DOMESTIC                      object
SHIFT                         object
Year                           int64
Month                          int64
DAY_WEEK                      object
UCRPART                       object
X                            float64
Y                            float64
STREETNAME                    object
XSTREETNAME                   object
Location                      object
dtype: object

We are very interested in knowing whether the `Lat` / `Long` / `Location` data contains de facto NaN values that aren't labelled as NaN.

In [53]:
df_new['Lat'].value_counts()

 42.348624    1598
 42.361839    1559
 42.284826    1378
 42.328663    1281
 42.256216    1193
 42.297555    1043
 42.341288     961
 42.331521     961
-1.000000      900
 42.335119     879
 42.352312     834
 42.326966     827
 42.309719     816
 42.339542     810
 42.332108     785
 42.326968     782
 42.355123     761
 42.334018     699
 42.342850     680
 42.298489     679
 42.310434     662
 42.334288     649
 42.350959     623
 42.349802     621
 42.333679     619
 42.366435     606
 42.356024     599
 42.370818     594
 42.352418     586
 42.287094     582
              ...
 42.380392       1
 42.288707       1
 42.326103       1
 42.343468       1
 42.311653       1
 42.294600       1
 42.263175       1
 42.317088       1
 42.357355       1
 42.323489       1
 42.333038       1
 42.246237       1
 42.309143       1
 42.340034       1
 42.343208       1
 42.279179       1
 42.284756       1
 42.288496       1
 42.285579       1
 42.357968       1
 42.358003       1
 42.328330       1
 42.375327       1
 42.360344       1
 42.283714       1
 42.359687       1
 42.323371       1
 42.374534       1
 42.335942       1
 42.262149       1
Name: Lat, Length: 18748, dtype: int64

In [54]:
df_new['Long'].value_counts()

-71.082776    1598
-71.059765    1559
-71.091374    1378
-71.085634    1281
-71.124019    1193
-71.059709    1043
-71.070853     961
-71.054679     961
-1.000000      900
-71.074917     879
-71.063705     834
-71.061986     827
-71.104294     816
-71.069409     810
-71.070144     785
-71.080519     782
-71.060880     761
-71.076381     699
-71.065162     680
-71.063133     679
-71.061340     662
-71.072395     649
-71.074128     623
-71.078410     621
-71.091878     619
-71.061354     606
-71.061776     599
-71.039291     594
-71.065255     586
-71.148221     582
              ...
-71.088581       1
-71.084728       1
-71.106536       1
-71.132829       1
-71.106284       1
-71.064111       1
-71.152344       1
-71.062647       1
-71.162773       1
-71.054967       1
-71.081935       1
-71.082857       1
-71.058820       1
-71.151501       1
-71.055437       1
-71.128799       1
-71.097507       1
-71.136649       1
-71.139443       1
-71.133923       1
-71.030921       1
-71.119221       1
-71.135366       1
-71.128878       1
-71.124694       1
-71.058186       1
-71.078473       1
-71.065791       1
-71.123170       1
-71.121616       1
Name: Long, Length: 18750, dtype: int64

In [55]:
df_new['Location'].value_counts()

(0.00000000, 0.00000000)       25626
(42.34862382, -71.08277637)     1598
(42.36183857, -71.05976489)     1559
(42.28482577, -71.09137369)     1378
(42.32866284, -71.08563401)     1281
(42.25621592, -71.12401947)     1193
(42.29755533, -71.05970910)     1043
(42.34128751, -71.05467933)      961
(42.33152148, -71.07085307)      961
(-1.00000000, -1.00000000)       900
(42.33511904, -71.07491710)      879
(42.35231190, -71.06370510)      834
(42.32696647, -71.06198607)      827
(42.30971857, -71.10429432)      816
(42.33954199, -71.06940877)      810
(42.33210843, -71.07014395)      785
(42.32696802, -71.08051941)      782
(42.35512339, -71.06087980)      761
(42.33401829, -71.07638124)      699
(42.34285014, -71.06516235)      680
(42.29848866, -71.06313294)      679
(42.31043400, -71.06134010)      662
(42.33428841, -71.07239518)      649
(42.35095909, -71.07412780)      623
(42.34980175, -71.07840978)      621
(42.33367922, -71.09187755)      619
(42.36643546, -71.06135413)      606
(42.35602373, -71.06177615)      599
(42.37081805, -71.03929078)      594
(42.35241815, -71.06525499)      586
                               ...
(42.27059727, -71.12099595)        1
(42.24159056, -71.14077174)        1
(42.35400168, -71.14860816)        1
(42.38173112, -71.01439143)        1
(42.32818615, -71.08153985)        1
(42.28726693, -71.07032790)        1
(42.28674619, -71.10541596)        1
(42.36490965, -71.06240479)        1
(42.34565309, -71.07032191)        1
(42.29288099, -71.15029269)        1
(42.30941623, -71.11367541)        1
(42.33756637, -71.10539031)        1
(42.27204294, -71.16709396)        1
(42.33871332, -71.09801779)        1
(42.29916017, -71.11014131)        1
(42.35410702, -71.06224654)        1
(42.30959325, -71.06724099)        1
(42.28702400, -71.09361800)        1
(42.28320411, -71.15528977)        1
(42.29183081, -71.14055397)        1
(42.28315864, -71.09555569)        1
(42.29309390, -71.04967940)        1
(42.30013310, -71.12780530)        1
(42.28435502, -71.09768871)        1
(42.31757205, -71.08445525)        1
(42.35183419, -71.11076425)        1
(42.25761854, -71.11600263)        1
(42.33016051, -71.04738362)        1
(42.32272435, -71.08201106)        1
(42.24790860, -71.11382466)        1
Name: Location, Length: 18767, dtype: int64

Other than the (0,0)s and (-1,-1)s they are mostly reasonable. So I think we will do a filter and treat completely absurd outliers as NAs.

In [56]:
df_old['Location'].value_counts()

(0.0, 0.0)                               14981
(42.3286598, -71.08561842)                1506
(42.32543556, -71.06387302)               1008
(42.28486136, -71.09132455)                843
(42.34130529, -71.0547108)                 735
(42.31037135, -71.06123456)                714
(42.34865634, -71.08256955)                699
(42.29754136, -71.05973457)                695
(42.36164815, -71.05998657)                675
(42.33950635, -71.06938956)                635
(42.25642136, -71.12394954)                624
(42.35237134, -71.06490456)                597
(42.33325635, -71.07289955)                595
(42.35230134, -71.06367456)                580
(42.33372337, -71.09095643)                532
(42.28714136, -71.14857453)                463
(42.34898135, -71.15091453)                431
(42.32723569, -71.08059616)                426
(42.35505634, -71.06084456)                425
(42.30972244, -71.10427304)                416
(42.34710135, -71.07960455)                397
(42.35075635, -71.07485456)                389
(42.33151135, -71.07083456)                359
(42.29602136, -71.07718456)                339
(42.33109591, -71.09038894)                329
(42.37124634, -71.03886957)                328
(42.28405295, -71.11241077)                320
(42.34671135, -71.08008456)                316
(42.29848136, -71.06315456)                312
(42.35925134, -71.05941456)                310
                                         ...
(42.2733107703967, -71.1003335915217)        1
(42.3018105180949, -71.0562280382302)        1
(42.2536971006851, -71.1173850981726)        1
(42.26360636, -71.15027953)                  1
(42.35140135, -71.07045956)                  1
(42.2824673172293, -71.1665276390891)        1
(42.34924635, -71.16041953)                  1
(42.29942136, -71.06157957)                  1
(42.24277967, -71.12583395)                  1
(42.2841989485107, -71.0544074893593)        1
(42.23834347, -71.1361112)                   1
(42.36446787, -71.05841172)                  1
(42.3243297422154, -71.0961347015959)        1
(42.2861860693745, -71.1387671283035)        1
(42.3247452402233, -71.0685100531142)        1
(42.36558134, -71.03043958)                  1
(42.2657179223887, -71.0999580658013)        1
(42.31175136, -71.11124955)                  1
(42.3457854153638, -71.082294188968)         1
(42.33809135, -71.03801958)                  1
(42.29367136, -71.06700956)                  1
(42.33867135, -71.09714455)                  1
(42.32549135, -71.10134955)                  1
(42.26927428, -71.17112084)                  1
(42.31121136, -71.06267957)                  1
(42.32609135, -71.10035455)                  1
(42.33352635, -71.11019454)                  1
(42.27770136, -71.07831956)                  1
(42.34478279, -71.07911903)                  1
(42.3268518338011, -71.055744404898)         1
Name: Location, Length: 23199, dtype: int64

<a id = '1.2'></a>
[Return to top](#top)
## 1.2 Removing irrelevant columns

As usual we will filter out what's irrelevant. For example I haven't figured out what an RA number actually is. As for `X` and `Y` in the old table they are also irrelevant so we will get rid of them.

In [57]:
df_old_simplified = df_old[['INCIDENT_TYPE_DESCRIPTION', 'FROMDATE', 'Year' ,'Month', 'DAY_WEEK', 'UCRPART', 'STREETNAME', 'Location']]

In [58]:
df_old_simplified['INCIDENT_TYPE_DESCRIPTION'].value_counts()

VAL                                 27363
OTHER LARCENY                       24443
SIMPLE ASSAULT                      17697
MedAssist                           17128
MVAcc                               13832
VANDALISM                           13339
InvPer                              12937
LARCENY FROM MOTOR VEHICLE          12742
DRUG CHARGES                        12042
FRAUD                                8742
PropLost                             8522
TOWED                                7526
RESIDENTIAL BURGLARY                 6737
InvProp                              6592
AGGRAVATED ASSAULT                   5649
Service                              5353
ROBBERY                              4974
PersLoc                              4745
AUTO THEFT                           4620
PropFound                            4316
Argue                                2833
Arrest                               1959
OTHER                                1902
FIRE                                 1848
DISORDERLY                           1827
PhoneCalls                           1525
COMMERCIAL BURGLARY                  1497
Motor Vehicle Accident Response      1399
BENoProp                             1367
FORGERY                              1296
                                    ...
Landlord/Tenant Disputes               36
HateCrim                               35
Indecent Assault                       34
License Plate Related Incidents        34
ARSON                                  30
Runaway                                30
Auto Theft Recovery                    29
Assembly or Gathering Violations       29
Liquor Violation                       25
Operating Under the Influence          23
Other Burglary                         22
Search Warrants                        19
Sex Offender Registration              19
Aircraft                               18
Evading Fare                           16
Prisoner Related Incidents             14
GAMBLING OFFENSE                       13
Criminal Harassment                    13
Prostitution                           13
Manslaug                                9
Harbor Related Incidents                8
Labor                                   8
Embezzlement                            7
Homicide                                7
Firearm Discovery                       4
Arson                                   3
BioThreat                               3
Rape and Attempted                      2
Explosives                              2
Bomb Hoax                               1
Name: INCIDENT_TYPE_DESCRIPTION, Length: 127, dtype: int64

Oh so homogenizing the data can be hard. However this still has to be done.

In [59]:
df_new_simplified = df_new[['OFFENSE_CODE_GROUP','OCCURRED_ON_DATE','YEAR','MONTH','DAY_OF_WEEK','HOUR','UCR_PART','STREET','Lat','Long']]

In [60]:
df_new_simplified['OFFENSE_CODE_GROUP'].value_counts()

Motor Vehicle Accident Response              46611
Larceny                                      32508
Medical Assistance                           30360
Investigate Person                           23441
Other                                        22527
Drug Violation                               20794
Simple Assault                               19970
Vandalism                                    18896
Verbal Disputes                              16630
Investigate Property                         14156
Towed                                        14082
Larceny From Motor Vehicle                   13109
Property Lost                                12591
Warrant Arrests                              10420
Aggravated Assault                            9921
Fraud                                         7701
Violations                                    7525
Missing Person Located                        6762
Residential Burglary                          6547
Auto Theft                                    5819
Robbery                                       5475
Harassment                                    5166
Property Found                                4915
Missing Person Reported                       4537
Confidence Games                              3826
Police Service Incidents                      3752
Disorderly Conduct                            3130
Fire Related Reports                          2349
Firearm Violations                            2303
License Violation                             2166
                                             ...
Landlord/Tenant Disputes                      1242
Ballistics                                    1224
Property Related Damage                       1116
Assembly or Gathering Violations              1105
Firearm Discovery                              844
License Plate Related Incidents                719
Operating Under the Influence                  704
Offenses Against Child / Family                639
Other Burglary                                 559
Evading Fare                                   498
Embezzlement                                   381
Service                                        353
Prisoner Related Incidents                     328
Harbor Related Incidents                       285
Homicide                                       264
Prostitution                                   262
Criminal Harassment                            154
Arson                                          108
Bomb Hoax                                      108
HOME INVASION                                   90
Aircraft                                        55
Phone Call Complaints                           44
Explosives                                      30
Manslaughter                                    10
Gambling                                         8
HUMAN TRAFFICKING                                8
Burglary - No Property Taken                     5
INVESTIGATE PERSON                               5
HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE        3
Biological Threat                                2
Name: OFFENSE_CODE_GROUP, Length: 67, dtype: int64

I think we are definitely going to restrict our concerns to major crimes.

In [61]:
df_old_simplified.dtypes

INCIDENT_TYPE_DESCRIPTION    object
FROMDATE                     object
Year                          int64
Month                         int64
DAY_WEEK                     object
UCRPART                      object
STREETNAME                   object
Location                     object
dtype: object

<a id = '1.3'></a>
[Return to top](#top)
## 1.3 Process location data

In [62]:
def get_lat_long(loc_string):
    loc_list = loc_string.lstrip('(').rstrip(')').split()
    return loc_list[0].strip(','), loc_list[1]

In [63]:
get_lat_long('(42.34638135, -71.10379454)')

('42.34638135', '-71.10379454')

In [64]:
df_old_simplified['Lat'] = df_old_simplified['Location'].apply(lambda x: get_lat_long(x)[0])
df_old_simplified['Long'] = df_old_simplified['Location'].apply(lambda x: get_lat_long(x)[1])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [65]:
df_old_simplified.tail()

,INCIDENT_TYPE_DESCRIPTION,FROMDATE,Year,Month,DAY_WEEK,UCRPART,STREETNAME,Location,Lat,Long
268051,Motor Vehicle Accident Response,08/10/2015 02:38:00 AM,2015,8,Monday,Part Three,HARVARD ST,"(0.0, 0.0)",0.0,0.0
268052,Police Service Incidents,08/10/2015 04:46:00 AM,2015,8,Monday,Part Three,DORCHESTER AVE,"(0.0, 0.0)",0.0,0.0
268053,Motor Vehicle Accident Response,08/10/2015 04:48:00 AM,2015,8,Monday,Part Three,DECKARD ST,"(0.0, 0.0)",0.0,0.0
268054,Investigate Person,08/10/2015 05:01:00 AM,2015,8,Monday,Part Three,HAMMOND ST,"(0.0, 0.0)",0.0,0.0
268055,Motor Vehicle Accident Response,08/10/2015 05:20:00 AM,2015,8,Monday,Part Three,NaN,"(0.0, 0.0)",0.0,0.0

In [66]:
del df_old_simplified['Location']

Now we need to filter out NAs.

In [67]:
def lat_na_er(num_string):
    try:
        num = float(num_string)
        if num < 40 or num > 45:
            return np.nan
        return num
    except ValueError as e:
        return np.nan

In [68]:
def long_na_er(num_string):
    try:
        num = float(num_string)
        if num < -75 or num > -70:
            return np.nan
        return num
    except ValueError as e:
        return np.nan

In [69]:
df_old_simplified['Lat'] = df_old_simplified['Lat'].apply(lat_na_er)
df_old_simplified['Long'] = df_old_simplified['Long'].apply(long_na_er)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [70]:
df_old_simplified.head()

,INCIDENT_TYPE_DESCRIPTION,FROMDATE,Year,Month,DAY_WEEK,UCRPART,STREETNAME,Lat,Long
0,RESIDENTIAL BURGLARY,07/08/2012 06:00:00 AM,2012,7,Sunday,Part One,ABERDEEN ST,42.346381,-71.103795
1,AGGRAVATED ASSAULT,07/08/2012 06:03:00 AM,2012,7,Sunday,Part One,HOWARD AV,42.316841,-71.074585
2,ROBBERY,07/08/2012 06:26:00 AM,2012,7,Sunday,Part One,JERSEY ST,42.342841,-71.096990
3,COMMERCIAL BURGLARY,07/08/2012 06:56:00 AM,2012,7,Sunday,Part One,COLUMBIA RD,42.316441,-71.065829
4,ROBBERY,07/08/2012 07:15:00 AM,2012,7,Sunday,Part One,COLLINS ST,42.270516,-71.119900

In [71]:
df_old_simplified.describe()

                Year          Month            Lat           Long
count  268056.000000  268056.000000  253075.000000  253075.000000
mean     2013.538664       6.589134      42.323847     -71.083360
std         0.970562       3.323806       0.031772       0.030869
min      2012.000000       1.000000      42.232264     -71.178674
25%      2013.000000       4.000000      42.299386     -71.098625
50%      2014.000000       7.000000      42.328660     -71.078035
75%      2014.000000       9.000000      42.349236     -71.062280
max      2015.000000      12.000000      42.395105     -70.964365

Great. We need to do the same for the new one.

In [72]:
df_new_simplified['Lat'] = df_new_simplified['Lat'].apply(lat_na_er)
df_new_simplified['Long'] = df_new_simplified['Long'].apply(long_na_er)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [73]:
df_new_simplified.head()

,OFFENSE_CODE_GROUP,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long
0,Drug Violation,2019-07-03 21:58:00,2019,7,Wednesday,21,Part Two,WASHINGTON ST,42.300555,-71.113124
1,Violations,2019-07-01 15:00:00,2019,7,Monday,15,Part Two,HOWLAND ST,42.311659,-71.084244
2,Investigate Person,2019-07-03 16:00:00,2019,7,Wednesday,16,Part Three,WASHINGTON ST,42.309719,-71.104294
3,Violations,2019-07-03 18:47:00,2019,7,Wednesday,18,Part Two,COLUMBIA RD,NaN,NaN
4,Investigate Person,2019-07-03 20:48:00,2019,7,Wednesday,20,Part Three,KINGSDALE ST,42.294787,-71.082069

In [74]:
df_new_simplified.describe()

,YEAR,MONTH,HOUR,Lat,Long
count,400303.000000,400303.000000,400303.000000,373777.000000,373777.000000
mean,2016.967062,6.562691,13.112482,42.322163,-71.082960
std,1.225701,3.359424,6.289645,0.031897,0.029690
min,2015.000000,1.000000,0.000000,42.232413,-71.178674
25%,2016.000000,4.000000,9.000000,42.297521,-71.097315
50%,2017.000000,7.000000,14.000000,42.325610,-71.077649
75%,2018.000000,9.000000,18.000000,42.348610,-71.062607
max,2019.000000,12.000000,23.000000,42.395042,-70.963676

Now we need to process time.

<a id = '1.4'></a>
[Return to top](#top)
## 1.4 Process time

In [75]:
df_new_simplified['OCCURRED_ON_DATE'].isna().sum()

0

In [76]:
df_old_simplified['FROMDATE'].isna().sum()

0

At least there are no open NAs. Now let's check the timeline.

In [77]:
df_new_simplified.head()

,OFFENSE_CODE_GROUP,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long
0,Drug Violation,2019-07-03 21:58:00,2019,7,Wednesday,21,Part Two,WASHINGTON ST,42.300555,-71.113124
1,Violations,2019-07-01 15:00:00,2019,7,Monday,15,Part Two,HOWLAND ST,42.311659,-71.084244
2,Investigate Person,2019-07-03 16:00:00,2019,7,Wednesday,16,Part Three,WASHINGTON ST,42.309719,-71.104294
3,Violations,2019-07-03 18:47:00,2019,7,Wednesday,18,Part Two,COLUMBIA RD,NaN,NaN
4,Investigate Person,2019-07-03 20:48:00,2019,7,Wednesday,20,Part Three,KINGSDALE ST,42.294787,-71.082069

We need to round time to hours because police officers don't really document minutes and seconds carefully (to see why this is true please check out the old Crime in Boston project).

In [78]:
df_new_simplified['day'] = df_new_simplified['OCCURRED_ON_DATE'].apply(lambda x: int(x[8:10]))
df_new_simplified['min'] = df_new_simplified['OCCURRED_ON_DATE'].apply(lambda x: int(x[-5:-3]))
df_new_simplified['sec'] = df_new_simplified['OCCURRED_ON_DATE'].apply(lambda x: int(x[-2:]))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [79]:
df_new_simplified.head()

,OFFENSE_CODE_GROUP,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,day,min,sec
0,Drug Violation,2019-07-03 21:58:00,2019,7,Wednesday,21,Part Two,WASHINGTON ST,42.300555,-71.113124,3,58,0
1,Violations,2019-07-01 15:00:00,2019,7,Monday,15,Part Two,HOWLAND ST,42.311659,-71.084244,1,0,0
2,Investigate Person,2019-07-03 16:00:00,2019,7,Wednesday,16,Part Three,WASHINGTON ST,42.309719,-71.104294,3,0,0
3,Violations,2019-07-03 18:47:00,2019,7,Wednesday,18,Part Two,COLUMBIA RD,NaN,NaN,3,47,0
4,Investigate Person,2019-07-03 20:48:00,2019,7,Wednesday,20,Part Three,KINGSDALE ST,42.294787,-71.082069,3,48,0

In [80]:
del df_new_simplified['OCCURRED_ON_DATE']

In [81]:
def is_leap(year):
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

def num_of_days(month, year):
    non_leap = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if month != 2:
        return non_leap[month - 1]
    else:
        if is_leap(year):
            return 29
        else:
            return 28
tie_break_round_up = False #Tie break round up status
NEXT = {'Monday': 'Tuesday', 'Tuesday': 'Wednesday', 'Wednesday': 'Thursday', 'Thursday':'Friday','Friday':'Saturday','Saturday':'Sunday','Sunday':'Monday'}

In [82]:
for index, row in df_new_simplified.iterrows():
    round_up = False #Round up this time?
    if df_new_simplified.at[index, 'min'] == 30 and df_new_simplified.at[index, 'sec'] == 0: #Tie break
        if tie_break_round_up:
            round_up = True
        tie_break_round_up = not tie_break_round_up
    if df_new_simplified.at[index, 'min'] > 30 or (df_new_simplified.at[index, 'min'] == 30 and df_new_simplified.at[index, 'sec'] > 0):
        round_up = True
    if round_up:
        df_new_simplified.at[index, 'HOUR'] = df_new_simplified.at[index, 'HOUR'] + 1
        if df_new_simplified.at[index, 'HOUR'] == 24:
            df_new_simplified.at[index, 'HOUR'] = 0
            df_new_simplified.at[index, 'day'] = df_new_simplified.at[index, 'day'] + 1
            df_new_simplified.at[index, 'DAY_OF_WEEK'] = NEXT[df_new_simplified.at[index, 'DAY_OF_WEEK']]
            if df_new_simplified.at[index, 'day'] > num_of_days(df_new_simplified.at[index, 'MONTH'], df_new_simplified.at[index, 'YEAR']):
                df_new_simplified.at[index, 'day'] = 1
                df_new_simplified.at[index, 'MONTH'] = df_new_simplified.at[index, 'MONTH'] + 1
                if df_new_simplified.at[index,'MONTH'] == 13:
                    df_new_simplified.at[index,'MONTH'] = 1
                    df_new_simplified.at[index, 'YEAR'] = df_new_simplified.at[index, 'YEAR'] + 1

In [83]:
def extract_hour(old_string):
    hour = int(old_string[11:13])
    code = old_string[-2:]
    if hour == 12:
        hour = hour - 12
    if code == 'PM':
        hour = hour + 12
    return hour

In [84]:
df_old_simplified['day'] = df_old_simplified['FROMDATE'].apply(lambda x: int(x[3:5]))
df_old_simplified['min'] = df_old_simplified['FROMDATE'].apply(lambda x: int(x[14:16]))
df_old_simplified['sec'] = df_old_simplified['FROMDATE'].apply(lambda x: int(x[17:19]))
df_old_simplified['hour'] = df_old_simplified['FROMDATE'].apply(extract_hour)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [85]:
for index, row in df_old_simplified.iterrows():
    round_up = False #Round up this time?
    if df_old_simplified.at[index, 'min'] == 30 and df_old_simplified.at[index, 'sec'] == 0: #Tie break
        if tie_break_round_up:
            round_up = True
        tie_break_round_up = not tie_break_round_up
    if df_old_simplified.at[index, 'min'] > 30 or (df_old_simplified.at[index, 'min'] == 30 and df_old_simplified.at[index, 'sec'] > 0):
        round_up = True
    if round_up:
        df_old_simplified.at[index, 'hour'] = df_old_simplified.at[index, 'hour'] + 1
        if df_old_simplified.at[index, 'hour'] == 24:
            df_old_simplified.at[index, 'hour'] = 0
            df_old_simplified.at[index, 'day'] = df_old_simplified.at[index, 'day'] + 1
            df_old_simplified.at[index, 'DAY_WEEK'] = NEXT[df_old_simplified.at[index, 'DAY_WEEK']]
            if df_old_simplified.at[index, 'day'] > num_of_days(df_old_simplified.at[index, 'Month'], df_old_simplified.at[index, 'Year']):
                df_old_simplified.at[index, 'day'] = 1
                df_old_simplified.at[index, 'Month'] = df_old_simplified.at[index, 'Month'] + 1
                if df_old_simplified.at[index,'Month'] == 13:
                    df_old_simplified.at[index,'Month'] = 1
                    df_old_simplified.at[index, 'Year'] = df_old_simplified.at[index, 'Year'] + 1

In [86]:
df_old_simplified.head(10)

,INCIDENT_TYPE_DESCRIPTION,FROMDATE,Year,Month,DAY_WEEK,UCRPART,STREETNAME,Lat,Long,day,min,sec,hour
0,RESIDENTIAL BURGLARY,07/08/2012 06:00:00 AM,2012,7,Sunday,Part One,ABERDEEN ST,42.346381,-71.103795,8,0,0,6
1,AGGRAVATED ASSAULT,07/08/2012 06:03:00 AM,2012,7,Sunday,Part One,HOWARD AV,42.316841,-71.074585,8,3,0,6
2,ROBBERY,07/08/2012 06:26:00 AM,2012,7,Sunday,Part One,JERSEY ST,42.342841,-71.096990,8,26,0,6
3,COMMERCIAL BURGLARY,07/08/2012 06:56:00 AM,2012,7,Sunday,Part One,COLUMBIA RD,42.316441,-71.065829,8,56,0,7
4,ROBBERY,07/08/2012 07:15:00 AM,2012,7,Sunday,Part One,COLLINS ST,42.270516,-71.119900,8,15,0,7
5,ROBBERY,07/08/2012 07:32:00 AM,2012,7,Sunday,Part One,SYDNEY ST,42.313282,-71.053006,8,32,0,8
6,ROBBERY,07/08/2012 07:50:00 AM,2012,7,Sunday,Part One,REGENT ST,42.324251,-71.086210,8,50,0,8
7,SIMPLE ASSAULT,07/08/2012 07:50:00 AM,2012,7,Sunday,Part Two,WASHINGTON ST,42.349246,-71.063785,8,50,0,8
8,MedAssist,07/08/2012 07:53:00 AM,2012,7,Sunday,Part Three,FANEUIL ST,42.351746,-71.165910,8,53,0,8
9,MedAssist,07/08/2012 08:05:00 AM,2012,7,Sunday,Part Three,RIVER ST,42.259383,-71.117294,8,5,0,8

In [87]:
del df_new_simplified['min']
del df_new_simplified['sec']
del df_old_simplified['min']
del df_old_simplified['sec']
del df_old_simplified['FROMDATE']

In [88]:
df_old_simplified.head()

,INCIDENT_TYPE_DESCRIPTION,Year,Month,DAY_WEEK,UCRPART,STREETNAME,Lat,Long,day,hour
0,RESIDENTIAL BURGLARY,2012,7,Sunday,Part One,ABERDEEN ST,42.346381,-71.103795,8,6
1,AGGRAVATED ASSAULT,2012,7,Sunday,Part One,HOWARD AV,42.316841,-71.074585,8,6
2,ROBBERY,2012,7,Sunday,Part One,JERSEY ST,42.342841,-71.096990,8,6
3,COMMERCIAL BURGLARY,2012,7,Sunday,Part One,COLUMBIA RD,42.316441,-71.065829,8,7
4,ROBBERY,2012,7,Sunday,Part One,COLLINS ST,42.270516,-71.119900,8,7

<a id = '1.5'></a>
[Return to top](#top)
## 1.5 Remove non-crimes

As usual we only care about major crimes.

In [89]:
df_new_clean = df_new_simplified.loc[(df_new_simplified['UCR_PART'] == 'Part One') | (df_new_simplified['OFFENSE_CODE_GROUP'] == 'Arson')]

In [90]:
df_new_clean['UCR_PART'].value_counts()

Part One    75800
Other         108
Name: UCR_PART, dtype: int64

In [91]:
df_new_clean['OFFENSE_CODE_GROUP'].value_counts()

Larceny                       32508
Larceny From Motor Vehicle    13109
Aggravated Assault             9921
Residential Burglary           6547
Auto Theft                     5819
Robbery                        5475
Commercial Burglary            1598
Other Burglary                  559
Homicide                        264
Arson                           108
Name: OFFENSE_CODE_GROUP, dtype: int64

In [92]:
df_old_O = df_old_simplified.loc[df_old_simplified['UCRPART'] == 'Other']
df_old_NA = df_old_simplified.loc[df_old_simplified['UCRPART'].isnull()]

In [93]:
df_old_O['INCIDENT_TYPE_DESCRIPTION'].value_counts()

MVAcc                              9671
PersLoc                            3479
PersMiss                            780
07RV                                613
Hazardous                           493
Service                             260
Plates                               45
ARSON                                30
Auto Theft Recovery                  29
MedAssist                            22
HateCrim                             19
License Plate Related Incidents       5
Arson                                 3
Name: INCIDENT_TYPE_DESCRIPTION, dtype: int64

In [94]:
df_old_NA.shape

(0, 10)

In [95]:
df_old_simplified['UCRPART'].value_counts()

Part Two      98341
Part One      65261
Part three    55482
Part Three    33523
Other         15449
Name: UCRPART, dtype: int64

Unclean data. That's fine.

In [96]:
df_old_2 = df_old_simplified.loc[df_old_simplified['UCRPART'] == 'Part Two']
df_old_3 = df_old_simplified.loc[df_old_simplified['UCRPART'] == 'Part Three']
df_old_33 = df_old_simplified.loc[df_old_simplified['UCRPART'] == 'Part three']

In [97]:
df_old_33['INCIDENT_TYPE_DESCRIPTION'].value_counts()

MedAssist                   12401
InvPer                       9448
PropLost                     5890
TOWED                        5524
InvProp                      4862
Service                      3505
PropFound                    2964
Argue                        2065
Arrest                       1374
FIRE                         1294
PhoneCalls                    995
LICViol                       836
32GUN                         747
Gather                        718
Landlord                      716
DEATH INVESTIGATION           678
SearchWarr                    521
PropDam                       502
Plates                        228
Harbor                        150
VIOLATION OF LIQUOR LAWS       30
Explos                         23
Aircraft                        7
Labor                           4
Name: INCIDENT_TYPE_DESCRIPTION, dtype: int64

In [98]:
df_old_semiclean = df_old_simplified.loc[(df_old_simplified['UCRPART'] == 'Part One') | (df_old_simplified['UCRPART'] == 'Other')]

OK I think the Part Twos, Part Threes and others other than arson can be ignored.

In [99]:
df_old_semiclean['INCIDENT_TYPE_DESCRIPTION'] = df_old_semiclean['INCIDENT_TYPE_DESCRIPTION'].apply(lambda x: x.upper())

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [100]:
df_old_semiclean.head()

,INCIDENT_TYPE_DESCRIPTION,Year,Month,DAY_WEEK,UCRPART,STREETNAME,Lat,Long,day,hour
0,RESIDENTIAL BURGLARY,2012,7,Sunday,Part One,ABERDEEN ST,42.346381,-71.103795,8,6
1,AGGRAVATED ASSAULT,2012,7,Sunday,Part One,HOWARD AV,42.316841,-71.074585,8,6
2,ROBBERY,2012,7,Sunday,Part One,JERSEY ST,42.342841,-71.096990,8,6
3,COMMERCIAL BURGLARY,2012,7,Sunday,Part One,COLUMBIA RD,42.316441,-71.065829,8,7
4,ROBBERY,2012,7,Sunday,Part One,COLLINS ST,42.270516,-71.119900,8,7

In [101]:
df_old_semiclean['INCIDENT_TYPE_DESCRIPTION'].value_counts()

OTHER LARCENY                      24443
LARCENY FROM MOTOR VEHICLE         13265
MVACC                               9671
RESIDENTIAL BURGLARY                7119
AGGRAVATED ASSAULT                  6008
ROBBERY                             5193
AUTO THEFT                          4851
PERSLOC                             3479
COMMERCIAL BURGLARY                 1550
BENOPROP                            1367
LARCENY                             1288
PERSMISS                             780
07RV                                 613
HAZARDOUS                            493
SERVICE                              260
HOMICIDE                             144
PLATES                                45
ARSON                                 33
AUTO THEFT RECOVERY                   29
MEDASSIST                             22
OTHER BURGLARY                        22
HATECRIM                              19
MANSLAUG                               9
LICENSE PLATE RELATED INCIDENTS        5
RAPE AND ATTEMPTED                     2
Name: INCIDENT_TYPE_DESCRIPTION, dtype: int64

In [102]:
df_old_clean = df_old_semiclean.loc[(df_old_semiclean['UCRPART'] == 'Part One') | (df_old_semiclean['INCIDENT_TYPE_DESCRIPTION'] == 'Arson')]

In [103]:
df_old_clean['INCIDENT_TYPE_DESCRIPTION'].value_counts()

OTHER LARCENY                 24443
LARCENY FROM MOTOR VEHICLE    13265
RESIDENTIAL BURGLARY           7119
AGGRAVATED ASSAULT             6008
ROBBERY                        5193
AUTO THEFT                     4851
COMMERCIAL BURGLARY            1550
BENOPROP                       1367
LARCENY                        1288
HOMICIDE                        144
OTHER BURGLARY                   22
MANSLAUG                          9
RAPE AND ATTEMPTED                2
Name: INCIDENT_TYPE_DESCRIPTION, dtype: int64

`BENOPROP` means "Break and enter, no property taken". Since it is in `Other` in the new data source let's remove it. `RAPE AND ATTEMPTED` and `MANSLAUG` need to be removed as well because they are either not present in the new data source or is not in `Part One`.

In [104]:
df_old_clean = df_old_clean[df_old_clean['INCIDENT_TYPE_DESCRIPTION'] != 'BENOPROP'] 
df_old_clean = df_old_clean[df_old_clean['INCIDENT_TYPE_DESCRIPTION'] != 'MANSLAUG'] 
df_old_clean = df_old_clean[df_old_clean['INCIDENT_TYPE_DESCRIPTION'] != 'RAPE AND ATTEMPTED']

In [105]:
df_old_clean['INCIDENT_TYPE_DESCRIPTION'].value_counts()

OTHER LARCENY                 24443
LARCENY FROM MOTOR VEHICLE    13265
RESIDENTIAL BURGLARY           7119
AGGRAVATED ASSAULT             6008
ROBBERY                        5193
AUTO THEFT                     4851
COMMERCIAL BURGLARY            1550
LARCENY                        1288
HOMICIDE                        144
OTHER BURGLARY                   22
Name: INCIDENT_TYPE_DESCRIPTION, dtype: int64

Now we can drop the `UCR_PART`.

In [106]:
del df_old_clean['UCRPART']

In [107]:
del df_new_clean['UCR_PART']

Let's store the data so that it isn't lost.

In [108]:
df_old_clean.to_csv('old.csv')
df_new_clean.to_csv('new.csv')

<a id = '1.6'></a>
[Return to top](#top)
## 1.6 Combine the two dataframes

Now it's time to merge the two dataframes.

In [109]:
df_new_clean.head()

,OFFENSE_CODE_GROUP,YEAR,MONTH,DAY_OF_WEEK,HOUR,STREET,Lat,Long,day
5,Larceny,2019,7,Wednesday,21,BLUE HILL AVE,42.309384,-71.082623,3
8,Larceny,2019,7,Wednesday,20,MELNEA CASS BLVD,42.333302,-71.081817,3
10,Auto Theft,2019,7,Wednesday,21,COLUMBIA RD,42.315142,-71.067047,3
17,Auto Theft,2019,7,Wednesday,1,LORING ST,NaN,NaN,3
30,Larceny,2019,7,Wednesday,19,HARRISON AVE,42.350834,-71.061436,3

In [110]:
df_old_clean.head()

,INCIDENT_TYPE_DESCRIPTION,Year,Month,DAY_WEEK,STREETNAME,Lat,Long,day,hour
0,RESIDENTIAL BURGLARY,2012,7,Sunday,ABERDEEN ST,42.346381,-71.103795,8,6
1,AGGRAVATED ASSAULT,2012,7,Sunday,HOWARD AV,42.316841,-71.074585,8,6
2,ROBBERY,2012,7,Sunday,JERSEY ST,42.342841,-71.096990,8,6
3,COMMERCIAL BURGLARY,2012,7,Sunday,COLUMBIA RD,42.316441,-71.065829,8,7
4,ROBBERY,2012,7,Sunday,COLLINS ST,42.270516,-71.119900,8,7

In [111]:
df_new_clean.rename(index = str, columns = {'OFFENSE_CODE_GROUP':'crime', 'YEAR': 'year', 'MONTH': 'month', 'DAY_OF_WEEK': 'dayw', 'HOUR': 'hour','STREET':'street','Lat':'lat','Long':'long','day':'day'}, inplace = True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [112]:
df_new_clean.head()

,crime,year,month,dayw,hour,street,lat,long,day
5,Larceny,2019,7,Wednesday,21,BLUE HILL AVE,42.309384,-71.082623,3
8,Larceny,2019,7,Wednesday,20,MELNEA CASS BLVD,42.333302,-71.081817,3
10,Auto Theft,2019,7,Wednesday,21,COLUMBIA RD,42.315142,-71.067047,3
17,Auto Theft,2019,7,Wednesday,1,LORING ST,NaN,NaN,3
30,Larceny,2019,7,Wednesday,19,HARRISON AVE,42.350834,-71.061436,3

In [113]:
df_old_clean.rename(index = str, columns = {'INCIDENT_TYPE_DESCRIPTION':'crime', 'Year': 'year', 'Month': 'month', 'DAY_WEEK': 'dayw', 'hour': 'hour','STREETNAME':'street','Lat':'lat','Long':'long','day':'day'}, inplace = True)

In [114]:
df_old_clean.head()

,crime,year,month,dayw,street,lat,long,day,hour
0,RESIDENTIAL BURGLARY,2012,7,Sunday,ABERDEEN ST,42.346381,-71.103795,8,6
1,AGGRAVATED ASSAULT,2012,7,Sunday,HOWARD AV,42.316841,-71.074585,8,6
2,ROBBERY,2012,7,Sunday,JERSEY ST,42.342841,-71.096990,8,6
3,COMMERCIAL BURGLARY,2012,7,Sunday,COLUMBIA RD,42.316441,-71.065829,8,7
4,ROBBERY,2012,7,Sunday,COLLINS ST,42.270516,-71.119900,8,7

In [115]:
correct_order = ['crime','year','month','day','dayw','hour','street','lat','long']

In [116]:
df_old_clean = df_old_clean[correct_order]
df_new_clean = df_new_clean[correct_order]

In [117]:
df_old_clean.head()

,crime,year,month,day,dayw,hour,street,lat,long
0,RESIDENTIAL BURGLARY,2012,7,8,Sunday,6,ABERDEEN ST,42.346381,-71.103795
1,AGGRAVATED ASSAULT,2012,7,8,Sunday,6,HOWARD AV,42.316841,-71.074585
2,ROBBERY,2012,7,8,Sunday,6,JERSEY ST,42.342841,-71.096990
3,COMMERCIAL BURGLARY,2012,7,8,Sunday,7,COLUMBIA RD,42.316441,-71.065829
4,ROBBERY,2012,7,8,Sunday,7,COLLINS ST,42.270516,-71.119900

In [118]:
df_new_clean.head()

,crime,year,month,day,dayw,hour,street,lat,long
5,Larceny,2019,7,3,Wednesday,21,BLUE HILL AVE,42.309384,-71.082623
8,Larceny,2019,7,3,Wednesday,20,MELNEA CASS BLVD,42.333302,-71.081817
10,Auto Theft,2019,7,3,Wednesday,21,COLUMBIA RD,42.315142,-71.067047
17,Auto Theft,2019,7,3,Wednesday,1,LORING ST,NaN,NaN
30,Larceny,2019,7,3,Wednesday,19,HARRISON AVE,42.350834,-71.061436

In [119]:
frames = [df_old_clean, df_new_clean]

In [120]:
df_clean = pd.concat(frames, ignore_index = True)

In [121]:
df_clean.tail()

,crime,year,month,day,dayw,hour,street,lat,long
139786,Aggravated Assault,2015,11,20,Friday,11,BLUE HILL AVE,42.301897,-71.085549
139787,Larceny,2018,12,13,Thursday,0,BROOKLEDGE ST,42.309563,-71.089902
139788,Larceny,2018,12,13,Thursday,0,BROOKLEDGE ST,42.309563,-71.089902
139789,Larceny,2018,12,13,Thursday,0,BROOKLEDGE ST,42.309563,-71.089902
139790,Homicide,2015,7,9,Thursday,14,RIVER ST,42.255926,-71.123172

In [122]:
df_old_clean.shape

(63883, 9)

In [123]:
df_new_clean.shape

(75908, 9)

In [124]:
df_clean.shape

(139791, 9)

In [125]:
df_old_clean.shape[0] + df_new_clean.shape[0] == df_clean.shape[0]

True

Now we need to merge the crimes.

In [126]:
df_clean['crime'] = df_clean['crime'].apply(lambda x: x.upper())

In [127]:
df_clean['crime'].value_counts()

LARCENY                       33796
LARCENY FROM MOTOR VEHICLE    26374
OTHER LARCENY                 24443
AGGRAVATED ASSAULT            15929
RESIDENTIAL BURGLARY          13666
AUTO THEFT                    10670
ROBBERY                       10668
COMMERCIAL BURGLARY            3148
OTHER BURGLARY                  581
HOMICIDE                        408
ARSON                           108
Name: crime, dtype: int64

There is a disparity in what `LARCENY` means. Hence we will simply merge all larcenies into `LARCENY`.

In [128]:
df_clean['crime'] = df_clean['crime'].replace({'LARCENY FROM MOTOR VEHICLE': 'LARCENY', 'OTHER LARCENY': 'LARCENY'})

In [129]:
df_clean['crime'].value_counts()

LARCENY                 84613
AGGRAVATED ASSAULT      15929
RESIDENTIAL BURGLARY    13666
AUTO THEFT              10670
ROBBERY                 10668
COMMERCIAL BURGLARY      3148
OTHER BURGLARY            581
HOMICIDE                  408
ARSON                     108
Name: crime, dtype: int64

Now we can store the file.

In [130]:
df_clean.to_csv('final.csv')

<a id = '2'></a>
[Return to top](#top)
# 2. Regressions

In [131]:
df_clean = pd.read_csv('final.csv',index_col = 0)

In [132]:
df_clean.head()

,crime,year,month,day,dayw,hour,street,lat,long
0,RESIDENTIAL BURGLARY,2012,7,8,Sunday,6,ABERDEEN ST,42.346381,-71.103795
1,AGGRAVATED ASSAULT,2012,7,8,Sunday,6,HOWARD AV,42.316841,-71.074585
2,ROBBERY,2012,7,8,Sunday,6,JERSEY ST,42.342841,-71.096990
3,COMMERCIAL BURGLARY,2012,7,8,Sunday,7,COLUMBIA RD,42.316441,-71.065829
4,ROBBERY,2012,7,8,Sunday,7,COLLINS ST,42.270516,-71.119900

<a id = '2.1'></a>
[Return to top](#top)
## 2.1 Preparation

In [133]:
df_clean.isna().sum()

crime        0
year         0
month        0
day          0
dayw         0
hour         0
street    1522
lat       5742
long      5742
dtype: int64

Now we should drop the NAs.

In [134]:
df_final = df_clean.dropna()

In [135]:
df_final.shape

(133826, 9)

In [136]:
df_final.sort_values(['year','month','day'])

,crime,year,month,day,dayw,hour,street,lat,long
0,RESIDENTIAL BURGLARY,2012,7,8,Sunday,6,ABERDEEN ST,42.346381,-71.103795
1,AGGRAVATED ASSAULT,2012,7,8,Sunday,6,HOWARD AV,42.316841,-71.074585
2,ROBBERY,2012,7,8,Sunday,6,JERSEY ST,42.342841,-71.096990
3,COMMERCIAL BURGLARY,2012,7,8,Sunday,7,COLUMBIA RD,42.316441,-71.065829
4,ROBBERY,2012,7,8,Sunday,7,COLLINS ST,42.270516,-71.119900
5,ROBBERY,2012,7,8,Sunday,8,SYDNEY ST,42.313282,-71.053006
6,ROBBERY,2012,7,8,Sunday,8,REGENT ST,42.324251,-71.086210
7,RESIDENTIAL BURGLARY,2012,7,8,Sunday,11,CATBIRD COURT,42.288138,-71.094849
8,LARCENY,2012,7,8,Sunday,12,HILLSIDE ST,42.331666,-71.107630
9,AUTO THEFT,2012,7,8,Sunday,12,E 7TH ST,42.332171,-71.042240
10,LARCENY,2012,7,8,Sunday,12,CENTRE ST,42.294026,-71.060545
11,AGGRAVATED ASSAULT,2012,7,8,Sunday,13,W BROADWAY,42.336149,-71.046717
12,LARCENY,2012,7,8,Sunday,13,TYLER ST,42.350866,-71.060710
13,LARCENY,2012,7,8,Sunday,14,HOLLINGSWORTH ST,42.268090,-71.099099
14,LARCENY,2012,7,8,Sunday,14,PARK ST,42.297516,-71.064480
15,LARCENY,2012,7,8,Sunday,14,PARK ST,42.356936,-71.062495
16,LARCENY,2012,7,8,Sunday,14,SCIENCE PARK,42.367466,-71.070200
17,LARCENY,2012,7,8,Sunday,14,HEATH ST,42.326236,-71.103160
18,LARCENY,2012,7,8,Sunday,15,MERIDIAN ST,42.380541,-71.039260
19,LARCENY,2012,7,8,Sunday,15,SALMAN ST,42.263201,-71.165810
20,LARCENY,2012,7,8,Sunday,15,COLUMBIA RD,42.307461,-71.075970
21,LARCENY,2012,7,8,Sunday,16,POST OFFICE SQ,42.357256,-71.056315
22,LARCENY,2012,7,8,Sunday,16,FRANKLIN ST,42.356316,-71.054315
23,ROBBERY,2012,7,8,Sunday,16,FULLER ST,42.282456,-71.069815
24,AGGRAVATED ASSAULT,2012,7,8,Sunday,16,W BROADWAY,42.336149,-71.046717
25,LARCENY,2012,7,8,Sunday,16,FRANKLIN ST,42.356316,-71.054315
26,LARCENY,2012,7,8,Sunday,17,NEWBURY ST,42.348051,-71.088140
27,ROBBERY,2012,7,8,Sunday,17,SHAWMUT AV,42.333266,-71.083000
28,LARCENY,2012,7,8,Sunday,17,WIGET ST,42.363961,-71.055980
29,LARCENY,2012,7,8,Sunday,17,PEARL ST,42.354851,-71.053680
...,...,...,...,...,...,...,...,...,...
63947,AGGRAVATED ASSAULT,2019,7,2,Tuesday,16,DORCHESTER AVE,42.302542,-71.059567
63948,LARCENY,2019,7,2,Tuesday,9,ATLANTIC AVE,42.357464,-71.050982
63949,LARCENY,2019,7,2,Tuesday,14,SOUTHAMPTON ST,42.332108,-71.070144
63956,ROBBERY,2019,7,2,Tuesday,10,HUNTINGTON AVE,42.335986,-71.099717
63958,RESIDENTIAL BURGLARY,2019,7,2,Tuesday,9,SACHEM ST,42.330976,-71.105628
63959,AGGRAVATED ASSAULT,2019,7,2,Tuesday,9,BOWDOIN ST,42.304659,-71.069126
63960,LARCENY,2019,7,2,Tuesday,8,CUMMINS HWY,42.271194,-71.103986
63961,AUTO THEFT,2019,7,2,Tuesday,0,MARYLAND ST,42.311657,-71.055318
63964,LARCENY,2019,7,2,Tuesday,3,WELLINGTON ST,42.341534,-71.081744
63965,AUTO THEFT,2019,7,2,Tuesday,5,CAMBRIDGE ST,42.382222,-71.080312
64063,LARCENY,2019,7,2,Tuesday,2,HARVARD AVE,42.354865,-71.132593
63883,LARCENY,2019,7,3,Wednesday,21,BLUE HILL AVE,42.309384,-71.082623
63884,LARCENY,2019,7,3,Wednesday,20,MELNEA CASS BLVD,42.333302,-71.081817
63885,AUTO THEFT,2019,7,3,Wednesday,21,COLUMBIA RD,42.315142,-71.067047
63887,LARCENY,2019,7,3,Wednesday,19,HARRISON AVE,42.350834,-71.061436
63893,LARCENY,2019,7,3,Wednesday,16,WASHINGTON ST,42.336750,-71.076628
63894,LARCENY,2019,7,3,Wednesday,15,NEWBURY ST,42.351762,-71.074522
63898,AGGRAVATED ASSAULT,2019,7,3,Wednesday,14,FOREST HILLS ST,42.308064,-71.102545
63900,LARCENY,2019,7,3,Wednesday,13,SYDNEY ST,42.313279,-71.052921
63903,LARCENY,2019,7,3,Wednesday,13,HARVARD ST,42.371987,-71.062808
63904,AGGRAVATED ASSAULT,2019,7,3,Wednesday,13,WASHINGTON ST,42.336750,-71.076628
63905,LARCENY,2019,7,3,Wednesday,13,COMMONWEALTH AVE,42.350740,-71.130479
63907,LARCENY,2019,7,3,Wednesday,12,BLUE HILL AVE,42.304340,-71.084779
63910,LARCENY,2019,7,3,Wednesday,12,CHARLES ST,42.360645,-71.070862
63911,LARCENY,2019,7,3,Wednesday,12,SAINT JAMES ST,42.325933,-71.083456
63913,AUTO THEFT,2019,7,3,Wednesday,12,ADAMS ST,42.299038,-71.057803
63921,LARCENY,2019,7,3,Wednesday,6,HARRISON AVE,42.347053,-71.062956
63922,LARCENY,2019,7,3,Wednesday,5,PROVINCE ST,42.356930,-71.060050
63924,AGGRAVATED ASSAULT,2019,7,3,Wednesday,1,TREMONT ST,42.353110,-71.064323
63925,RESIDENTIAL BURGLARY,2019,7,3,Wednesday,1,MARLBOROUGH ST,42.351968,-71.082009

In [137]:
def first_day(df):
    row = df.sort_values(['year','month','day']).iloc[0,:]
    return str(row.month) + '/' + str(row.day) + '/' + str(row.year)
def last_day(df):
    row = df.sort_values(['year','month','day']).iloc[-1,:]
    return str(row.month) + '/' + str(row.day) + '/' + str(row.year)

In [138]:
def count_crimes(df, crime, year, month, day, hour):
    df1 = df[(df['crime'] == crime) & (df['year'] == year)]
    df2 = df1[(df1['month'] == month) & (df1['day'] == day)]
    return df2[df2['hour'] == hour].shape[0]

In [139]:
time_tuple_list = pd.date_range(start = first_day(df_final), end = last_day(df_final)).tolist()

In [140]:
crime_list = df_final.crime.unique().tolist()

In [141]:
df_temp = df_final[['crime','year','month','day','dayw','hour']].groupby(['crime','year','month','day','dayw','hour']).size().unstack(fill_value = 0).stack().reset_index()

In [142]:
df_temp.rename(index = str, columns = {0:'counts'}, inplace = True)

In [143]:
df_temp[df_temp.crime == 'ARSON'].head(200)

       crime  year  month  day      dayw  hour  counts
60744  ARSON  2015      6   20  Saturday     0       0
60745  ARSON  2015      6   20  Saturday     1       0
60746  ARSON  2015      6   20  Saturday     2       0
60747  ARSON  2015      6   20  Saturday     3       0
60748  ARSON  2015      6   20  Saturday     4       0
60749  ARSON  2015      6   20  Saturday     5       0
60750  ARSON  2015      6   20  Saturday     6       0
60751  ARSON  2015      6   20  Saturday     7       0
60752  ARSON  2015      6   20  Saturday     8       0
60753  ARSON  2015      6   20  Saturday     9       0
60754  ARSON  2015      6   20  Saturday    10       0
60755  ARSON  2015      6   20  Saturday    11       0
60756  ARSON  2015      6   20  Saturday    12       0
60757  ARSON  2015      6   20  Saturday    13       0
60758  ARSON  2015      6   20  Saturday    14       0
60759  ARSON  2015      6   20  Saturday    15       0
60760  ARSON  2015      6   20  Saturday    16       0
60761  ARSON  2015      6   20  Saturday    17       0
60762  ARSON  2015      6   20  Saturday    18       0
60763  ARSON  2015      6   20  Saturday    19       1
60764  ARSON  2015      6   20  Saturday    20       0
60765  ARSON  2015      6   20  Saturday    21       0
60766  ARSON  2015      6   20  Saturday    22       0
60767  ARSON  2015      6   20  Saturday    23       0
60768  ARSON  2015      8   22  Saturday     0       0
60769  ARSON  2015      8   22  Saturday     1       0
60770  ARSON  2015      8   22  Saturday     2       0
60771  ARSON  2015      8   22  Saturday     3       0
60772  ARSON  2015      8   22  Saturday     4       0
60773  ARSON  2015      8   22  Saturday     5       0
...      ...   ...    ...  ...       ...   ...     ...
60914  ARSON  2015     10   22  Thursday     2       0
60915  ARSON  2015     10   22  Thursday     3       0
60916  ARSON  2015     10   22  Thursday     4       0
60917  ARSON  2015     10   22  Thursday     5       0
60918  ARSON  2015     10   22  Thursday     6       0
60919  ARSON  2015     10   22  Thursday     7       0
60920  ARSON  2015     10   22  Thursday     8       0
60921  ARSON  2015     10   22  Thursday     9       0
60922  ARSON  2015     10   22  Thursday    10       0
60923  ARSON  2015     10   22  Thursday    11       0
60924  ARSON  2015     10   22  Thursday    12       0
60925  ARSON  2015     10   22  Thursday    13       0
60926  ARSON  2015     10   22  Thursday    14       0
60927  ARSON  2015     10   22  Thursday    15       0
60928  ARSON  2015     10   22  Thursday    16       0
60929  ARSON  2015     10   22  Thursday    17       0
60930  ARSON  2015     10   22  Thursday    18       0
60931  ARSON  2015     10   22  Thursday    19       0
60932  ARSON  2015     10   22  Thursday    20       0
60933  ARSON  2015     10   22  Thursday    21       0
60934  ARSON  2015     10   22  Thursday    22       0
60935  ARSON  2015     10   22  Thursday    23       1
60936  ARSON  2015     11    3   Tuesday     0       0
60937  ARSON  2015     11    3   Tuesday     1       0
60938  ARSON  2015     11    3   Tuesday     2       0
60939  ARSON  2015     11    3   Tuesday     3       0
60940  ARSON  2015     11    3   Tuesday     4       0
60941  ARSON  2015     11    3   Tuesday     5       0
60942  ARSON  2015     11    3   Tuesday     6       0
60943  ARSON  2015     11    3   Tuesday     7       0

[200 rows x 7 columns]

For some unknown reasons we don't have information about arson before mid-2015 which is very weird. So we decided to drop `arson` for now until we can find other crime descriptions that are essentially arson.

In [144]:
crime_list.remove('ARSON')

In [145]:
df_al = df_final[df_final.crime != 'ARSON']
df_temp = df_al[['crime','year','month','day','dayw','hour']].groupby(['crime','year','month','day','dayw','hour']).size().unstack(fill_value = 0).stack().reset_index()

In [146]:
df_temp.head()

                crime  year  month  day    dayw  hour  0
0  AGGRAVATED ASSAULT  2012      7    8  Sunday     0  0
1  AGGRAVATED ASSAULT  2012      7    8  Sunday     1  0
2  AGGRAVATED ASSAULT  2012      7    8  Sunday     2  0
3  AGGRAVATED ASSAULT  2012      7    8  Sunday     3  0
4  AGGRAVATED ASSAULT  2012      7    8  Sunday     4  0

In [148]:
df_temp.shape

(357744, 7)

In [162]:
for ind, row in df_temp.iterrows():
    year = df_temp.at[ind, 'year']
    month = df_temp.at[ind, 'month']
    day = df_temp.at[ind, 'day']
    dayw = dicc[datetime.date(year, month, day).weekday()]
    if dayw != df_temp.at[ind, 'dayw']:
        print(row)

In [163]:
df_temp.hour.value_counts()

23    14906
22    14906
1     14906
2     14906
3     14906
4     14906
5     14906
6     14906
7     14906
8     14906
9     14906
10    14906
11    14906
12    14906
13    14906
14    14906
15    14906
16    14906
17    14906
18    14906
19    14906
20    14906
21    14906
0     14906
Name: hour, dtype: int64

In [203]:
df_dropped.shape

(357168, 7)

In [149]:
357744/24

14906.0

In [193]:
df_temp.shape[0]/24

16341.0

In [150]:
cset = set()
for ind, row in df_temp.iterrows():
    item = (row.crime, row.year, row.month, row.day)
    cset.add(item)

In [151]:
len(cset)

14906

In [153]:
cset

{('AGGRAVATED ASSAULT', 2012, 11, 9),
 ('COMMERCIAL BURGLARY', 2019, 2, 7),
 ('AUTO THEFT', 2017, 11, 17),
 ('LARCENY', 2013, 10, 31),
 ('RESIDENTIAL BURGLARY', 2016, 3, 10),
 ('OTHER BURGLARY', 2016, 5, 10),
 ('ROBBERY', 2014, 4, 6),
 ('AUTO THEFT', 2013, 6, 12),
 ('RESIDENTIAL BURGLARY', 2013, 6, 4),
 ('ROBBERY', 2015, 6, 23),
 ('ROBBERY', 2017, 9, 2),
 ('AUTO THEFT', 2015, 11, 19),
 ('RESIDENTIAL BURGLARY', 2015, 8, 18),
 ('AUTO THEFT', 2017, 7, 10),
 ('HOMICIDE', 2014, 7, 19),
 ('RESIDENTIAL BURGLARY', 2017, 7, 22),
 ('ROBBERY', 2013, 10, 26),
 ('COMMERCIAL BURGLARY', 2016, 5, 8),
 ('AUTO THEFT', 2019, 3, 29),
 ('AGGRAVATED ASSAULT', 2018, 2, 28),
 ('AUTO THEFT', 2016, 8, 19),
 ('RESIDENTIAL BURGLARY', 2019, 6, 28),
 ('ROBBERY', 2015, 11, 8),
 ('ROBBERY', 2016, 5, 22),
 ('COMMERCIAL BURGLARY', 2013, 1, 6),
 ('LARCENY', 2016, 1, 13),
 ('LARCENY', 2014, 10, 21),
 ('RESIDENTIAL BURGLARY', 2017, 11, 3),
 ('AGGRAVATED ASSAULT', 2014, 8, 30),
 ('COMMERCIAL BURGLARY', 2015, 9, 21),
 ('RESIDENTIAL BURGLARY', 2014, 6, 12),
 ('AGGRAVATED ASSAULT', 2017, 5, 3),
 ('COMMERCIAL BURGLARY', 2014, 9, 6),
 ('LARCENY', 2017, 5, 27),
 ('LARCENY', 2015, 4, 3),
 ('RESIDENTIAL BURGLARY', 2018, 5, 14),
 ('AGGRAVATED ASSAULT', 2013, 6, 19),
 ('AGGRAVATED ASSAULT', 2016, 5, 28),
 ('LARCENY', 2014, 6, 26),
 ('ROBBERY', 2013, 2, 24),
 ('RESIDENTIAL BURGLARY', 2013, 8, 17),
 ('LARCENY', 2017, 8, 12),
 ('AGGRAVATED ASSAULT', 2015, 1, 31),
 ('ROBBERY', 2015, 12, 6),
 ('ROBBERY', 2017, 3, 19),
 ('ROBBERY', 2015, 3, 10),
 ('AGGRAVATED ASSAULT', 2016, 6, 1),
 ('COMMERCIAL BURGLARY', 2013, 8, 4),
 ('AGGRAVATED ASSAULT', 2013, 10, 14),
 ('AUTO THEFT', 2018, 8, 16),
 ('LARCENY', 2014, 3, 5),
 ('RESIDENTIAL BURGLARY', 2017, 2, 11),
 ('COMMERCIAL BURGLARY', 2016, 10, 31),
 ('ROBBERY', 2013, 7, 7),
 ('COMMERCIAL BURGLARY', 2015, 1, 7),
 ('AUTO THEFT', 2014, 5, 13),
 ('COMMERCIAL BURGLARY', 2018, 6, 18),
 ('LARCENY', 2018, 7, 9),
 ('ROBBERY', 2014, 7, 22),
 ('ROBBERY', 2016, 8, 3),
 ('RESIDENTIAL BURGLARY', 2012, 11, 19),
 ('LARCENY', 2016, 11, 30),
 ('AGGRAVATED ASSAULT', 2017, 12, 27),
 ('AGGRAVATED ASSAULT', 2014, 6, 1),
 ('AUTO THEFT', 2018, 4, 5),
 ('ROBBERY', 2012, 11, 25),
 ('COMMERCIAL BURGLARY', 2017, 4, 9),
 ('RESIDENTIAL BURGLARY', 2014, 12, 31),
 ('LARCENY', 2018, 4, 28),
 ('AGGRAVATED ASSAULT', 2019, 3, 31),
 ('LARCENY', 2013, 4, 2),
 ('AUTO THEFT', 2017, 9, 18),
 ('RESIDENTIAL BURGLARY', 2016, 5, 29),
 ('ROBBERY', 2014, 10, 9),
 ('COMMERCIAL BURGLARY', 2014, 2, 5),
 ('LARCENY', 2015, 11, 20),
 ('RESIDENTIAL BURGLARY', 2018, 2, 25),
 ('AGGRAVATED ASSAULT', 2015, 9, 29),
 ('ROBBERY', 2017, 11, 1),
 ('LARCENY', 2013, 7, 27),
 ('RESIDENTIAL BURGLARY', 2015, 7, 15),
 ('AGGRAVATED ASSAULT', 2013, 1, 12),
 ('AUTO THEFT', 2017, 5, 7),
 ('RESIDENTIAL BURGLARY', 2016, 9, 16),
 ('ROBBERY', 2013, 12, 7),
 ('COMMERCIAL BURGLARY', 2015, 8, 7),
 ('AGGRAVATED ASSAULT', 2015, 12, 10),
 ('RESIDENTIAL BURGLARY', 2014, 8, 8),
 ('RESIDENTIAL BURGLARY', 2019, 4, 15),
 ('RESIDENTIAL BURGLARY', 2014, 7, 16),
 ('ROBBERY', 2015, 9, 27),
 ('AUTO THEFT', 2016, 5, 20),
 ('AGGRAVATED ASSAULT', 2016, 8, 28),
 ('AUTO THEFT', 2012, 10, 11),
 ('AGGRAVATED ASSAULT', 2017, 4, 29),
 ('LARCENY', 2016, 3, 28),
 ('ROBBERY', 2018, 6, 15),
 ('RESIDENTIAL BURGLARY', 2014, 4, 29),
 ('AUTO THEFT', 2015, 1, 29),
 ('LARCENY', 2013, 3, 12),
 ('ROBBERY', 2016, 2, 16),
 ('LARCENY', 2013, 12, 20),
 ('OTHER BURGLARY', 2016, 10, 23),
 ('ROBBERY', 2014, 2, 11),
 ('AGGRAVATED ASSAULT', 2014, 3, 20),
 ('AUTO THEFT', 2013, 12, 29),
 ('LARCENY', 2015, 2, 6),
 ('ROBBERY', 2018, 5, 30),
 ('RESIDENTIAL BURGLARY', 2018, 10, 27),
 ('AUTO THEFT', 2015, 4, 14),
 ('LARCENY', 2019, 6, 10),
 ('AUTO THEFT', 2017, 12, 7),
 ('ROBBERY', 2013, 4, 25),
 ('RESIDENTIAL BURGLARY', 2013, 10, 16),
 ('LARCENY', 2017, 10, 31),
 ('AGGRAVATED ASSAULT', 2018, 9, 13),
 ('AUTO THEFT', 2019, 5, 4),
 ('OTHER BURGLARY', 2017, 9, 21),
 ('ROBBERY', 2015, 1, 25),
 ('ROBBERY', 2017, 12, 14),
 ('LARCENY', 2019, 5, 19),
 ('AUTO THEFT', 2018, 10, 17),
 ('LARCENY', 2014, 1, 4),
 ('RESIDENTIAL BURGLARY', 2017, 4, 30),
 ('ROBBERY', 2013, 9, 10),
 ('ROBBERY', 2018, 1, 15),
 ('AGGRAVATED ASSAULT', 2018, 5, 16),
 ('AUTO THEFT', 2014, 7, 28),
 ('LARCENY', 2012, 8, 23),
 ('AUTO THEFT', 2016, 11, 1),
 ('RESIDENTIAL BURGLARY', 2019, 3, 24),
 ('AGGRAVATED ASSAULT', 2012, 10, 28),
 ('ROBBERY', 2016, 10, 30),
 ('AGGRAVATED ASSAULT', 2014, 4, 2),
 ('AUTO THEFT', 2018, 6, 6),
 ('RESIDENTIAL BURGLARY', 2017, 8, 17),
 ('AGGRAVATED ASSAULT', 2014, 11, 6),
 ('LARCENY', 2018, 10, 21),
 ('AGGRAVATED ASSAULT', 2019, 1, 12),
 ('AUTO THEFT', 2015, 12, 8),
 ('LARCENY', 2013, 6, 1),
 ('RESIDENTIAL BURGLARY', 2015, 9, 15),
 ('RESIDENTIAL BURGLARY', 2015, 6, 17),
 ('RESIDENTIAL BURGLARY', 2016, 7, 12),
 ('AUTO THEFT', 2017, 4, 21),
 ('ROBBERY', 2014, 8, 24),
 ('AUTO THEFT', 2013, 11, 10),
 ('HOMICIDE', 2012, 10, 1),
 ('HOMICIDE', 2017, 11, 20),
 ('RESIDENTIAL BURGLARY', 2015, 5, 28),
 ('AGGRAVATED ASSAULT', 2013, 3, 29),
 ('COMMERCIAL BURGLARY', 2013, 6, 29),
 ('AUTO THEFT', 2012, 11, 21),
 ('LARCENY', 2014, 9, 18),
 ('RESIDENTIAL BURGLARY', 2017, 12, 24),
 ('ROBBERY', 2013, 1, 12),
 ('AGGRAVATED ASSAULT', 2015, 2, 21),
 ('ROBBERY', 2017, 6, 29),
 ('COMMERCIAL BURGLARY', 2018, 8, 1),
 ('AUTO THEFT', 2016, 3, 19),
 ('COMMERCIAL BURGLARY', 2013, 5, 8),
 ('AUTO THEFT', 2012, 8, 24),
 ('LARCENY', 2016, 5, 11),
 ('ROBBERY', 2018, 4, 2),
 ('RESIDENTIAL BURGLARY', 2014, 2, 18),
 ('LARCENY', 2018, 2, 7),
 ('COMMERCIAL BURGLARY', 2019, 6, 15),
 ('LARCENY', 2016, 6, 18),
 ('AGGRAVATED ASSAULT', 2017, 1, 1),
 ('ROBBERY', 2019, 6, 27),
 ('AGGRAVATED ASSAULT', 2014, 1, 23),
 ('AUTO THEFT', 2013, 2, 4),
 ('ROBBERY', 2012, 8, 11),
 ('COMMERCIAL BURGLARY', 2017, 9, 3),
 ('OTHER BURGLARY', 2018, 1, 9),
 ('RESIDENTIAL BURGLARY', 2018, 8, 8),
 ('ROBBERY', 2017, 2, 14),
 ('AGGRAVATED ASSAULT', 2019, 4, 17),
 ('AUTO THEFT', 2015, 6, 29),
 ('COMMERCIAL BURGLARY', 2012, 10, 30),
 ('RESIDENTIAL BURGLARY', 2015, 12, 2),
 ('LARCENY', 2013, 9, 22),
 ('AUTO THEFT', 2017, 10, 2),
 ('AGGRAVATED ASSAULT', 2013, 11, 27),
 ('ROBBERY', 2019, 3, 4),
 ('AUTO THEFT', 2013, 1, 25),
 ('LARCENY', 2017, 12, 10),
 ('RESIDENTIAL BURGLARY', 2013, 5, 9),
 ('AGGRAVATED ASSAULT', 2015, 5, 1),
 ('LARCENY', 2015, 12, 24),
 ('AGGRAVATED ASSAULT', 2015, 10, 7),
 ('ROBBERY', 2015, 7, 8),
 ('AGGRAVATED ASSAULT', 2016, 2, 3),
 ('COMMERCIAL BURGLARY', 2013, 12, 14),
 ('HOMICIDE', 2018, 5, 15),
 ('RESIDENTIAL BURGLARY', 2012, 10, 14),
 ('RESIDENTIAL BURGLARY', 2017, 6, 13),
 ('ROBBERY', 2013, 11, 25),
 ('COMMERCIAL BURGLARY', 2016, 6, 5),
 ('AGGRAVATED ASSAULT', 2018, 3, 23),
 ('AUTO THEFT', 2014, 8, 5),
 ('LARCENY', 2018, 11, 7),
 ('RESIDENTIAL BURGLARY', 2014, 11, 4),
 ('RESIDENTIAL BURGLARY', 2019, 1, 9),
 ('AGGRAVATED ASSAULT', 2012, 12, 21),
 ('ROBBERY', 2015, 4, 29),
 ('ROBBERY', 2016, 4, 1),
 ('AGGRAVATED ASSAULT', 2014, 9, 5),
 ('AUTO THEFT', 2013, 10, 22),
 ('LARCENY', 2015, 8, 19),
 ('ROBBERY', 2018, 11, 21),
 ('ROBBERY', 2016, 7, 28),
 ('AUTO THEFT', 2017, 2, 28),
 ('RESIDENTIAL BURGLARY', 2016, 8, 21),
 ('RESIDENTIAL BURGLARY', 2013, 12, 1),
 ('AUTO THEFT', 2013, 9, 7),
 ('LARCENY', 2017, 4, 20),
 ('AGGRAVATED ASSAULT', 2016, 11, 11),
 ('AGGRAVATED ASSAULT', 2013, 5, 2),
 ('AUTO THEFT', 2017, 1, 9),
 ('LARCENY', 2019, 3, 6),
 ('LARCENY', 2014, 7, 29),
 ('ROBBERY', 2013, 3, 31),
 ('LARCENY', 2017, 7, 17),
 ('AGGRAVATED ASSAULT', 2018, 12, 7),
 ('ROBBERY', 2018, 7, 26),
 ('AUTO THEFT', 2014, 1, 5),
 ('LARCENY', 2018, 12, 23),
 ('OTHER BURGLARY', 2017, 12, 31),
 ('ROBBERY', 2016, 3, 13),
 ('AGGRAVATED ASSAULT', 2016, 7, 22),
 ('COMMERCIAL BURGLARY', 2013, 11, 25),
 ('ROBBERY', 2016, 12, 19),
 ('AUTO THEFT', 2018, 9, 3),
 ('LARCENY', 2014, 4, 16),
 ('RESIDENTIAL BURGLARY', 2017, 1, 26),
 ('COMMERCIAL BURGLARY', 2016, 11, 16),
 ('HOMICIDE', 2016, 6, 15),
 ('AUTO THEFT', 2014, 2, 24),
 ('AGGRAVATED ASSAULT', 2012, 9, 8),
 ('ROBBERY', 2014, 6, 9),
 ('LARCENY', 2016, 8, 23),
 ('AGGRAVATED ASSAULT', 2017, 3, 2),
 ('RESIDENTIAL BURGLARY', 2013, 11, 13),
 ('ROBBERY', 2012, 10, 30),
 ('RESIDENTIAL BURGLARY', 2013, 4, 19),
 ('AGGRAVATED ASSAULT', 2019, 2, 16),
 ('COMMERCIAL BURGLARY', 2012, 8, 11),
 ('AUTO THEFT', 2015, 9, 4),
 ('COMMERCIAL BURGLARY', 2019, 3, 19),
 ('AUTO THEFT', 2017, 8, 1),
 ('LARCENY', 2013, 11, 11),
 ('RESIDENTIAL BURGLARY', 2015, 10, 5),
 ('RESIDENTIAL BURGLARY', 2016, 2, 8),
 ('ROBBERY', 2014, 5, 28),
 ('ROBBERY', 2019, 1, 7),
 ('RESIDENTIAL BURGLARY', 2013, 7, 26),
 ('RESIDENTIAL BURGLARY', 2018, 3, 26),
 ('AGGRAVATED ASSAULT', 2015, 8, 26),
 ('AUTO THEFT', 2014, 9, 23),
 ('LARCENY', 2012, 11, 16),
 ('ROBBERY', 2017, 8, 20),
 ('AGGRAVATED ASSAULT', 2016, 12, 4),
 ('COMMERCIAL BURGLARY', 2013, 3, 27),
 ('LARCENY', 2016, 12, 20),
 ('AUTO THEFT', 2018, 1, 29),
 ('COMMERCIAL BURGLARY', 2016, 4, 6),
 ('LARCENY', 2014, 12, 14),
 ('RESIDENTIAL BURGLARY', 2017, 9, 20),
 ('COMMERCIAL BURGLARY', 2015, 7, 14),
 ('AUTO THEFT', 2014, 10, 6),
 ('LARCENY', 2018, 9, 10),
 ('RESIDENTIAL BURGLARY', 2014, 9, 7),
 ('AUTO THEFT', 2016, 6, 25),
 ('AGGRAVATED ASSAULT', 2017, 10, 8),
 ('AUTO THEFT', 2018, 2, 8),
 ('LARCENY', 2015, 6, 30),
 ('RESIDENTIAL BURGLARY', 2018, 7, 17),
 ('RESIDENTIAL BURGLARY', 2014, 5, 26),
 ('LARCENY', 2013, 2, 3),
 ('RESIDENTIAL BURGLARY', 2016, 10, 22),
 ('AGGRAVATED ASSAULT', 2017, 6, 23),
 ('COMMERCIAL BURGLARY', 2014, 8, 24),
 ('AGGRAVATED ASSAULT', 2014, 12, 25),
 ('LARCENY', 2015, 5, 15),
 ('COMMERCIAL BURGLARY', 2017, 10, 17),
 ('RESIDENTIAL BURGLARY', 2018, 11, 28),
 ('ROBBERY', 2017, 1, 6),
 ('AUTO THEFT', 2015, 3, 23),
 ('AGGRAVATED ASSAULT', 2013, 7, 7),
 ('LARCENY', 2019, 1, 3),
 ('AGGRAVATED ASSAULT', 2013, 8, 9),
 ('LARCENY', 2014, 5, 12),
 ('ROBBERY', 2013, 5, 10),
 ('LARCENY', 2017, 9, 22),
 ('AGGRAVATED ASSAULT', 2018, 10, 8),
 ('AUTO THEFT', 2014, 3, 4),
 ('RESIDENTIAL BURGLARY', 2014, 1, 21),
 ('ROBBERY', 2015, 2, 4),
 ('AGGRAVATED ASSAULT', 2016, 1, 17),
 ('COMMERCIAL BURGLARY', 2013, 9, 10),
 ('HOMICIDE', 2018, 8, 1),
 ('AUTO THEFT', 2012, 12, 10),
 ('AUTO THEFT', 2018, 11, 14),
 ('LARCENY', 2014, 2, 17),
 ('RESIDENTIAL BURGLARY', 2012, 9, 6),
 ('RESIDENTIAL BURGLARY', 2017, 3, 7),
 ('ROBBERY', 2013, 6, 19),
 ('AGGRAVATED ASSAULT', 2018, 6, 29),
 ('AUTO THEFT', 2014, 4, 25),
 ('AUTO THEFT', 2016, 12, 12),
 ('RESIDENTIAL BURGLARY', 2019, 2, 27),
 ('AGGRAVATED ASSAULT', 2012, 11, 27),
 ('AUTO THEFT', 2015, 8, 24),
 ('COMMERCIAL BURGLARY', 2019, 2, 9),
 ('LARCENY', 2013, 10, 17),
 ('ROBBERY', 2016, 9, 23),
 ('OTHER BURGLARY', 2016, 5, 28),
 ('AUTO THEFT', 2013, 6, 2),
 ('ROBBERY', 2012, 12, 9),
 ('COMMERCIAL BURGLARY', 2017, 5, 5),
 ('ROBBERY', 2018, 12, 27),
 ('AUTO THEFT', 2015, 11, 5),
 ('RESIDENTIAL BURGLARY', 2015, 8, 4),
 ('RESIDENTIAL BURGLARY', 2016, 4, 9),
 ('ROBBERY', 2014, 11, 21),
 ('AUTO THEFT', 2017, 7, 24),
 ('RESIDENTIAL BURGLARY', 2013, 1, 23),
 ('AUTO THEFT', 2019, 3, 15),
 ('AGGRAVATED ASSAULT', 2018, 2, 10),
 ('AUTO THEFT', 2016, 8, 29),
 ('RESIDENTIAL BURGLARY', 2019, 6, 18),
 ('ROBBERY', 2015, 11, 6),
 ('RESIDENTIAL BURGLARY', 2015, 4, 27),
 ('AGGRAVATED ASSAULT', 2013, 2, 26),
 ('COMMERCIAL BURGLARY', 2013, 1, 8),
 ('LARCENY', 2014, 10, 3),
 ('RESIDENTIAL BURGLARY', 2017, 11, 21),
 ('COMMERCIAL BURGLARY', 2015, 9, 27),
 ('ROBBERY', 2018, 8, 18),
 ('AUTO THEFT', 2014, 12, 27),
 ('RESIDENTIAL BURGLARY', 2014, 6, 2),
 ('AUTO THEFT', 2016, 4, 10),
 ('COMMERCIAL BURGLARY', 2013, 4, 23),
 ('LARCENY', 2016, 2, 2),
 ('LARCENY', 2015, 4, 13),
 ('RESIDENTIAL BURGLARY', 2018, 5, 16),
 ('LARCENY', 2018, 3, 16),
 ('AUTO THEFT', 2015, 2, 5),
 ('AUTO THEFT', 2016, 1, 25),
 ('RESIDENTIAL BURGLARY', 2016, 12, 11),
 ('ROBBERY', 2014, 3, 7),
 ('COMMERCIAL BURGLARY', 2014, 10, 9),
 ('RESIDENTIAL BURGLARY', 2013, 8, 7),
 ('LARCENY', 2015, 3, 16),
 ('ROBBERY', 2012, 7, 18),
 ('AGGRAVATED ASSAULT', 2015, 1, 17),
 ('RESIDENTIAL BURGLARY', 2018, 9, 15),
 ('ROBBERY', 2015, 12, 16),
 ('ROBBERY', 2017, 3, 5),
 ('AUTO THEFT', 2015, 5, 24),
 ('COMMERCIAL BURGLARY', 2012, 11, 25),
 ('RESIDENTIAL BURGLARY', 2016, 1, 28),
 ('AGGRAVATED ASSAULT', 2013, 10, 24),
 ('ROBBERY', 2019, 4, 17),
 ('COMMERCIAL BURGLARY', 2016, 10, 13),
 ('OTHER BURGLARY', 2019, 6, 27),
 ('AGGRAVATED ASSAULT', 2018, 8, 25),
 ('COMMERCIAL BURGLARY', 2015, 1, 21),
 ('AUTO THEFT', 2014, 5, 3),
 ('COMMERCIAL BURGLARY', 2018, 6, 4),
 ('LARCENY', 2018, 7, 31),
 ('RESIDENTIAL BURGLARY', 2012, 11, 5),
 ('LARCENY', 2016, 11, 8),
 ('RESIDENTIAL BURGLARY', 2017, 5, 8),
 ('ROBBERY', 2013, 8, 20),
 ('AUTO THEFT', 2018, 4, 27),
 ('HOMICIDE', 2015, 6, 2),
 ('COMMERCIAL BURGLARY', 2017, 4, 27),
 ('RESIDENTIAL BURGLARY', 2014, 12, 17),
 ('LARCENY', 2018, 4, 14),
 ('AGGRAVATED ASSAULT', 2019, 3, 13),
 ('LARCENY', 2013, 4, 16),
 ('AUTO THEFT', 2017, 9, 28),
 ('RESIDENTIAL BURGLARY', 2016, 5, 19),
 ('ROBBERY', 2014, 10, 7),
 ('RESIDENTIAL BURGLARY', 2012, 7, 24),
 ('COMMERCIAL BURGLARY', 2014, 2, 23),
 ('AUTO THEFT', 2013, 4, 1),
 ('AGGRAVATED ASSAULT', 2014, 10, 8),
 ('LARCENY', 2015, 11, 2),
 ('RESIDENTIAL BURGLARY', 2018, 2, 15),
 ('ROBBERY', 2017, 11, 19),
 ('HOMICIDE', 2017, 9, 5),
 ('LARCENY', 2013, 7, 13),
 ('AUTO THEFT', 2017, 5, 9),
 ('RESIDENTIAL BURGLARY', 2016, 9, 30),
 ('ROBBERY', 2013, 12, 21),
 ('COMMERCIAL BURGLARY', 2014, 7, 20),
 ('AUTO THEFT', 2013, 8, 28),
 ('LARCENY', 2017, 3, 1),
 ('LARCENY', 2012, 7, 18),
 ('RESIDENTIAL BURGLARY', 2019, 4, 17),
 ('RESIDENTIAL BURGLARY', 2014, 7, 30),
 ('ROBBERY', 2015, 9, 5),
 ('AGGRAVATED ASSAULT', 2016, 8, 10),
 ('AGGRAVATED ASSAULT', 2013, 4, 13),
 ('LARCENY', 2019, 2, 17),
 ('LARCENY', 2017, 6, 30),
 ('COMMERCIAL BURGLARY', 2015, 11, 8),
 ('ROBBERY', 2018, 6, 29),
 ('RESIDENTIAL BURGLARY', 2014, 4, 15),
 ('AUTO THEFT', 2016, 2, 7),
 ('ROBBERY', 2016, 2, 2),
 ('COMMERCIAL BURGLARY', 2013, 10, 26),
 ('AGGRAVATED ASSAULT', 2014, 3, 2),
 ('ROBBERY', 2018, 5, 16),
 ('COMMERCIAL BURGLARY', 2017, 11, 12),
 ('LARCENY', 2019, 6, 24),
 ('ROBBERY', 2014, 1, 4),
 ('OTHER BURGLARY', 2016, 6, 8),
 ('ROBBERY', 2019, 5, 15),
 ('RESIDENTIAL BURGLARY', 2013, 10, 2),
 ('LARCENY', 2017, 10, 9),
 ('LARCENY', 2015, 1, 17),
 ('ROBBERY', 2012, 9, 23),
 ('AGGRAVATED ASSAULT', 2015, 7, 30),
 ('AUTO THEFT', 2019, 5, 26),
 ('OTHER BURGLARY', 2018, 2, 9),
 ('HOMICIDE', 2017, 12, 24),
 ('LARCENY', 2019, 5, 13),
 ('AGGRAVATED ASSAULT', 2013, 12, 15),
 ('RESIDENTIAL BURGLARY', 2013, 6, 25),
 ('COMMERCIAL BURGLARY', 2015, 3, 22),
 ('AGGRAVATED ASSAULT', 2018, 5, 2),
 ('AUTO THEFT', 2014, 7, 14),
 ('AGGRAVATED ASSAULT', 2015, 11, 11),
 ('LARCENY', 2012, 8, 5),
 ('AUTO THEFT', 2016, 11, 23),
 ('RESIDENTIAL BURGLARY', 2019, 3, 14),
 ('OTHER BURGLARY', 2017, 5, 26),
 ('ROBBERY', 2016, 10, 16),
 ('COMMERCIAL BURGLARY', 2013, 2, 28),
 ('AGGRAVATED ASSAULT', 2014, 4, 12),
 ('AUTO THEFT', 2018, 6, 8),
 ('RESIDENTIAL BURGLARY', 2017, 8, 31),
 ('AUTO THEFT', 2014, 11, 29),
 ('LARCENY', 2018, 10, 27),
 ('AGGRAVATED ASSAULT', 2019, 1, 30),
 ('RESIDENTIAL BURGLARY', 2014, 10, 30),
 ('COMMERCIAL BURGLARY', 2018, 12, 30),
 ('LARCENY', 2013, 6, 19),
 ('RESIDENTIAL BURGLARY', 2016, 7, 30),
 ('ROBBERY', 2014, 8, 10),
 ('AGGRAVATED ASSAULT', 2017, 9, 13),
 ('LARCENY', 2016, 1, 18),
 ('AUTO THEFT', 2018, 3, 23),
 ('COMMERCIAL BURGLARY', 2014, 4, 8),
 ('RESIDENTIAL BURGLARY', 2013, 2, 16),
 ('LARCENY', 2015, 9, 7),
 ('ROBBERY', 2017, 5, 30),
 ('HOMICIDE', 2017, 11, 6),
 ('LARCENY', 2013, 1, 18),
 ('RESIDENTIAL BURGLARY', 2015, 5, 14),
 ('AUTO THEFT', 2017, 3, 6),
 ('OTHER BURGLARY', 2016, 12, 21),
 ('RESIDENTIAL BURGLARY', 2016, 11, 13),
 ('AGGRAVATED ASSAULT', 2017, 5, 30),
 ('AGGRAVATED ASSAULT', 2015, 2, 3),
 ('ROBBERY', 2017, 6, 15),
 ('AGGRAVATED ASSAULT', 2016, 10, 31),
 ('AGGRAVATED ASSAULT', 2016, 5, 1),
 ('AUTO THEFT', 2012, 8, 10),
 ('LARCENY', 2014, 6, 1),
 ('LARCENY', 2016, 5, 25),
 ('ROBBERY', 2013, 2, 3),
 ('AGGRAVATED ASSAULT', 2018, 11, 27),
 ('ROBBERY', 2018, 4, 12),
 ('LARCENY', 2018, 2, 21),
 ('COMMERCIAL BURGLARY', 2019, 6, 25),
 ('LARCENY', 2016, 6, 12),
 ('AGGRAVATED ASSAULT', 2017, 1, 15),
 ('AGGRAVATED ASSAULT', 2014, 1, 1),
 ('AUTO THEFT', 2013, 2, 18),
 ('HOMICIDE', 2015, 3, 14),
 ('ROBBERY', 2018, 3, 17),
 ('COMMERCIAL BURGLARY', 2017, 9, 29),
 ('RESIDENTIAL BURGLARY', 2018, 8, 26),
 ('AGGRAVATED ASSAULT', 2019, 4, 3),
 ('AUTO THEFT', 2015, 6, 15),
 ('AGGRAVATED ASSAULT', 2012, 8, 10),
 ('COMMERCIAL BURGLARY', 2012, 10, 12),
 ('LARCENY', 2013, 9, 4),
 ('AUTO THEFT', 2017, 10, 16),
 ('RESIDENTIAL BURGLARY', 2015, 12, 12),
 ('OTHER BURGLARY', 2016, 4, 27),
 ('AUTO THEFT', 2013, 1, 11),
 ('LARCENY', 2017, 12, 24),
 ('AGGRAVATED ASSAULT', 2015, 5, 19),
 ('LARCENY', 2015, 12, 10),
 ('ROBBERY', 2015, 7, 30),
 ('AUTO THEFT', 2015, 10, 18),
 ('RESIDENTIAL BURGLARY', 2015, 11, 17),
 ('AGGRAVATED ASSAULT', 2016, 2, 29),
 ('COMMERCIAL BURGLARY', 2013, 12, 16),
 ('AUTO THEFT', 2017, 6, 27),
 ('ROBBERY', 2013, 11, 11),
 ('AUTO THEFT', 2019, 2, 20),
 ('AGGRAVATED ASSAULT', 2018, 3, 5),
 ('COMMERCIAL BURGLARY', 2015, 5, 11),
 ('LARCENY', 2012, 10, 6),
 ('AUTO THEFT', 2016, 9, 18),
 ('RESIDENTIAL BURGLARY', 2019, 1, 27),
 ('ROBBERY', 2015, 4, 15),
 ('LARCENY', 2014, 11, 28),
 ('RESIDENTIAL BURGLARY', 2017, 10, 2),
 ('AGGRAVATED ASSAULT', 2014, 9, 23),
 ('COMMERCIAL BURGLARY', 2015, 8, 28),
 ('ROBBERY', 2018, 11, 3),
 ('RESIDENTIAL BURGLARY', 2014, 8, 19),
 ('LARCENY', 2018, 8, 8),
 ('AUTO THEFT', 2016, 5, 9),
 ('ROBBERY', 2016, 7, 14),
 ('AGGRAVATED ASSAULT', 2017, 11, 30),
 ('AGGRAVATED ASSAULT', 2017, 4, 2),
 ('RESIDENTIAL BURGLARY', 2013, 12, 31),
 ('AUTO THEFT', 2013, 9, 9),
 ('LARCENY', 2017, 4, 26),
 ('RESIDENTIAL BURGLARY', 2018, 6, 5),
 ('OTHER BURGLARY', 2018, 4, 10),
 ('ROBBERY', 2017, 7, 13),
 ('LARCENY', 2013, 3, 23),
 ('RESIDENTIAL BURGLARY', 2015, 3, 3),
 ('AGGRAVATED ASSAULT', 2013, 5, 16),
 ('LARCENY', 2019, 3, 20),
 ('ROBBERY', 2014, 2, 16),
 ('LARCENY', 2017, 7, 3),
 ('COMMERCIAL BURGLARY', 2015, 12, 19),
 ('AUTO THEFT', 2014, 1, 19),
 ('OTHER BURGLARY', 2015, 8, 20),
 ('COMMERCIAL BURGLARY', 2018, 10, 28),
 ('COMMERCIAL BURGLARY', 2013, 11, 15),
 ('AGGRAVATED ASSAULT', 2013, 9, 5),
 ('AUTO THEFT', 2018, 9, 17),
 ('LARCENY', 2014, 4, 2),
 ('RESIDENTIAL BURGLARY', 2017, 1, 8),
 ('COMMERCIAL BURGLARY', 2016, 11, 6),
 ('AGGRAVATED ASSAULT', 2018, 9, 22),
 ('AUTO THEFT', 2014, 2, 10),
 ('RESIDENTIAL BURGLARY', 2012, 8, 16),
 ('LARCENY', 2016, 8, 5),
 ('AGGRAVATED ASSAULT', 2017, 3, 28),
 ('AUTO THEFT', 2018, 5, 28),
 ('ROBBERY', 2012, 10, 8),
 ('ROBBERY', 2018, 1, 18),
 ('LARCENY', 2018, 5, 21),
 ('AGGRAVATED ASSAULT', 2019, 2, 6),
 ('AGGRAVATED ASSAULT', 2012, 10, 7),
 ('COMMERCIAL BURGLARY', 2019, 3, 29),
 ('AUTO THEFT', 2017, 8, 19),
 ('LARCENY', 2013, 11, 5),
 ('RESIDENTIAL BURGLARY', 2016, 2, 26),
 ('ROBBERY', 2014, 5, 14),
 ('ROBBERY', 2019, 1, 9),
 ('COMMERCIAL BURGLARY', 2014, 3, 12),
 ('AUTO THEFT', 2013, 7, 20),
 ('RESIDENTIAL BURGLARY', 2013, 7, 12),
 ('AUTO THEFT', 2019, 1, 8),
 ('LARCENY', 2015, 10, 29),
 ('RESIDENTIAL BURGLARY', 2018, 3, 8),
 ('AGGRAVATED ASSAULT', 2015, 8, 20),
 ('ROBBERY', 2017, 8, 2),
 ('AUTO THEFT', 2015, 12, 21),
 ('RESIDENTIAL BURGLARY', 2015, 9, 18),
 ('AGGRAVATED ASSAULT', 2016, 12, 10),
 ('AUTO THEFT', 2017, 4, 14),
 ('HOMICIDE', 2012, 10, 28),
 ('AGGRAVATED ASSAULT', 2018, 1, 4),
 ('AUTO THEFT', 2014, 10, 8),
 ('RESIDENTIAL BURGLARY', 2014, 9, 9),
 ('ROBBERY', 2015, 10, 24),
 ('AGGRAVATED ASSAULT', 2016, 9, 21),
 ('ROBBERY', 2016, 6, 18),
 ('COMMERCIAL BURGLARY', 2016, 1, 23),
 ('LARCENY', 2014, 9, 15),
 ('RESIDENTIAL BURGLARY', 2017, 12, 5),
 ('ROBBERY', 2013, 1, 17),
 ('HOMICIDE', 2016, 11, 12),
 ('RESIDENTIAL BURGLARY', 2014, 5, 20),
 ('ROBBERY', 2014, 12, 12),
 ('ROBBERY', 2016, 1, 19),
 ('RESIDENTIAL BURGLARY', 2016, 10, 24),
 ('AGGRAVATED ASSAULT', 2017, 6, 1),
 ('AGGRAVATED ASSAULT', 2014, 12, 11),
 ('LARCENY', 2015, 5, 1),
 ('RESIDENTIAL BURGLARY', 2018, 4, 6),
 ('COMMERCIAL BURGLARY', 2017, 10, 7),
 ('OTHER BURGLARY', 2018, 6, 25),
 ('AUTO THEFT', 2015, 3, 9),
 ('AGGRAVATED ASSAULT', 2013, 7, 17),
 ('LARCENY', 2019, 1, 21),
 ('LARCENY', 2014, 5, 30),
 ('ROBBERY', 2013, 5, 24),
 ('RESIDENTIAL BURGLARY', 2013, 9, 19),
 ('LARCENY', 2017, 9, 4),

In [155]:
len(crime_set) * len(time_set)

20416

In [152]:
crime_set = set(crime_list)
time_set = set(time_tuple_list)

In [153]:
full_set = {(crime, time.year, time.month, time.day) for crime in crime_set for time in time_set}

In [154]:
len(full_set)

20416

In [156]:
zeroset = full_set - cset

In [158]:
cset - full_set

set()

In [155]:
uzeroset = cset - full_set

In [159]:
len(zeroset) + len(cset) - len(full_set)

0

In [160]:
full_set.issuperset(cset)

True

In [161]:
import datetime
dicc = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3: 'Thursday',4: 'Friday', 5: 'Saturday', 6: 'Sunday'}
def process_row(tup):
    dicc_list = []
    dayw = dicc[datetime.date(tup[1], tup[2], tup[3]).weekday()]
    for i in range(24):
        ind_dic = {'crime': tup[0], 'year': tup[1], 'month': tup[2], 'day': tup[3], 'dayw': dayw, 'hour': i, 'counts': 0}
        dicc_list.append(ind_dic)
    return dicc_list

In [164]:
def process_set(zeroset):
    dicc_list = []
    for row in zeroset:
        dicc_list.extend(process_row(row))
    return dicc_list

In [165]:
zero_dicc_list = process_set(zeroset)

In [166]:
len(zero_dicc_list)

132240

In [167]:
24 * len(zeroset)

132240

In [168]:
df_zero = pd.DataFrame(zero_dicc_list, columns = ['crime', 'year', 'month', 'day', 'dayw', 'hour', 'counts'])

In [169]:
df_zero.head()

            crime  year  month  day      dayw  hour  counts
0  OTHER BURGLARY  2013      5    4  Saturday     0       0
1  OTHER BURGLARY  2013      5    4  Saturday     1       0
2  OTHER BURGLARY  2013      5    4  Saturday     2       0
3  OTHER BURGLARY  2013      5    4  Saturday     3       0
4  OTHER BURGLARY  2013      5    4  Saturday     4       0

In [170]:
df_zero.shape

(132240, 7)

In [185]:
df_temp.rename(index = str, columns = {0:'counts'}, inplace = True)

In [186]:
df_ag = pd.concat([df_temp, df_zero], ignore_index = True)

In [187]:
df_ag.to_csv('ag.csv')

In [188]:
df_ag.dayw.value_counts()

Sunday       70080
Wednesday    70080
Tuesday      70080
Monday       70080
Friday       69888
Thursday     69888
Saturday     69888
Name: dayw, dtype: int64

In [180]:
len(crime_set)

8

In [178]:
first_day(df_final2)

'7/8/2012'

In [179]:
last_day(df_final2)

'7/3/2019'

In [189]:
df_ag.shape

(489984, 7)

In [190]:
df_ag.head()

                crime  year  month  day    dayw  hour  counts
0  AGGRAVATED ASSAULT  2012      7    8  Sunday     0       0
1  AGGRAVATED ASSAULT  2012      7    8  Sunday     1       0
2  AGGRAVATED ASSAULT  2012      7    8  Sunday     2       0
3  AGGRAVATED ASSAULT  2012      7    8  Sunday     3       0
4  AGGRAVATED ASSAULT  2012      7    8  Sunday     4       0

In [196]:
df_ag['year'] = df_ag.year.astype('category')
df_ag['month'] = df_ag.month.astype('category')
df_ag['day'] = df_ag.day.astype('category')
df_ag['dayw'] = df_ag.dayw.astype('category')
df_ag['hour'] = df_ag.hour.astype('category')
df_ag['crime'] = df_ag.crime.astype('category')
df_ag['counts'] = df_ag.counts.astype(float)

In [197]:
df_ag.dtypes

crime     category
year      category
month     category
day       category
dayw      category
hour      category
counts     float64
dtype: object

In [198]:
df_ag.crime.value_counts()

ROBBERY                 61248
RESIDENTIAL BURGLARY    61248
OTHER BURGLARY          61248
LARCENY                 61248
HOMICIDE                61248
COMMERCIAL BURGLARY     61248
AUTO THEFT              61248
AGGRAVATED ASSAULT      61248
Name: crime, dtype: int64

<a id = '2.2A'></a>
[Return to top](#top)
## 2.2 Select and split

Since we already have clean data we need to do some feature engineering.

In [239]:
df_ag2 = df_ag.groupby(['crime', 'year', 'month', 'dayw'])['counts'].sum().reset_index(name = 'counts')

In [240]:
df_ag2

                   crime  year month       dayw  counts
0     AGGRAVATED ASSAULT  2012     7     Friday    25.0
1     AGGRAVATED ASSAULT  2012     7     Monday    27.0
2     AGGRAVATED ASSAULT  2012     7   Saturday    21.0
3     AGGRAVATED ASSAULT  2012     7     Sunday    25.0
4     AGGRAVATED ASSAULT  2012     7   Thursday    14.0
5     AGGRAVATED ASSAULT  2012     7    Tuesday    33.0
6     AGGRAVATED ASSAULT  2012     7  Wednesday    17.0
7     AGGRAVATED ASSAULT  2012     8     Friday    31.0
8     AGGRAVATED ASSAULT  2012     8     Monday    21.0
9     AGGRAVATED ASSAULT  2012     8   Saturday    38.0
10    AGGRAVATED ASSAULT  2012     8     Sunday    29.0
11    AGGRAVATED ASSAULT  2012     8   Thursday    27.0
12    AGGRAVATED ASSAULT  2012     8    Tuesday    24.0
13    AGGRAVATED ASSAULT  2012     8  Wednesday    34.0
14    AGGRAVATED ASSAULT  2012     9     Friday    21.0
15    AGGRAVATED ASSAULT  2012     9     Monday    23.0
16    AGGRAVATED ASSAULT  2012     9   Saturday    36.0
17    AGGRAVATED ASSAULT  2012     9     Sunday    47.0
18    AGGRAVATED ASSAULT  2012     9   Thursday    24.0
19    AGGRAVATED ASSAULT  2012     9    Tuesday    22.0
20    AGGRAVATED ASSAULT  2012     9  Wednesday    34.0
21    AGGRAVATED ASSAULT  2012    10     Friday    21.0
22    AGGRAVATED ASSAULT  2012    10     Monday    21.0
23    AGGRAVATED ASSAULT  2012    10   Saturday    17.0
24    AGGRAVATED ASSAULT  2012    10     Sunday    26.0
25    AGGRAVATED ASSAULT  2012    10   Thursday    17.0
26    AGGRAVATED ASSAULT  2012    10    Tuesday    19.0
27    AGGRAVATED ASSAULT  2012    10  Wednesday    19.0
28    AGGRAVATED ASSAULT  2012    11     Friday    22.0
29    AGGRAVATED ASSAULT  2012    11     Monday    12.0
...                  ...   ...   ...        ...     ...
4698             ROBBERY  2019     3     Monday     5.0
4699             ROBBERY  2019     3   Saturday     4.0
4700             ROBBERY  2019     3     Sunday    11.0
4701             ROBBERY  2019     3   Thursday     9.0
4702             ROBBERY  2019     3    Tuesday     7.0
4703             ROBBERY  2019     3  Wednesday     8.0
4704             ROBBERY  2019     4     Friday     8.0
4705             ROBBERY  2019     4     Monday     8.0
4706             ROBBERY  2019     4   Saturday     9.0
4707             ROBBERY  2019     4     Sunday     7.0
4708             ROBBERY  2019     4   Thursday     5.0
4709             ROBBERY  2019     4    Tuesday    10.0
4710             ROBBERY  2019     4  Wednesday    10.0
4711             ROBBERY  2019     5     Friday    11.0
4712             ROBBERY  2019     5     Monday     7.0
4713             ROBBERY  2019     5   Saturday    14.0
4714             ROBBERY  2019     5     Sunday     4.0
4715             ROBBERY  2019     5   Thursday    19.0
4716             ROBBERY  2019     5    Tuesday     5.0
4717             ROBBERY  2019     5  Wednesday    20.0
4718             ROBBERY  2019     6     Friday     4.0
4719             ROBBERY  2019     6     Monday    15.0
4720             ROBBERY  2019     6   Saturday    13.0
4721             ROBBERY  2019     6     Sunday    18.0
4722             ROBBERY  2019     6   Thursday     7.0
4723             ROBBERY  2019     6    Tuesday     7.0
4724             ROBBERY  2019     6  Wednesday    12.0
4725             ROBBERY  2019     7     Monday     2.0
4726             ROBBERY  2019     7    Tuesday     3.0
4727             ROBBERY  2019     7  Wednesday     0.0

[4728 rows x 5 columns]

In [241]:
df_dummies = pd.get_dummies(df_ag2)

In [242]:
df_dummies.head()

,counts,crime_AGGRAVATED ASSAULT,crime_AUTO THEFT,crime_COMMERCIAL BURGLARY,crime_HOMICIDE,crime_LARCENY,crime_OTHER BURGLARY,crime_RESIDENTIAL BURGLARY,crime_ROBBERY,year_2012,...,month_10,month_11,month_12,dayw_Friday,dayw_Monday,dayw_Saturday,dayw_Sunday,dayw_Thursday,dayw_Tuesday,dayw_Wednesday
0,25.0,1,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,27.0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,21.0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,25.0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,14.0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [243]:
df_dummies.columns

Index(['counts', 'crime_AGGRAVATED ASSAULT', 'crime_AUTO THEFT',
       'crime_COMMERCIAL BURGLARY', 'crime_HOMICIDE', 'crime_LARCENY',
       'crime_OTHER BURGLARY', 'crime_RESIDENTIAL BURGLARY', 'crime_ROBBERY',
       'year_2012', 'year_2013', 'year_2014', 'year_2015', 'year_2016',
       'year_2017', 'year_2018', 'year_2019', 'month_1', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'month_12', 'dayw_Friday', 'dayw_Monday',
       'dayw_Saturday', 'dayw_Sunday', 'dayw_Thursday', 'dayw_Tuesday',
       'dayw_Wednesday'],
      dtype='object')

In [244]:
X = df_dummies.iloc[:,1:]
y = df_dummies['counts']

In [245]:
y.shape

(4728,)

In [246]:
y.head()

0    25.0
1    27.0
2    21.0
3    25.0
4    14.0
Name: counts, dtype: float64

In [247]:
X_trainn, X_test, y_trainn, y_test = train_test_split(X, y, test_size=0.2, random_state=52)
X_train, X_val, y_train, y_val = train_test_split(X_trainn, y_trainn, test_size=0.2, random_state=52)

In [248]:
X_train.shape

(3025, 35)

In [249]:
regressor_list = []
ev_train = []
ev_test = []
r2_train = []
r2_test = []
mse_train = []
mse_test = []
mae_train = []
mae_test = []
mdae_train = []
mdae_test = []

In [250]:
def regression(regressor, x_train, x_test, y_train):
    reg = regressor
    reg.fit(x_train, y_train)
    
    y_train_reg = reg.predict(x_train)
    y_test_reg = reg.predict(x_test)
    
    return y_train_reg, y_test_reg

In [251]:
def scores(regressor, y_train, y_test, y_train_reg, y_test_reg):
    regressor_list.append(str(regressor))
    
    ev_train_c = explained_variance_score(y_train, y_train_reg)
    ev_train.append(ev_train_c)
    ev_test_c = explained_variance_score(y_test, y_test_reg)
    ev_test.append(ev_test_c)
    
    r2_train_c = r2_score(y_train, y_train_reg)
    r2_train.append(r2_train_c)
    r2_test_c = r2_score(y_test, y_test_reg)
    r2_test.append(r2_test_c)
    
    mse_train_c = mean_squared_error(y_train, y_train_reg)
    mse_train.append(mse_train_c)
    mse_test_c = mean_squared_error(y_test, y_test_reg)
    mse_test.append(mse_test_c)

    mae_train_c = mean_absolute_error(y_train, y_train_reg)
    mae_train.append(mae_train_c)
    mae_test_c = mean_absolute_error(y_test, y_test_reg)
    mae_test.append(mae_test_c)  
    
    mdae_train_c = median_absolute_error(y_train, y_train_reg)
    mdae_train.append(mdae_train_c)
    mdae_test_c = median_absolute_error(y_test, y_test_reg)
    mdae_test.append(mdae_test_c)
    
    print("______________________________________________________________________________")
    print(str(regressor))
    print("______________________________________________________________________________")
    print("EV score. Train: ", ev_train_c)
    print("EV score. Test: ", ev_test_c)
    print("---------")
    print("R2 score. Train: ", r2_train_c)
    print("R2 score. Test: ", r2_test_c)
    print("---------")
    print("MSE score. Train: ", mse_train_c)
    print("MSE score. Test: ", mse_test_c)
    print("---------")
    print("MAE score. Train: ", mae_train_c)
    print("MAE score. Test: ", mae_test_c)
    print("---------")
    print("MdAE score. Train: ", mdae_train_c)
    print("MdAE score. Test: ", mdae_test_c)

<a id = '2.2'></a>
[Return to top](#top)
## 2.3 Linear Regressor

Let's first try linear regression.

In [252]:
lreg = LinearRegression()
lreg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(lreg, X_train, X_val, y_train)
scores(lreg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)
______________________________________________________________________________
EV score. Train:  0.8974291883673603
EV score. Test:  0.918620166399142
---------
R2 score. Train:  0.8974290524897726
R2 score. Test:  0.9185813500368686
---------
MSE score. Train:  205.59263760653408
MSE score. Test:  160.5319172747069
---------
MAE score. Train:  7.924178719008265
MAE score. Test:  7.685085039630119
---------
MdAE score. Train:  5.078125
MdAE score. Test:  4.953125

In [253]:
sgd_reg = SGDRegressor()
sgd_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(sgd_reg, X_train, X_val, y_train)
scores(sgd_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
       eta0=0.01, fit_intercept=True, l1_ratio=0.15,
       learning_rate='invscaling', loss='squared_loss', max_iter=None,
       n_iter=None, n_iter_no_change=5, penalty='l2', power_t=0.25,
       random_state=None, shuffle=True, tol=None, validation_fraction=0.1,
       verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.8881713827696872
EV score. Test:  0.9075225165392984
---------
R2 score. Train:  0.8880810837410789
R2 score. Test:  0.9075174307987326
---------
MSE score. Train:  224.32965425655345
MSE score. Test:  182.3464790326672
---------
MAE score. Train:  7.899119895244485
MAE score. Test:  7.917741562616349
---------
MdAE score. Train:  4.977041601851051
MdAE score. Test:  5.150135296839942

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDRegressor in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDRegressor in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

<a id = '2.3'></a>
[Return to top](#top)
## 2.4 BaggingRegressor, AdaBoostRegressor, ExtraTreesRegressor

In [254]:
ba_reg = BaggingRegressor()
ba_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(ba_reg, X_train, X_val, y_train)
scores(ba_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
BaggingRegressor(base_estimator=None, bootstrap=True,
         bootstrap_features=False, max_features=1.0, max_samples=1.0,
         n_estimators=10, n_jobs=None, oob_score=False, random_state=None,
         verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.9891707397592912
EV score. Test:  0.9453055889899714
---------
R2 score. Train:  0.9891706342060911
R2 score. Test:  0.945258647310766
---------
MSE score. Train:  21.706320661157022
MSE score. Test:  107.93269484808452
---------
MAE score. Train:  2.301487603305785
MAE score. Test:  5.834478203434611
---------
MdAE score. Train:  0.9000000000000004
MdAE score. Test:  2.9

In [266]:
ada_reg = AdaBoostRegressor(learning_rate=1,n_estimators=100)
ada_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(ada_reg, X_train, X_val, y_train)
scores(ada_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
AdaBoostRegressor(base_estimator=None, learning_rate=1, loss='linear',
         n_estimators=100, random_state=None)
______________________________________________________________________________
EV score. Train:  0.9194100308069237
EV score. Test:  0.9201352669291886
---------
R2 score. Train:  0.9135125575569653
R2 score. Test:  0.9166751189312623
---------
MSE score. Train:  173.354949362575
MSE score. Test:  164.29040423427
---------
MAE score. Train:  9.234027397168221
MAE score. Test:  8.97835286706214
---------
MdAE score. Train:  7.719128329297821
MdAE score. Test:  7.719128329297821

In [263]:
et_reg = ExtraTreesRegressor(n_estimators=100)
et_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(et_reg, X_train, X_val, y_train)
scores(et_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
          max_features='auto', max_leaf_nodes=None,
          min_impurity_decrease=0.0, min_impurity_split=None,
          min_samples_leaf=1, min_samples_split=2,
          min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
          oob_score=False, random_state=None, verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  1.0
EV score. Test:  0.9241750125335876
---------
R2 score. Train:  1.0
R2 score. Test:  0.924173928340001
---------
MSE score. Train:  0.0
MSE score. Test:  149.50511545574636
---------
MAE score. Train:  0.0
MAE score. Test:  6.864597093791281
---------
MdAE score. Train:  0.0
MdAE score. Test:  3.2

<a id = '2.4'></a>
[Return to top](#top)
## 2.5 GradientBoostingRegressor, RandomForestRegressor

In [257]:
gb_reg = GradientBoostingRegressor()
gb_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(gb_reg, X_train, X_val, y_train)
scores(gb_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.9496447057714477
EV score. Test:  0.9240350884223295
---------
R2 score. Train:  0.9496447057714477
R2 score. Test:  0.9240054277399112
---------
MSE score. Train:  100.93187212557324
MSE score. Test:  149.83734553333426
---------
MAE score. Train:  5.688057304767096
MAE score. Test:  6.194826131723606
---------
MdAE score. Train:  2.984486460090949
MdAE score. Test:  2.917380161093895

In [258]:
rf_reg = RandomForestRegressor(n_estimators=100)
rf_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(rf_reg, X_train, X_val, y_train)
scores(rf_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.9919117120245021
EV score. Test:  0.9522011380688918
---------
R2 score. Train:  0.9919115422648608
R2 score. Test:  0.952198113326679
---------
MSE score. Train:  16.212459768595043
MSE score. Test:  94.25025495376488
---------
MAE score. Train:  2.093910743801653
MAE score. Test:  5.567873183619551
---------
MdAE score. Train:  0.9600000000000009
MdAE score. Test:  2.9200000000000017

In [267]:
import lightgbm as lgb
gbm = lgb.LGBMRegressor(num_leaves=31,
                        learning_rate=0.01,
                        n_estimators=1000)
gbm.fit(X_train, y_train,
        eval_set=[(X_test, y_test)],
        eval_metric='l1',
        early_stopping_rounds=5)

#print('Starting predicting...')
# predict
y_train_reg = gbm.predict(X_train, num_iteration=gbm.best_iteration_)
y_val_reg = gbm.predict(X_val, num_iteration=gbm.best_iteration_)
scores(gbm, y_train, y_val, y_train_reg, y_val_reg)

[1]	valid_0's l2: 1934.47	valid_0's l1: 28.3502
Training until validation scores don't improve for 5 rounds.
[2]	valid_0's l2: 1897.14	valid_0's l1: 28.083
[3]	valid_0's l2: 1860.55	valid_0's l1: 27.8182
[4]	valid_0's l2: 1824.68	valid_0's l1: 27.555
[5]	valid_0's l2: 1789.56	valid_0's l1: 27.2958
[6]	valid_0's l2: 1755.16	valid_0's l1: 27.0381
[7]	valid_0's l2: 1721.45	valid_0's l1: 26.784
[8]	valid_0's l2: 1688.32	valid_0's l1: 26.5321
[9]	valid_0's l2: 1655.88	valid_0's l1: 26.2832
[10]	valid_0's l2: 1623.94	valid_0's l1: 26.0347
[11]	valid_0's l2: 1592.68	valid_0's l1: 25.7904
[12]	valid_0's l2: 1562.04	valid_0's l1: 25.5483
[13]	valid_0's l2: 1532.04	valid_0's l1: 25.3095
[14]	valid_0's l2: 1502.64	valid_0's l1: 25.0726
[15]	valid_0's l2: 1473.85	valid_0's l1: 24.8386
[16]	valid_0's l2: 1445.62	valid_0's l1: 24.6055
[17]	valid_0's l2: 1417.99	valid_0's l1: 24.3761
[18]	valid_0's l2: 1390.91	valid_0's l1: 24.1486
[19]	valid_0's l2: 1364.4	valid_0's l1: 23.9239
[20]	valid_0's l2: 1338.42	valid_0's l1: 23.7014
[21]	valid_0's l2: 1312.99	valid_0's l1: 23.4819
[22]	valid_0's l2: 1288.07	valid_0's l1: 23.2641
[23]	valid_0's l2: 1263.67	valid_0's l1: 23.0488
[24]	valid_0's l2: 1239.71	valid_0's l1: 22.8352
[25]	valid_0's l2: 1216.29	valid_0's l1: 22.625
[26]	valid_0's l2: 1193.34	valid_0's l1: 22.4166
[27]	valid_0's l2: 1170.86	valid_0's l1: 22.2107
[28]	valid_0's l2: 1148.92	valid_0's l1: 22.0067
[29]	valid_0's l2: 1127.35	valid_0's l1: 21.8047
[30]	valid_0's l2: 1106.29	valid_0's l1: 21.6049
[31]	valid_0's l2: 1085.54	valid_0's l1: 21.4068
[32]	valid_0's l2: 1065.21	valid_0's l1: 21.21
[33]	valid_0's l2: 1045.29	valid_0's l1: 21.0155
[34]	valid_0's l2: 1025.78	valid_0's l1: 20.8235
[35]	valid_0's l2: 1006.66	valid_0's l1: 20.634
[36]	valid_0's l2: 987.94	valid_0's l1: 20.4466
[37]	valid_0's l2: 969.593	valid_0's l1: 20.2611
[38]	valid_0's l2: 951.629	valid_0's l1: 20.0772
[39]	valid_0's l2: 934.021	valid_0's l1: 19.8955
[40]	valid_0's l2: 916.783	valid_0's l1: 19.716
[41]	valid_0's l2: 899.885	valid_0's l1: 19.5382
[42]	valid_0's l2: 883.477	valid_0's l1: 19.3627
[43]	valid_0's l2: 867.407	valid_0's l1: 19.1899
[44]	valid_0's l2: 851.639	valid_0's l1: 19.0183
[45]	valid_0's l2: 836.199	valid_0's l1: 18.848
[46]	valid_0's l2: 821.066	valid_0's l1: 18.6803
[47]	valid_0's l2: 806.226	valid_0's l1: 18.5128
[48]	valid_0's l2: 791.695	valid_0's l1: 18.348
[49]	valid_0's l2: 777.472	valid_0's l1: 18.1849
[50]	valid_0's l2: 763.527	valid_0's l1: 18.0242
[51]	valid_0's l2: 749.85	valid_0's l1: 17.8638
[52]	valid_0's l2: 736.653	valid_0's l1: 17.7079
[53]	valid_0's l2: 723.513	valid_0's l1: 17.5506
[54]	valid_0's l2: 710.823	valid_0's l1: 17.3962
[55]	valid_0's l2: 698.384	valid_0's l1: 17.2438
[56]	valid_0's l2: 685.86	valid_0's l1: 17.091
[57]	valid_0's l2: 673.759	valid_0's l1: 16.9414
[58]	valid_0's l2: 661.915	valid_0's l1: 16.7936
[59]	valid_0's l2: 650.295	valid_0's l1: 16.6469
[60]	valid_0's l2: 639.099	valid_0's l1: 16.5035
[61]	valid_0's l2: 627.939	valid_0's l1: 16.3606
[62]	valid_0's l2: 617.172	valid_0's l1: 16.2211
[63]	valid_0's l2: 606.456	valid_0's l1: 16.0824
[64]	valid_0's l2: 596.026	valid_0's l1: 15.9441
[65]	valid_0's l2: 585.75	valid_0's l1: 15.809
[66]	valid_0's l2: 575.766	valid_0's l1: 15.6756
[67]	valid_0's l2: 565.885	valid_0's l1: 15.5417
[68]	valid_0's l2: 556.297	valid_0's l1: 15.411
[69]	valid_0's l2: 546.788	valid_0's l1: 15.2792
[70]	valid_0's l2: 537.556	valid_0's l1: 15.1511
[71]	valid_0's l2: 528.43	valid_0's l1: 15.0233
[72]	valid_0's l2: 519.58	valid_0's l1: 14.8988
[73]	valid_0's l2: 510.821	valid_0's l1: 14.7744
[74]	valid_0's l2: 502.371	valid_0's l1: 14.6538
[75]	valid_0's l2: 493.954	valid_0's l1: 14.5326
[76]	valid_0's l2: 485.812	valid_0's l1: 14.4155
[77]	valid_0's l2: 477.72	valid_0's l1: 14.2961
[78]	valid_0's l2: 469.897	valid_0's l1: 14.1811
[79]	valid_0's l2: 462.215	valid_0's l1: 14.0658
[80]	valid_0's l2: 454.687	valid_0's l1: 13.9526
[81]	valid_0's l2: 447.35	valid_0's l1: 13.8405
[82]	valid_0's l2: 440.125	valid_0's l1: 13.7309
[83]	valid_0's l2: 433.057	valid_0's l1: 13.6216
[84]	valid_0's l2: 426.107	valid_0's l1: 13.5139
[85]	valid_0's l2: 419.363	valid_0's l1: 13.4069
[86]	valid_0's l2: 412.719	valid_0's l1: 13.303
[87]	valid_0's l2: 405.996	valid_0's l1: 13.1967
[88]	valid_0's l2: 399.495	valid_0's l1: 13.0937
[89]	valid_0's l2: 393.049	valid_0's l1: 12.9895
[90]	valid_0's l2: 386.818	valid_0's l1: 12.8887
[91]	valid_0's l2: 380.725	valid_0's l1: 12.7886
[92]	valid_0's l2: 374.678	valid_0's l1: 12.6884
[93]	valid_0's l2: 368.838	valid_0's l1: 12.5918
[94]	valid_0's l2: 363.026	valid_0's l1: 12.494
[95]	valid_0's l2: 357.387	valid_0's l1: 12.3989
[96]	valid_0's l2: 351.826	valid_0's l1: 12.3041
[97]	valid_0's l2: 346.418	valid_0's l1: 12.2122
[98]	valid_0's l2: 341.089	valid_0's l1: 12.1213
[99]	valid_0's l2: 335.935	valid_0's l1: 12.0329
[100]	valid_0's l2: 330.815	valid_0's l1: 11.9436
[101]	valid_0's l2: 325.876	valid_0's l1: 11.8574
[102]	valid_0's l2: 320.982	valid_0's l1: 11.7706
[103]	valid_0's l2: 316.254	valid_0's l1: 11.6869
[104]	valid_0's l2: 311.574	valid_0's l1: 11.6024
[105]	valid_0's l2: 307.039	valid_0's l1: 11.5198
[106]	valid_0's l2: 302.549	valid_0's l1: 11.4368
[107]	valid_0's l2: 298.209	valid_0's l1: 11.3564
[108]	valid_0's l2: 293.94	valid_0's l1: 11.2752
[109]	valid_0's l2: 289.71	valid_0's l1: 11.1943
[110]	valid_0's l2: 285.745	valid_0's l1: 11.1164
[111]	valid_0's l2: 281.709	valid_0's l1: 11.0386
[112]	valid_0's l2: 277.742	valid_0's l1: 10.9602
[113]	valid_0's l2: 274	valid_0's l1: 10.8839
[114]	valid_0's l2: 270.293	valid_0's l1: 10.8085
[115]	valid_0's l2: 266.671	valid_0's l1: 10.7348
[116]	valid_0's l2: 262.935	valid_0's l1: 10.6577
[117]	valid_0's l2: 259.458	valid_0's l1: 10.5854
[118]	valid_0's l2: 256.094	valid_0's l1: 10.5141
[119]	valid_0's l2: 252.592	valid_0's l1: 10.4417
[120]	valid_0's l2: 249.141	valid_0's l1: 10.3694
[121]	valid_0's l2: 245.937	valid_0's l1: 10.3011
[122]	valid_0's l2: 242.642	valid_0's l1: 10.232
[123]	valid_0's l2: 239.549	valid_0's l1: 10.1642
[124]	valid_0's l2: 236.516	valid_0's l1: 10.0972
[125]	valid_0's l2: 233.568	valid_0's l1: 10.0318
[126]	valid_0's l2: 230.517	valid_0's l1: 9.96534
[127]	valid_0's l2: 227.518	valid_0's l1: 9.89906
[128]	valid_0's l2: 224.731	valid_0's l1: 9.83489
[129]	valid_0's l2: 221.924	valid_0's l1: 9.7708
[130]	valid_0's l2: 219.087	valid_0's l1: 9.70574
[131]	valid_0's l2: 216.32	valid_0's l1: 9.64242
[132]	valid_0's l2: 213.715	valid_0's l1: 9.58044
[133]	valid_0's l2: 211.045	valid_0's l1: 9.51854
[134]	valid_0's l2: 208.43	valid_0's l1: 9.45735
[135]	valid_0's l2: 206.033	valid_0's l1: 9.39981
[136]	valid_0's l2: 203.663	valid_0's l1: 9.34205
[137]	valid_0's l2: 201.18	valid_0's l1: 9.28181
[138]	valid_0's l2: 198.948	valid_0's l1: 9.22703
[139]	valid_0's l2: 196.741	valid_0's l1: 9.17265
[140]	valid_0's l2: 194.424	valid_0's l1: 9.11645
[141]	valid_0's l2: 192.31	valid_0's l1: 9.06318
[142]	valid_0's l2: 190.254	valid_0's l1: 9.01046
[143]	valid_0's l2: 188.218	valid_0's l1: 8.95861
[144]	valid_0's l2: 186.267	valid_0's l1: 8.90681
[145]	valid_0's l2: 184.142	valid_0's l1: 8.85288
[146]	valid_0's l2: 182.236	valid_0's l1: 8.80224
[147]	valid_0's l2: 180.204	valid_0's l1: 8.74969
[148]	valid_0's l2: 178.339	valid_0's l1: 8.70111
[149]	valid_0's l2: 176.529	valid_0's l1: 8.65322
[150]	valid_0's l2: 174.566	valid_0's l1: 8.60156
[151]	valid_0's l2: 172.849	valid_0's l1: 8.55466
[152]	valid_0's l2: 171.091	valid_0's l1: 8.50647
[153]	valid_0's l2: 169.236	valid_0's l1: 8.45644
[154]	valid_0's l2: 167.582	valid_0's l1: 8.41119
[155]	valid_0's l2: 165.964	valid_0's l1: 8.36659
[156]	valid_0's l2: 164.408	valid_0's l1: 8.32147
[157]	valid_0's l2: 162.692	valid_0's l1: 8.27503
[158]	valid_0's l2: 161.157	valid_0's l1: 8.23211
[159]	valid_0's l2: 159.52	valid_0's l1: 8.1865
[160]	valid_0's l2: 158.122	valid_0's l1: 8.14676
[161]	valid_0's l2: 156.674	valid_0's l1: 8.10489
[162]	valid_0's l2: 155.132	valid_0's l1: 8.06174
[163]	valid_0's l2: 153.806	valid_0's l1: 8.02313
[164]	valid_0's l2: 152.512	valid_0's l1: 7.98428
[165]	valid_0's l2: 151.164	valid_0's l1: 7.9441
[166]	valid_0's l2: 149.728	valid_0's l1: 7.90201
[167]	valid_0's l2: 148.47	valid_0's l1: 7.86463
[168]	valid_0's l2: 147.093	valid_0's l1: 7.82507
[169]	valid_0's l2: 145.856	valid_0's l1: 7.78673
[170]	valid_0's l2: 144.719	valid_0's l1: 7.75163
[171]	valid_0's l2: 143.426	valid_0's l1: 7.71327
[172]	valid_0's l2: 142.337	valid_0's l1: 7.67914
[173]	valid_0's l2: 141.2	valid_0's l1: 7.6433
[174]	valid_0's l2: 139.975	valid_0's l1: 7.60648
[175]	valid_0's l2: 138.909	valid_0's l1: 7.57226
[176]	valid_0's l2: 137.901	valid_0's l1: 7.53937
[177]	valid_0's l2: 136.861	valid_0's l1: 7.50594
[178]	valid_0's l2: 135.717	valid_0's l1: 7.47113
[179]	valid_0's l2: 134.776	valid_0's l1: 7.44011

[180]	valid_0's l2: 133.851	valid_0's l1: 7.40902
[181]	valid_0's l2: 132.957	valid_0's l1: 7.37783
[182]	valid_0's l2: 131.895	valid_0's l1: 7.34487
[183]	valid_0's l2: 130.977	valid_0's l1: 7.31368
[184]	valid_0's l2: 129.941	valid_0's l1: 7.2808
[185]	valid_0's l2: 129.08	valid_0's l1: 7.251
[186]	valid_0's l2: 128.265	valid_0's l1: 7.22194
[187]	valid_0's l2: 127.294	valid_0's l1: 7.19061
[188]	valid_0's l2: 126.463	valid_0's l1: 7.16114
[189]	valid_0's l2: 125.678	valid_0's l1: 7.13328
[190]	valid_0's l2: 124.758	valid_0's l1: 7.10317
[191]	valid_0's l2: 124.028	valid_0's l1: 7.07635
[192]	valid_0's l2: 123.247	valid_0's l1: 7.0475
[193]	valid_0's l2: 122.374	valid_0's l1: 7.01829
[194]	valid_0's l2: 121.699	valid_0's l1: 6.9921
[195]	valid_0's l2: 121.009	valid_0's l1: 6.9661
[196]	valid_0's l2: 120.18	valid_0's l1: 6.93763
[197]	valid_0's l2: 119.52	valid_0's l1: 6.91204
[198]	valid_0's l2: 118.845	valid_0's l1: 6.88533
[199]	valid_0's l2: 118.071	valid_0's l1: 6.85902
[200]	valid_0's l2: 117.434	valid_0's l1: 6.83413
[201]	valid_0's l2: 116.665	valid_0's l1: 6.80733
[202]	valid_0's l2: 116.073	valid_0's l1: 6.7837
[203]	valid_0's l2: 115.492	valid_0's l1: 6.76021
[204]	valid_0's l2: 114.772	valid_0's l1: 6.73522
[205]	valid_0's l2: 114.223	valid_0's l1: 6.71257
[206]	valid_0's l2: 113.634	valid_0's l1: 6.68928
[207]	valid_0's l2: 112.95	valid_0's l1: 6.6662
[208]	valid_0's l2: 112.433	valid_0's l1: 6.64463
[209]	valid_0's l2: 111.924	valid_0's l1: 6.62349
[210]	valid_0's l2: 111.387	valid_0's l1: 6.60205
[211]	valid_0's l2: 110.746	valid_0's l1: 6.58052
[212]	valid_0's l2: 110.273	valid_0's l1: 6.56119
[213]	valid_0's l2: 109.658	valid_0's l1: 6.54094
[214]	valid_0's l2: 109.177	valid_0's l1: 6.52204
[215]	valid_0's l2: 108.585	valid_0's l1: 6.50276
[216]	valid_0's l2: 108.145	valid_0's l1: 6.4859
[217]	valid_0's l2: 107.686	valid_0's l1: 6.46814
[218]	valid_0's l2: 107.114	valid_0's l1: 6.44934
[219]	valid_0's l2: 106.685	valid_0's l1: 6.43306
[220]	valid_0's l2: 106.278	valid_0's l1: 6.41686
[221]	valid_0's l2: 105.751	valid_0's l1: 6.39985
[222]	valid_0's l2: 105.348	valid_0's l1: 6.38438
[223]	valid_0's l2: 104.829	valid_0's l1: 6.36738
[224]	valid_0's l2: 104.438	valid_0's l1: 6.35205
[225]	valid_0's l2: 104.113	valid_0's l1: 6.33728
[226]	valid_0's l2: 103.651	valid_0's l1: 6.32125
[227]	valid_0's l2: 103.29	valid_0's l1: 6.30632
[228]	valid_0's l2: 102.835	valid_0's l1: 6.29038
[229]	valid_0's l2: 102.487	valid_0's l1: 6.27627
[230]	valid_0's l2: 102.147	valid_0's l1: 6.26186
[231]	valid_0's l2: 101.684	valid_0's l1: 6.24631
[232]	valid_0's l2: 101.398	valid_0's l1: 6.23402
[233]	valid_0's l2: 100.964	valid_0's l1: 6.21926
[234]	valid_0's l2: 100.707	valid_0's l1: 6.20677
[235]	valid_0's l2: 100.427	valid_0's l1: 6.19375
[236]	valid_0's l2: 100.016	valid_0's l1: 6.17997
[237]	valid_0's l2: 99.7287	valid_0's l1: 6.16627
[238]	valid_0's l2: 99.3	valid_0's l1: 6.15155
[239]	valid_0's l2: 99.0333	valid_0's l1: 6.13865
[240]	valid_0's l2: 98.7429	valid_0's l1: 6.12525
[241]	valid_0's l2: 98.3838	valid_0's l1: 6.11226
[242]	valid_0's l2: 98.1296	valid_0's l1: 6.10007
[243]	valid_0's l2: 97.803	valid_0's l1: 6.08756
[244]	valid_0's l2: 97.5733	valid_0's l1: 6.07603
[245]	valid_0's l2: 97.2086	valid_0's l1: 6.06334
[246]	valid_0's l2: 96.9786	valid_0's l1: 6.05155
[247]	valid_0's l2: 96.6278	valid_0's l1: 6.03885
[248]	valid_0's l2: 96.3945	valid_0's l1: 6.02682
[249]	valid_0's l2: 96.0347	valid_0's l1: 6.01428
[250]	valid_0's l2: 95.829	valid_0's l1: 6.00326
[251]	valid_0's l2: 95.4891	valid_0's l1: 5.99074
[252]	valid_0's l2: 95.2852	valid_0's l1: 5.97991
[253]	valid_0's l2: 94.9896	valid_0's l1: 5.96843
[254]	valid_0's l2: 94.8103	valid_0's l1: 5.95811
[255]	valid_0's l2: 94.6317	valid_0's l1: 5.94816
[256]	valid_0's l2: 94.3164	valid_0's l1: 5.93629
[257]	valid_0's l2: 94.0734	valid_0's l1: 5.92334
[258]	valid_0's l2: 93.767	valid_0's l1: 5.91236
[259]	valid_0's l2: 93.5209	valid_0's l1: 5.89996
[260]	valid_0's l2: 93.174	valid_0's l1: 5.88713
[261]	valid_0's l2: 93.0199	valid_0's l1: 5.87778
[262]	valid_0's l2: 92.6851	valid_0's l1: 5.86568
[263]	valid_0's l2: 92.4766	valid_0's l1: 5.85457
[264]	valid_0's l2: 92.1967	valid_0's l1: 5.84435
[265]	valid_0's l2: 91.9953	valid_0's l1: 5.83352
[266]	valid_0's l2: 91.6804	valid_0's l1: 5.82197
[267]	valid_0's l2: 91.5534	valid_0's l1: 5.81418
[268]	valid_0's l2: 91.2474	valid_0's l1: 5.803
[269]	valid_0's l2: 91.0493	valid_0's l1: 5.79287
[270]	valid_0's l2: 90.807	valid_0's l1: 5.78348
[271]	valid_0's l2: 90.6171	valid_0's l1: 5.77353
[272]	valid_0's l2: 90.3645	valid_0's l1: 5.76438
[273]	valid_0's l2: 90.1715	valid_0's l1: 5.75465
[274]	valid_0's l2: 90.0191	valid_0's l1: 5.74641
[275]	valid_0's l2: 89.7222	valid_0's l1: 5.73598
[276]	valid_0's l2: 89.6249	valid_0's l1: 5.72921
[277]	valid_0's l2: 89.3356	valid_0's l1: 5.71905
[278]	valid_0's l2: 89.1986	valid_0's l1: 5.71014
[279]	valid_0's l2: 88.9684	valid_0's l1: 5.70182
[280]	valid_0's l2: 88.827	valid_0's l1: 5.69342
[281]	valid_0's l2: 88.6231	valid_0's l1: 5.68504
[282]	valid_0's l2: 88.4616	valid_0's l1: 5.6765
[283]	valid_0's l2: 88.196	valid_0's l1: 5.66728
[284]	valid_0's l2: 88.0977	valid_0's l1: 5.66035
[285]	valid_0's l2: 87.8653	valid_0's l1: 5.65144
[286]	valid_0's l2: 87.7745	valid_0's l1: 5.64425
[287]	valid_0's l2: 87.7158	valid_0's l1: 5.63775
[288]	valid_0's l2: 87.5314	valid_0's l1: 5.63003
[289]	valid_0's l2: 87.445	valid_0's l1: 5.62273
[290]	valid_0's l2: 87.2435	valid_0's l1: 5.61525
[291]	valid_0's l2: 87.1101	valid_0's l1: 5.60748
[292]	valid_0's l2: 86.9	valid_0's l1: 5.59942
[293]	valid_0's l2: 86.8066	valid_0's l1: 5.59325
[294]	valid_0's l2: 86.617	valid_0's l1: 5.58599
[295]	valid_0's l2: 86.5341	valid_0's l1: 5.57943
[296]	valid_0's l2: 86.4881	valid_0's l1: 5.5737
[297]	valid_0's l2: 86.2631	valid_0's l1: 5.56525
[298]	valid_0's l2: 86.2195	valid_0's l1: 5.55954
[299]	valid_0's l2: 86.0285	valid_0's l1: 5.55137
[300]	valid_0's l2: 85.9521	valid_0's l1: 5.54594
[301]	valid_0's l2: 85.7389	valid_0's l1: 5.53784
[302]	valid_0's l2: 85.6663	valid_0's l1: 5.53246
[303]	valid_0's l2: 85.4556	valid_0's l1: 5.52441
[304]	valid_0's l2: 85.4225	valid_0's l1: 5.51943
[305]	valid_0's l2: 85.2278	valid_0's l1: 5.5128
[306]	valid_0's l2: 85.1321	valid_0's l1: 5.50624
[307]	valid_0's l2: 84.9302	valid_0's l1: 5.49857
[308]	valid_0's l2: 84.8727	valid_0's l1: 5.49239
[309]	valid_0's l2: 84.7058	valid_0's l1: 5.48526
[310]	valid_0's l2: 84.6231	valid_0's l1: 5.47977
[311]	valid_0's l2: 84.5477	valid_0's l1: 5.47456
[312]	valid_0's l2: 84.387	valid_0's l1: 5.46847
[313]	valid_0's l2: 84.3283	valid_0's l1: 5.46327
[314]	valid_0's l2: 84.1718	valid_0's l1: 5.45723
[315]	valid_0's l2: 84.1376	valid_0's l1: 5.45256
[316]	valid_0's l2: 84.0136	valid_0's l1: 5.44724
[317]	valid_0's l2: 83.9398	valid_0's l1: 5.44231
[318]	valid_0's l2: 83.7896	valid_0's l1: 5.43659
[319]	valid_0's l2: 83.7256	valid_0's l1: 5.43171
[320]	valid_0's l2: 83.581	valid_0's l1: 5.42667
[321]	valid_0's l2: 83.5545	valid_0's l1: 5.42221
[322]	valid_0's l2: 83.4147	valid_0's l1: 5.41712
[323]	valid_0's l2: 83.3911	valid_0's l1: 5.41273
[324]	valid_0's l2: 83.2663	valid_0's l1: 5.40812
[325]	valid_0's l2: 83.2122	valid_0's l1: 5.4036
[326]	valid_0's l2: 83.1743	valid_0's l1: 5.39936
[327]	valid_0's l2: 83.0191	valid_0's l1: 5.39434
[328]	valid_0's l2: 82.9831	valid_0's l1: 5.39072
[329]	valid_0's l2: 82.8456	valid_0's l1: 5.38616
[330]	valid_0's l2: 82.8174	valid_0's l1: 5.38285
[331]	valid_0's l2: 82.6682	valid_0's l1: 5.37826
[332]	valid_0's l2: 82.6452	valid_0's l1: 5.37458
[333]	valid_0's l2: 82.524	valid_0's l1: 5.37056
[334]	valid_0's l2: 82.4913	valid_0's l1: 5.36703
[335]	valid_0's l2: 82.4514	valid_0's l1: 5.36343
[336]	valid_0's l2: 82.3315	valid_0's l1: 5.35991
[337]	valid_0's l2: 82.304	valid_0's l1: 5.35653
[338]	valid_0's l2: 82.1651	valid_0's l1: 5.35207
[339]	valid_0's l2: 82.1639	valid_0's l1: 5.34919
[340]	valid_0's l2: 82.0462	valid_0's l1: 5.34566
[341]	valid_0's l2: 82.0131	valid_0's l1: 5.34241
[342]	valid_0's l2: 81.9095	valid_0's l1: 5.33921
[343]	valid_0's l2: 81.8746	valid_0's l1: 5.33648
[344]	valid_0's l2: 81.7861	valid_0's l1: 5.33338
[345]	valid_0's l2: 81.7683	valid_0's l1: 5.33082
[346]	valid_0's l2: 81.7449	valid_0's l1: 5.32783
[347]	valid_0's l2: 81.6442	valid_0's l1: 5.32485
[348]	valid_0's l2: 81.6282	valid_0's l1: 5.32226
[349]	valid_0's l2: 81.534	valid_0's l1: 5.32001
[350]	valid_0's l2: 81.5363	valid_0's l1: 5.31771
[351]	valid_0's l2: 81.4368	valid_0's l1: 5.31461
[352]	valid_0's l2: 81.4271	valid_0's l1: 5.31186
[353]	valid_0's l2: 81.3309	valid_0's l1: 5.3095
[354]	valid_0's l2: 81.3087	valid_0's l1: 5.30675
[355]	valid_0's l2: 81.2195	valid_0's l1: 5.30406
[356]	valid_0's l2: 81.2186	valid_0's l1: 5.3018
[357]	valid_0's l2: 81.2114	valid_0's l1: 5.29938
[358]	valid_0's l2: 81.1179	valid_0's l1: 5.29662
[359]	valid_0's l2: 81.1448	valid_0's l1: 5.29548
[360]	valid_0's l2: 81.0571	valid_0's l1: 5.29281
[361]	valid_0's l2: 81.0855	valid_0's l1: 5.2917
[362]	valid_0's l2: 80.9877	valid_0's l1: 5.28878
[363]	valid_0's l2: 80.9832	valid_0's l1: 5.28653
[364]	valid_0's l2: 80.8639	valid_0's l1: 5.28322
[365]	valid_0's l2: 80.8732	valid_0's l1: 5.28203
[366]	valid_0's l2: 80.7787	valid_0's l1: 5.27953
[367]	valid_0's l2: 80.7881	valid_0's l1: 5.2771
[368]	valid_0's l2: 80.6824	valid_0's l1: 5.2743
[369]	valid_0's l2: 80.6779	valid_0's l1: 5.27281
[370]	valid_0's l2: 80.6844	valid_0's l1: 5.2711
[371]	valid_0's l2: 80.5759	valid_0's l1: 5.26879
[372]	valid_0's l2: 80.5907	valid_0's l1: 5.26701
[373]	valid_0's l2: 80.4865	valid_0's l1: 5.26408
[374]	valid_0's l2: 80.4774	valid_0's l1: 5.26195
[375]	valid_0's l2: 80.3777	valid_0's l1: 5.25921
[376]	valid_0's l2: 80.3828	valid_0's l1: 5.25723

[377]	valid_0's l2: 80.2763	valid_0's l1: 5.25466
[378]	valid_0's l2: 80.2808	valid_0's l1: 5.25272
[379]	valid_0's l2: 80.1715	valid_0's l1: 5.24996
[380]	valid_0's l2: 80.1657	valid_0's l1: 5.2479
[381]	valid_0's l2: 80.1996	valid_0's l1: 5.24645
[382]	valid_0's l2: 80.0922	valid_0's l1: 5.24364
[383]	valid_0's l2: 80.0882	valid_0's l1: 5.24122
[384]	valid_0's l2: 79.9696	valid_0's l1: 5.23806
[385]	valid_0's l2: 79.9652	valid_0's l1: 5.23564
[386]	valid_0's l2: 79.8639	valid_0's l1: 5.23297
[387]	valid_0's l2: 79.8648	valid_0's l1: 5.23119
[388]	valid_0's l2: 79.7467	valid_0's l1: 5.22797
[389]	valid_0's l2: 79.7493	valid_0's l1: 5.22627
[390]	valid_0's l2: 79.6437	valid_0's l1: 5.22376
[391]	valid_0's l2: 79.641	valid_0's l1: 5.22172
[392]	valid_0's l2: 79.5334	valid_0's l1: 5.21914
[393]	valid_0's l2: 79.5677	valid_0's l1: 5.21859
[394]	valid_0's l2: 79.6038	valid_0's l1: 5.2176
[395]	valid_0's l2: 79.512	valid_0's l1: 5.21551
[396]	valid_0's l2: 79.5342	valid_0's l1: 5.21432
[397]	valid_0's l2: 79.4319	valid_0's l1: 5.21191
[398]	valid_0's l2: 79.4373	valid_0's l1: 5.20978
[399]	valid_0's l2: 79.3493	valid_0's l1: 5.20818
[400]	valid_0's l2: 79.377	valid_0's l1: 5.2075
[401]	valid_0's l2: 79.2737	valid_0's l1: 5.20517
[402]	valid_0's l2: 79.305	valid_0's l1: 5.20457
[403]	valid_0's l2: 79.335	valid_0's l1: 5.20324
[404]	valid_0's l2: 79.236	valid_0's l1: 5.2015
[405]	valid_0's l2: 79.2433	valid_0's l1: 5.20009
[406]	valid_0's l2: 79.1561	valid_0's l1: 5.19838
[407]	valid_0's l2: 79.1724	valid_0's l1: 5.19724
[408]	valid_0's l2: 79.0772	valid_0's l1: 5.19537
[409]	valid_0's l2: 79.1078	valid_0's l1: 5.1944
[410]	valid_0's l2: 79.0124	valid_0's l1: 5.19261
[411]	valid_0's l2: 79.0523	valid_0's l1: 5.19248
[412]	valid_0's l2: 78.9779	valid_0's l1: 5.19089
[413]	valid_0's l2: 79.0145	valid_0's l1: 5.18957
[414]	valid_0's l2: 78.9331	valid_0's l1: 5.18807
[415]	valid_0's l2: 78.9649	valid_0's l1: 5.18718
[416]	valid_0's l2: 78.9973	valid_0's l1: 5.18631
[417]	valid_0's l2: 78.9245	valid_0's l1: 5.18482
[418]	valid_0's l2: 78.9615	valid_0's l1: 5.18436
[419]	valid_0's l2: 78.8812	valid_0's l1: 5.18309
[420]	valid_0's l2: 78.8966	valid_0's l1: 5.18181
[421]	valid_0's l2: 78.8274	valid_0's l1: 5.18055
[422]	valid_0's l2: 78.857	valid_0's l1: 5.17983
[423]	valid_0's l2: 78.7785	valid_0's l1: 5.17809
[424]	valid_0's l2: 78.8186	valid_0's l1: 5.17781
[425]	valid_0's l2: 78.7476	valid_0's l1: 5.17676
[426]	valid_0's l2: 78.7843	valid_0's l1: 5.17596
[427]	valid_0's l2: 78.7085	valid_0's l1: 5.1744
[428]	valid_0's l2: 78.7323	valid_0's l1: 5.17387
[429]	valid_0's l2: 78.7524	valid_0's l1: 5.17308
[430]	valid_0's l2: 78.676	valid_0's l1: 5.17151
[431]	valid_0's l2: 78.7002	valid_0's l1: 5.1711
[432]	valid_0's l2: 78.6271	valid_0's l1: 5.1699
[433]	valid_0's l2: 78.6497	valid_0's l1: 5.16909
[434]	valid_0's l2: 78.5756	valid_0's l1: 5.168
[435]	valid_0's l2: 78.6179	valid_0's l1: 5.16737
[436]	valid_0's l2: 78.6406	valid_0's l1: 5.16637
[437]	valid_0's l2: 78.5688	valid_0's l1: 5.16519
[438]	valid_0's l2: 78.5978	valid_0's l1: 5.16445
[439]	valid_0's l2: 78.524	valid_0's l1: 5.16325
[440]	valid_0's l2: 78.5827	valid_0's l1: 5.16312
[441]	valid_0's l2: 78.5059	valid_0's l1: 5.16218
[442]	valid_0's l2: 78.5619	valid_0's l1: 5.16188
[443]	valid_0's l2: 78.4867	valid_0's l1: 5.16075
[444]	valid_0's l2: 78.5288	valid_0's l1: 5.16034
[445]	valid_0's l2: 78.5622	valid_0's l1: 5.15974
[446]	valid_0's l2: 78.4884	valid_0's l1: 5.15873
[447]	valid_0's l2: 78.5287	valid_0's l1: 5.1586
[448]	valid_0's l2: 78.4535	valid_0's l1: 5.15768
[449]	valid_0's l2: 78.5116	valid_0's l1: 5.15771
[450]	valid_0's l2: 78.4312	valid_0's l1: 5.15637
[451]	valid_0's l2: 78.4575	valid_0's l1: 5.15583
[452]	valid_0's l2: 78.3806	valid_0's l1: 5.15452
[453]	valid_0's l2: 78.42	valid_0's l1: 5.15424
[454]	valid_0's l2: 78.343	valid_0's l1: 5.15272
[455]	valid_0's l2: 78.3771	valid_0's l1: 5.15232
[456]	valid_0's l2: 78.4128	valid_0's l1: 5.15194
[457]	valid_0's l2: 78.3459	valid_0's l1: 5.15116
[458]	valid_0's l2: 78.3659	valid_0's l1: 5.15026
[459]	valid_0's l2: 78.296	valid_0's l1: 5.14915
[460]	valid_0's l2: 78.3313	valid_0's l1: 5.1488
[461]	valid_0's l2: 78.2675	valid_0's l1: 5.14799
[462]	valid_0's l2: 78.2194	valid_0's l1: 5.14681
[463]	valid_0's l2: 78.2601	valid_0's l1: 5.14669
[464]	valid_0's l2: 78.1939	valid_0's l1: 5.14594
[465]	valid_0's l2: 78.1483	valid_0's l1: 5.14479
[466]	valid_0's l2: 78.0822	valid_0's l1: 5.14376
[467]	valid_0's l2: 78.0389	valid_0's l1: 5.14264
[468]	valid_0's l2: 78.0963	valid_0's l1: 5.14236
[469]	valid_0's l2: 78.0308	valid_0's l1: 5.14142
[470]	valid_0's l2: 78.0019	valid_0's l1: 5.14061
[471]	valid_0's l2: 78.0594	valid_0's l1: 5.14034
[472]	valid_0's l2: 78.0325	valid_0's l1: 5.13953
[473]	valid_0's l2: 77.9863	valid_0's l1: 5.13898
[474]	valid_0's l2: 77.9199	valid_0's l1: 5.13782
[475]	valid_0's l2: 77.8981	valid_0's l1: 5.1375
[476]	valid_0's l2: 77.9558	valid_0's l1: 5.13768
[477]	valid_0's l2: 77.9324	valid_0's l1: 5.13713
[478]	valid_0's l2: 77.8843	valid_0's l1: 5.13628
[479]	valid_0's l2: 77.8231	valid_0's l1: 5.13534
[480]	valid_0's l2: 77.805	valid_0's l1: 5.13548
[481]	valid_0's l2: 77.856	valid_0's l1: 5.13536
[482]	valid_0's l2: 77.8371	valid_0's l1: 5.1354
[483]	valid_0's l2: 77.7928	valid_0's l1: 5.13489
[484]	valid_0's l2: 77.7408	valid_0's l1: 5.13405
[485]	valid_0's l2: 77.719	valid_0's l1: 5.13468
[486]	valid_0's l2: 77.7545	valid_0's l1: 5.13448
[487]	valid_0's l2: 77.6871	valid_0's l1: 5.13351
[488]	valid_0's l2: 77.6958	valid_0's l1: 5.13465
[489]	valid_0's l2: 77.6293	valid_0's l1: 5.13332
[490]	valid_0's l2: 77.6744	valid_0's l1: 5.13323
[491]	valid_0's l2: 77.6621	valid_0's l1: 5.1341
[492]	valid_0's l2: 77.6107	valid_0's l1: 5.13369
[493]	valid_0's l2: 77.5983	valid_0's l1: 5.13475
[494]	valid_0's l2: 77.655	valid_0's l1: 5.1349
[495]	valid_0's l2: 77.613	valid_0's l1: 5.13438
Early stopping, best iteration is:
[490]	valid_0's l2: 77.6744	valid_0's l1: 5.13323
______________________________________________________________________________
LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       importance_type='split', learning_rate=0.01, max_depth=-1,
       min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
       n_estimators=1000, n_jobs=-1, num_leaves=31, objective=None,
       random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
       subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
______________________________________________________________________________
EV score. Train:  0.9502526112789665
EV score. Test:  0.9475638987533156
---------
R2 score. Train:  0.9502526112789665
R2 score. Test:  0.9475604557953153
---------
MSE score. Train:  99.71338970204013
MSE score. Test:  103.3942539700888
---------
MAE score. Train:  5.037060649204952
MAE score. Test:  5.491738391631012
---------
MdAE score. Train:  2.450370745147154
MdAE score. Test:  2.6224623322155303

<a id = '2.5'></a>
[Return to top](#top)
## 2.6 KNeighborsRegressor, RadiusNeighborsRegressor

In [279]:
kn_reg = KNeighborsRegressor(n_neighbors=15)
kn_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(kn_reg, X_train, X_val, y_train)
scores(kn_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=15, p=2,
          weights='uniform')
______________________________________________________________________________
EV score. Train:  0.878192838935565
EV score. Test:  0.8735390583160714
---------
R2 score. Train:  0.8781626269839805
R2 score. Test:  0.8735349978522711
---------
MSE score. Train:  244.21015390266302
MSE score. Test:  249.34912666960224
---------
MAE score. Train:  9.008264462809917
MAE score. Test:  9.683135182738882
---------
MdAE score. Train:  6.0
MdAE score. Test:  6.600000000000001

In [270]:
rn_reg = RadiusNeighborsRegressor()
rn_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(rn_reg, X_train, X_val, y_train)
scores(rn_reg, y_train, y_val, y_train_reg, y_val_reg)

/anaconda3/lib/python3.7/site-packages/sklearn/neighbors/regression.py:327: UserWarning: One or more samples have no neighbors within specified radius; predicting NaN.
  warnings.warn(empty_warning_msg)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

<a id = '2.6'></a>
[Return to top](#top)
## 2.7 DecisionTreeRegressor

In [271]:
dt_reg = DecisionTreeRegressor()
dt_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(dt_reg, X_train, X_val, y_train)
scores(dt_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')
______________________________________________________________________________
EV score. Train:  1.0
EV score. Test:  0.9191238810938537
---------
R2 score. Train:  1.0
R2 score. Test:  0.9190762438402957
---------
MSE score. Train:  0.0
MSE score. Test:  159.556142668428
---------
MAE score. Train:  0.0
MAE score. Test:  7.040951122853369
---------
MdAE score. Train:  0.0
MdAE score. Test:  3.0

<a id = '2.7'></a>
[Return to top](#top)
## 2.8 Ridge, RidgeCV, BayesianRidge

In [272]:
rid_reg = Ridge()
rid_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(rid_reg, X_train, X_val, y_train)
scores(rid_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)
______________________________________________________________________________
EV score. Train:  0.8981549357430179
EV score. Test:  0.919890468999592
---------
R2 score. Train:  0.8981549357430179
R2 score. Test:  0.91985315200942
---------
MSE score. Train:  204.1376812446049
MSE score. Test:  158.02432461454998
---------
MAE score. Train:  7.750697731906151
MAE score. Test:  7.508358275398075
---------
MdAE score. Train:  4.839286205074245
MdAE score. Test:  4.81923982899831

In [273]:
ric_reg = RidgeCV()
ric_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(ric_reg, X_train, X_val, y_train)
scores(ric_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=None, fit_intercept=True,
    gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)
______________________________________________________________________________
EV score. Train:  0.8981612262379698
EV score. Test:  0.9199505194232724
---------
R2 score. Train:  0.8981612262379698
R2 score. Test:  0.9199132750590173
---------
MSE score. Train:  204.12507261145478
MSE score. Test:  157.90578090953107
---------
MAE score. Train:  7.761587964543445
MAE score. Test:  7.512450593590548
---------
MdAE score. Train:  4.860150403449019
MdAE score. Test:  4.833637515845901

In [278]:
br_reg = BayesianRidge()
br_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(br_reg, X_train, X_val, y_train)
scores(br_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, tol=0.001, verbose=False)
______________________________________________________________________________
EV score. Train:  0.89816004695681
EV score. Test:  0.9199289300025952
---------
R2 score. Train:  0.89816004695681
R2 score. Test:  0.9198916578636681
---------
MSE score. Train:  204.12743635606282
MSE score. Test:  157.9484032057383
---------
MAE score. Train:  7.757357677417258
MAE score. Test:  7.510697496671471
---------
MdAE score. Train:  4.85668244584528
MdAE score. Test:  4.828157065033793

<a id = '2.8'></a>
[Return to top](#top)
## 2.9 HuberRegressor, TheilSenRegressor, RANSACRegressor

In [274]:
hu_reg = HuberRegressor()
hu_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(hu_reg, X_train, X_val, y_train)
scores(hu_reg, y_train, y_val, y_train_reg, y_val_reg)

ValueError: HuberRegressor convergence failed: l-BFGS-b solver terminated with ABNORMAL_TERMINATION_IN_LNSRCH

In [275]:
ts_reg = TheilSenRegressor()
ts_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(ts_reg, X_train, X_val, y_train)
scores(ts_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
TheilSenRegressor(copy_X=True, fit_intercept=True, max_iter=300,
         max_subpopulation=10000, n_jobs=None, n_subsamples=None,
         random_state=None, tol=0.001, verbose=False)
______________________________________________________________________________
EV score. Train:  0.8966777596112083
EV score. Test:  0.9188482938582059
---------
R2 score. Train:  0.8965800826714498
R2 score. Test:  0.9185703429653861
---------
MSE score. Train:  207.29430799599692
MSE score. Test:  160.5536197506072
---------
MAE score. Train:  7.383378289285568
MAE score. Test:  7.221021340305988
---------
MdAE score. Train:  4.2467034871488885
MdAE score. Test:  4.374320506033023

In [276]:
ran_reg = RANSACRegressor()
ran_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(ran_reg, X_train, X_val, y_train)
scores(ran_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
RANSACRegressor(base_estimator=None, is_data_valid=None, is_model_valid=None,
        loss='absolute_loss', max_skips=inf, max_trials=100,
        min_samples=None, random_state=None, residual_threshold=None,
        stop_n_inliers=inf, stop_probability=0.99, stop_score=inf)
______________________________________________________________________________
EV score. Train:  0.877903443722479
EV score. Test:  0.8993603433390723
---------
R2 score. Train:  0.8757445146190722
R2 score. Test:  0.8967379961484484
---------
MSE score. Train:  249.05700489895403
MSE score. Test:  203.60012684347134
---------
MAE score. Train:  8.20226756198347
MAE score. Test:  8.3978285997358
---------
MdAE score. Train:  4.7578125
MdAE score. Test:  4.9921875

<a id = '2.9'></a>
[Return to top](#top)
## 2.10 MLPRegressor

In [280]:
mlp_reg = MLPRegressor(max_iter=3000)
mlp_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(mlp_reg, X_train, X_val, y_train)
scores(mlp_reg, y_train, y_val, y_train_reg, y_val_reg)

______________________________________________________________________________
MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=3000, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)
______________________________________________________________________________
EV score. Train:  0.9788633615629966
EV score. Test:  0.9510816128608172
---------
R2 score. Train:  0.9787801211999556
R2 score. Test:  0.9509333378022458
---------
MSE score. Train:  42.53300723147842
MSE score. Test:  96.74399367273571
---------
MAE score. Train:  3.9425694479255466
MAE score. Test:  5.990499012713531
---------
MdAE score. Train:  2.3556697911454307
MdAE score. Test:  3.5175109700969447

<a id = '2.10'></a>
[Return to top](#top)
## 2.11 SVR

In [282]:
from sklearn.svm import SVR
svr_reg = SVR(degree = 7)
svr_reg.fit(X_train, y_train)
y_train_reg, y_val_reg = regression(svr_reg, X_train, X_val, y_train)
scores(svr_reg, y_train, y_val, y_train_reg, y_val_reg)

/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

______________________________________________________________________________
SVR(C=1.0, cache_size=200, coef0=0.0, degree=7, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)
______________________________________________________________________________
EV score. Train:  0.2963694366945323
EV score. Test:  0.29846331616214594
---------
R2 score. Train:  0.19857460498913337
R2 score. Test:  0.19804898822502426
---------
MSE score. Train:  1606.37261139382
MSE score. Test:  1581.194646913506
---------
MAE score. Train:  16.98826734845107
MAE score. Test:  16.96512084481775
---------
MdAE score. Train:  3.352665231377216
MdAE score. Test:  3.5421261333878213

<a id = '3'></a>
[Return to top](#top)
# 3. Tuning hyperparameters

We will use boosting methods.